.settings-page {
    width: 800px;
    min-height: 200px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 4px;
    margin-bottom: 10px;

    .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline { // wtf bootstrap! reset
    	padding-top:initial;
    }

    .form-control {
        height: 30px;
        margin-top: -5px;
    }

    select {
        -moz-appearance: none;
    }

    .settings-for {
        padding: 20px 28px;
    }

    .navigation {
        height: 50px;
        text-align: center;
        line-height: 50px;
        border-bottom: 1px solid #e7e7e7;
        .tab-header {
            margin-right: 35px;
            font-size: 15px;
            color: #999999;
            display: inline-block;
            height: 50px;
            cursor: pointer;
            letter-spacing:0.5px;
            &:hover, &.active {
                border-bottom: 3px solid #61c13e;
                color: #61c13e;
                text-shadow:0 0 0 #61c13e;
            }
            &.active {
            }
        }
    }
	.navigation {
		display:table;
		width:100%;
		margin:0;
		.tab-header {
			display:table-cell;
			margin:0;
		}
	}

    .info-page,
    .notifications-page,
    .connected-accounts-page,
    .privacy-page,
    .subscriptions-page {
        padding: 25px 30px 15px 30px;
    }

    .info-page {
        .control-label {
            width: 160px;
        }
    }
    .control-group {
        margin-bottom: 25px;
        .control-label {
            padding-top: 0;
        }
        .controls {
        	display: inline-block;
            margin-left: 20px;
            max-width:65%;
            .form-control {
                width: 200px;
                margin-bottom: 5px;
            }
            .checkbox {
                margin-left: 20px;
            }
        }
        .checkbox {
            clear:both;
        }
    }
    .control-group.control-nickname .checkbox {
    	padding-top:7px;
    }
    .edit-field,
    .edit-actions {
        display: none;
    }
    .edit-mode {
        .edit-hide {
            display: none;
        }
        .edit-field,
        .edit-actions {
            display: block;
        }
    }
    .edit-actions {
        text-align: center;
        .btn {
            width: 100px;
        }
        .btn:first-child {
            margin-right: 15px;
        }
    }
    //notifications page
    .notifications-page {
        .parent-fieldset {
            position: relative;
            legend {
                margin-left: 0;
                margin-bottom: 55px;
                line-height: 40px;
            }
            .icons {
                position: absolute;
                top: 0px;
                width: 100%;

                img {
                    margin-left: 50px;
                }

                .email {
                    margin-right: 5px;
                }
            }
            .icons-legend {
                position: absolute;
                top: 50px;
                width: 100%;
                right: -31px;
                span {
			color: #999;
			font-size: 13px;
			margin: 0;
			width: 86px;
			padding: 0 3px;
			text-align: center;
                }
            }
            .form-group {
                margin-left: 0;
                margin-bottom: 40px;
            }
            .controls {
                margin-top: -20px;
            }
            input[type='checkbox'] {
                position: absolute;
                &.email {
                    right: 176px;
                }
                &.inapp {
                    right: 94px;
                }
                &.push {
                    right: 12px;
                }
            }
            .push-settings {
                legend {
                    margin-bottom: 25px;
                }
                input {
                    position: relative;
                }
                margin-bottom: 25px;
            }
        }
    }
    //connected accounts page
    .connected-accounts-page {
        .form-horizontal {
            width: 94%;
            margin: 0 auto;
        }

        .extra-fb {
            .control-group:first-child {
                padding-top: 0 !important;
            }

            .controls {
                margin-left: 0 !important;
                width: 350px;
            }

            .disconnect {
                margin: 0;
                vertical-align: middle;
                height: 22px;
                display: inline-block;
                margin-left: 10px;
            }
        }

        .fb-pages {
            select {
                margin-top: -5px;
            }
        }

        .identity, .disconnect {
            font-size: 15px;
            color: #999999;
            margin-top: 7px;
        }

        .connect {
            text-align: center;
            margin-top: 10px;
        }

        .disconnect {
            margin-left: 3px;

            &, a {
                color: #999999;
            }

            a {
                text-decoration: underline;
            }
        }

        .fb-logo.connected {
            background-color: #3E559D;
        }

        .twitter-logo.connected {
            background-color: #05B4D1;
        }

        .twitter-connected,
        .tumblr-connected,
        .facebook-connected {
            input[type='checkbox'] {
                margin-left: 45px;
                margin-right: 10px;
                position: static;
            }
        }

        .google-logo.connected {
            background-color: #FB4553;
        }

        .instagram-logo.connected {
            background-color: #2e70a3;
        }

        .youtube-logo.connected{
            background-color: #C8312C;
        }

        .tumblr-logo.connected {
            background-color: #36465d;
        }

        .logo {
            background-color: #A8A8A8;
            border-radius: 50%;
            color: #ffffff;
            height: 30px;
            width: 30px;
            text-align: center;
            font-size: 16px;
            line-height: 30px;

            .ynicon {
                vertical-align: middle;
            }
        }
        .control-group {
            margin-left: 45px;
            margin-right: 45px;

            legend {
                width: 90%;
                margin-left: 15px;
                padding-bottom: 5px;
            }
        }

        .control-label {
            text-align: left;
            width: 130px;
        }

        .instructions {
            margin-left: 45px;
        }

        .extra-fb {
            .control-group:last-child {
                padding-top: 25px;
            }
        }

        .notice {
            font-size: 12px;
            text-align: center;
            color: #999999;

            a {
                color: #333;
            }
        }

        .edit-actions {
            margin-top: 10px;
        }
    }

    //privacy page
    .privacy-page {
        .edit-actions {
            margin-top: 10px;
        }

        .deactivate {

            .instructions {
                font-size: 16px;
                margin-bottom: 10px;
                font-weight: bold;
            }

            .note {
                margin-bottom: 10px;
            }
        }
    }

	.subscriptions-page {
		.sthumbs {
			text-align:center;
			padding:5px;
			.sthumbs_image {
				height: 70px;
				margin: 6px auto 18px;
				padding-right:12px;
			}
			.thumb {
				margin:15px;
			}
		}
		.thumb {
			width: 55px;
			height: 55px;
			border-radius: 50%;
			margin-right: 10px;
			display: inline-block;
			position: relative;
			margin-top: 1px;
			.ynbadge {
				color: #76b343;
				display: block;
				position: absolute;
				bottom: -5px;
				right: -5px;
				width:24px;
				height:24px;
				img {
					height:100%;
					width:100%;
				}
			}
		}
		.stitle {
			font-size: 24px;
			text-align: center;
			font-weight: 100;
		}
		.stext {
			margin: 40px auto;
			width:400px;
			padding-left:20px;
			b {
				display:block;
			}
			ul {
				margin: 16px 0 16px 16px;
				li {
					list-style-type:disc;
				}
			}
		}

		.subscriptions {
			.sub {
				display:table;
				margin: 11px 22px 33px 44px;
			}
			.sleft {
				display:table-cell;
				vertical-align:top;
				padding-top:3px;
			}
			.sright {
				display:table-cell;
				vertical-align:top;
				> span {
					display:block;
				}
				.spay {
					padding-left:33px;
				}
				.pay-profile {
					font-weight:bold;
				}
				.pay-price {
				}
				.pay-due {
				}
				.pay-modify {
				}
				.pay-warn {
					color:red;
 				}
			}
		}

		.btn-confirm {
			margin-top:5px;
		}
		.btn-modify {
			background:#fff;
			color:#999;
			border:none;
			min-wdith:auto;
			display:inline-block;
			padding-left:0;
			margin-left:0;
		}
	}

	.isEmailConfirmed {
		color:#61c13e;
		width:auto;
		padding-left:15px;
	}

    .nickname-warning {
        font-style: italic;
        font-size: 12px;
        margin-top: 5px;
    }

    .youtube-privacy {
        width: 100px;
        display: inline-block;
    }

    .contentid-disclaimer {
        font-size: 12px;
        margin-top: 10px;
        color: #999999;
        text-align: center;
    }

}
