<ion-view>
	<ion-content class="home">
		<div ng-hide="user === undefined">
			<div class="list card" ng-show="user">
				<div class="item item-avatar profile">
					<img ng-src="{{ user.profileImg }}">
					<h2 class="profile-user">Welcome, {{ user.displayName }}</h2>
				</div>
			</div>

			<div ng-hide="user">
				<div>
					<button ng-click="vm.login('facebook')" class="">
					<i class="ion-social-facebook"></i> Log in with Facebook
					</button>
					<button ng-click="vm.login('google')" class="">
					<i class="ion-social-google"></i> Log in with Google+
					</button>
					<button ng-click="vm.login('github')" class="">
					<i class="ion-social-github"></i> Log in with Github
					</button>
				</div>
				<div class="center-align">
					<b class="or">or</b>
				</div>
				<div>
					<button ui-sref="tasks" class="button button-full button-dark bold">Continue as Guest</button>
				</div>
			</div>
			<div ng-show="user">
				<button ui-sref="tasks" class="button button-full button-dark bold">My Tasks</button>
				<button ng-click="vm.logout()" class="button button-full button-stable bold">Logout</button>
			</div>
		</div>
	</ion-content>
</ion-view>