<ion-view>

	<div class="my-content">
	
		<div class="my-top">

			<div class="my-top-title uui-title" ng-if="user">
				My Lists ... {{vm.listReady}}
			</div>
			<div class="my-top-title uui-title" ng-if="!user && vm.lists !== undefined">
				Community Lists
			</div>

			<div>
				<button ng-click="vm.slickConfig.method.slickPrev()">&laquo;</button>
				<button ng-click="vm.slickConfig.method.slickNext()">&raquo;</button>
			</div>

			<div class="my-nav">
				<a class="uui-icon icon-connection" href="/"></a> <span class="uui-text">suggest a source</span> 
				<span class="uui-text">...</span>
				<span ng-if="user.displayName">
					<span class="uui-text">welcome, {{ user.displayName }} (<a href="/" prevent-default ng-click="vm.logout()">logout</a>)</span>
				</span>
				<span ng-if="!user.displayName">
					<span class="uui-text">login to save your search: </span> 
					<button class="uui-icon icon-facebook" ng-click="vm.login('facebook')"></button>
					<button class="uui-icon icon-google" ng-click="vm.login('google')"></button>
					<button class="uui-icon icon-github" ng-click="vm.login('github')"></button>
					<a class="uui-icon icon-unlocked"  href="/" prevent-default ng-click="vm.clearActive(); vm.addList()"></a>
				</span>
			</div>

			<div>
				<label class="item item-input item-select">
					<select ng-change="vm.listAdd()" ng-model="vm.list.data.category">
						<option selected value="">WHAT</option>
						<option selected value="">anything</option>
						<option selected value="">-</option>
						<option ng-repeat="cat in vm.categories" value="{{cat.title}}">{{cat.title}}</option>
					</select>
				</label>
				<label class="item item-input item-select">
					<select ng-change="vm.listAdd()" ng-model="vm.list.data.time">
						<option selected value="">WHEN</option>
						<option selected value="">anytime</option>
						<option selected value="">-</option>
						<option selected value="today">today</option>
						<option selected value="tomorrow">tomorrow</option>
						<option selected value="this week">this week</option>
						<option selected value="this month">this month</option>
					</select>
				</label>
				<label class="item item-input item-select">
					<select ng-change="vm.listAdd()" ng-model="vm.list.data.scene">
						<option selected value="">[.]NYC</option>
						<option selected value="">every type</option>
						<option selected value="">-</option>
						<option ng-repeat="cat in vm.categories" value="{{cat.title}}">{{cat.title}}</option>
					</select>
				</label>
			</div>

		</div>

		<div>
			<slick settings="vm.slickConfig" ng-if="vm.listsReady" class="mylis">

				<!-- user Lists -->
				<div class="myli" ng-repeat="list in vm.lists | orderObjectBy:'sortorder':true" ng-if="list.count">
					<div class="myli-header">
						<span class="myli-buttons myli-buttons-left">
							<button class="uui-icon uui-hollow icon-checkbox-checked uui-hover-yellow" ng-click="vm.listAdd(list)"></button>
						</span>
						<span class="myli-title">
							<span class="uui-title">{{ list.data.uid }} </span>
							<span class="uui-title">{{ list.data.category }}</span>
							<span class="uui-title">{{ list.data.time }}</span>
							<span class="uui-title">{{ list.data.scene }}</span>
							<span class="uui-title">{{ list.data.text }}</span>
						</span>
						<span class="myli-buttons myli-buttons-right">
							<button class="uui-icon uui-hollow ion-close" ng-click="vm.listRemove(list)"></button>
						</span>
					</div>
					<div class="myli-events" ng-bind-html="list.html"></div>
				</div>

			</slick>
		</div>

	</div>

</ion-view>