<ion-view>
	
	<div class="my-top">

		<div class="my-top-title uui-title" ng-if="my-ser">
			{{vm.lists.length}} Lists
		</div>
		<div class="my-top-title uui-title" ng-if="!user && vm.lists !== undefined">
			Community Lists
		</div>

		<div class="my-nav">
			<a class="uui-icon icon-connection" href="/" prevent-default ng-click="vm.clearActive(); vm.addList()"></a> <span class="uui-text">suggest a source</span> 
			<span class="uui-text">...</span>
			<span ng-if="my-ser.displayName">
				<span class="uui-text">welcome, {{ user.displayName }} (<a href="/" prevent-default ng-click="vm.logout()">logout</a>)</span>
			</span>
			<span ng-if="!user.displayName">
				<span class="uui-text">login to save your search: </span> 
				<button class="uui-icon icon-facebook" ng-click="vm.login('facebook')"></button>
				<button class="uui-icon icon-google" ng-click="vm.login('google')"></button>
				<button class="uui-icon icon-github" ng-click="vm.login('github')"></button>
				<a class="uui-icon icon-unlocked"  href="/" prevent-default ng-click="vm.clearActive(); vm.addList()"></a>
			</span>
		</div>

	</div>

	<div class="my-content">

		<div class="my-lists">

			<div class="my-list" ng-repeat="item in vm.lists" ng-class="{ 'active' : item.id === vm.active }" on-tap="vm.setActive(item._id)">
				<div class="my-list-header">
					<span class="my-list-buttons ulist-buttons-left">
						<button class="uui-icon uui-hint-subtle icon-checkbox-checked" ng-click="vm.setStatus(item)" ng-class="{ 'balanced' : item.complete }"></button>
					</span>
					<span class="my-list-title">
						<span class="uui-title">{{ item.category }}</span>
						<span class="uui-title">{{ item.time }}</span>
						<span class="uui-title">{{ item.scene }}</span>
						<span class="uui-title">{{ item.text }}</span>
					</span>
					<span class="my-list-buttons ulist-buttons-right">
						<button class="uui-icon uui-hollow ion-edit" ng-click="vm.editList(item._id)"></button>
						<button class="uui-icon uui-hollow ion-close" ng-click="vm.deleteList(item._id)"></button>
					</span>
				</div>

				<div class="my-list-events" id="{{item.id}}_events"></div>
			</div>

		</div>

		<div class="card" ng-show="vm.lists.length === 0">
			<div class="item item-body center-align">
				<h2 class="dark">
					Umm..it's empty in here..
				</h2>
				<h2 class="dark">
					Try adding a list by clicking the <i class="ion-plus-circled dark"></i>icon in the top right corner.
				</h2>
			</div>
		</div>

	</div>

</ion-view>