<div class="modal">
<ion-modal-view ng-class="{ 'isMobile': client.isMobile }" data-tap-disabled="true">
	<ion-header-bar>
		<h1 class="title"></h1>
		<button class="button button-clear button-primary" ng-click="vm.closeModals()">X</button>
	</ion-header-bar>
	<ion-content>

		<div class="modal-options modal-links">
			
			<label class="options-options" ng-if="!user.displayName">
				<span class="uui-icon icon-pushpin"></span> <span class="uui-text">login to sync your lists: </span>
				<div class="options-icons">
					<a class="uui-button uui-icon-button ion-social-facebook" href="/" prevent-default ng-click="vm.login('facebook')"></a>
					<a class="uui-button uui-icon-button ion-social-google" href="/" prevent-default ng-click="vm.login('google')"></a>
					<a class="uui-button uui-icon-button ion-social-github" href="/" prevent-default ng-click="vm.login('github')"></a>
				</div>
			</label>

			<a class="uui-button" href="/" prevent-default ng-click="vm.clearActive(); vm.addList()">
				<span class="uui-icon icon-hipster2"></span> <span class="uui-text">about us / get involved </span>
			</a>
			<a class="uui-button" href="/" prevent-default ng-click="vm.clearActive(); vm.addList()">
				<span class="uui-icon icon-link"></span> <span class="uui-text">add / remove a source </span>
			</a>
			<a class="uui-button" ng-if="user.displayName" href="/" prevent-default ng-click="vm.logout()">
				<span class="uui-text">logout, {{ user.displayName }}</span>
			</a>
		</div>

	</ion-content>
</ion-modal-view>
</div>