@font-face {
  font-family: homepage_bold;
  src: url(/images/about/fonts/helveticabold.ttf); }

@font-face {
  font-family: homepage_light;
  src: url(/images/about/fonts/helveticalight.ttf); }

#page_home {
  font-smoothing: antialiased;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  /*
		LAYOUT
		should be fixed, content should be relative
	*/
  /*
		STYLES
	*/
  background: #ffffff;
  color: #5A5A5A;
  /*
		HEADER
		should be fixed, content should be relative
	*/
  /*   section
		INTRO
		video
	*/
  /*   section
		LOGIN BUTTONS
		also included bottom of page
	*/
  /* responsive */
  /*   section
		WITH YOU
	*/
  /*   section
		PROMO VIDEO
	*/
  /*   section
		COMMUNITY REVIEWS
	*/
  /*   section
		GET APP
	*/
  /*   section
		WATCH NOW BUTTON
	*/
  /*   section
		ABOUT
	*/ }
  #page_home .container, #page_home .content {
    margin: 0 auto;
    max-width: 960px;
    width: auto; }
    @media only screen and (max-width: 1200px) {
      #page_home .container, #page_home .content {
        max-width: 810px; } }
    @media only screen and (max-width: 900px) {
      #page_home .container, #page_home .content {
        max-width: 700px; } }
    @media only screen and (max-width: 800px) {
      #page_home .container, #page_home .content {
        max-width: 660px; } }
    @media only screen and (max-width: 700px) {
      #page_home .container, #page_home .content {
        max-width: 500px; } }
    @media only screen and (max-width: 530px) {
      #page_home .container, #page_home .content {
        max-width: 500px;
        padding-left: 15px !important;
        padding-right: 15px !important; } }
  #page_home * {
    z-index: 1; }
  #page_home section {
    font-size: 16px; }
  #page_home h2 {
    font-size: 200%;
    font-weight: 900;
    color: #333333;
    margin-bottom: 10px;
    font-family: homepage_bold, "Segoe UI", Helvetica, sans-serif;
    letter-spacing: 0.5px; }
  #page_home header {
    position: absolute;
    width: 100%;
    z-index: 10; }
    #page_home header .logo {
      display: inline-block;
      width: 129px;
      height: 56px; }
      #page_home header .logo img {
        height: 100%;
        width: auto;
        transform: rotate(-0.5deg); }
  #page_home .intro {
    height: 600px;
    vertical-align: bottom;
    position: relative;
    margin-top: 0;
    width: 100%; }
    #page_home .intro .intro_video, #page_home .intro .intro_photo {
      position: absolute;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      background-size: cover;
      background-color: none; }
    #page_home .intro .intro_photo {
      background-size: cover;
      display: block;
      background-position: center;
      background-repeat: no-repeat; }
      @media only screen and (min-width: 700px) {
        #page_home .intro .intro_photo {
          display: none; } }
    #page_home .intro .intro_content {
      position: absolute;
      width: 100%;
      bottom: 10px; }
      #page_home .intro .intro_content .content {
        text-align: center;
        color: #fff; }
        #page_home .intro .intro_content .content .intro_text1 {
          font-size: 280%;
          font-weight: 700; }
        #page_home .intro .intro_content .content .intro_text2 {
          font-size: 120%;
          line-height: 120%;
          font-weight: 200;
          padding: 10px 0; }
  #page_home .lbuttons {
    padding: 5px 0 0 0;
    text-align: center;
    /* android & iphone */
    /* social */ }
    #page_home .lbuttons .lbuttons_text, #page_home .lbuttons .lbuttons_subtext {
      color: #fff;
      opacity: 0.75;
      font-family: homepage_light, "Segoe UI", Helvetica, sans-serif; }
      #page_home .lbuttons .lbuttons_text a, #page_home .lbuttons .lbuttons_subtext a {
        color: #fff;
        font-weight: bold; }
    #page_home .lbuttons .lbuttons_text {
      font-size: 85%;
      padding: 6px 0 12px; }
    #page_home .lbuttons .lbuttons_subtext {
      margin: 5px;
      font-size: 70%; }
    #page_home .lbuttons .lbuttons_buttons {
      padding: 0;
      max-width: 800px;
      margin: 0 auto; }
      #page_home .lbuttons .lbuttons_buttons .lbuttons_button {
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
        width: 23.5%;
        max-width: 200px;
        margin: 0 0.5% 0 0;
        height: 38px;
        line-heigth: 38px;
        border-radius: 4px;
        text-decoration: none;
        color: #fff; }
        #page_home .lbuttons .lbuttons_buttons .lbuttons_button :last-child {
          margin-right: 0; }
        #page_home .lbuttons .lbuttons_buttons .lbuttons_button img {
          height: 100%;
          width: auto;
          vertical-align: middle;
          padding: 3% 0 3% 0; }
        #page_home .lbuttons .lbuttons_buttons .lbuttons_button span {
          font-weight: bold;
          vertical-align: middle;
          color: #fff; }
    #page_home .lbuttons .x_apps .lbuttons_button {
      height: auto;
      width: 47%;
      max-width: 270px;
      margin: 3px 2.5% 12px 0;
      border-radius: 10px; }
      #page_home .lbuttons .x_apps .lbuttons_button img {
        height: auto;
        width: 100%;
        vertical-align: middle;
        padding: 0; }
      @media only screen and (max-width: 500px) {
        #page_home .lbuttons .x_apps .lbuttons_button {
          width: 67%;
          margin: 0 0 12px; } }
    #page_home .lbuttons .x_apps .lbuttons_button.watchnow {
      background-color: #61c13e;
      height: 68px;
      line-height: 68px;
      font-size: 150%;
      font-family: homepage_light, Segoe UI, Helvetica, sans-serif; }
    #page_home .lbuttons .x_apps .lbuttons_button.watchnow:hover {
      background-color: #72cd50; }
    #page_home .lbuttons .x_dark .lbuttons_button {
      background-color: #000000; }
    #page_home .lbuttons .x_dark .lbuttons_button:hover {
      background-color: #333333; }
    #page_home .lbuttons .lbuttons_button.facebook {
      background-color: #3759BD; }
    #page_home .lbuttons .lbuttons_button.twitter {
      background-color: #01AFF6; }
    #page_home .lbuttons .lbuttons_button.google {
      background-color: #D7423E; }
    #page_home .lbuttons .lbuttons_button.instagram {
      background-color: #35618E; }
  #page_home .x_small {
    display: none; }
  @media only screen and (max-width: 700px) {
    #page_home .x_small {
      display: block; }

    #page_home .x_large {
      display: none; }
 }
  #page_home .wy {
    padding-top: 50px;
    text-align: center; }
    #page_home .wy .wy_columns {
      padding-top: 10px;
      font-weight: normal; }
      #page_home .wy .wy_columns .wy_column {
        width: 30%;
        margin: 0 2% 0 0;
        display: inline-block;
        font-weight: normal;
        vertical-align: top; }
        #page_home .wy .wy_columns .wy_column .image {
          padding-bottom: 10px; }
        #page_home .wy .wy_columns .wy_column .title {
          font-size: 150%;
          line-height: 120%;
          font-weight: 100;
          font-family: homepage_light, "Segoe UI", Helvetica, sans-serif;
          padding-bottom: 10px; }
        #page_home .wy .wy_columns .wy_column .text {
          font-size: 95%;
          line-height: 120%;
          padding: 5px 5px 45px;
          font-weight: 100;
          text-align: left; }
        @media only screen and (max-width: 700px) {
          #page_home .wy .wy_columns .wy_column {
            width: 60%;
            font-size: 120%; } }
      #page_home .wy .wy_columns .wy_column:last-child {
        margin: 0; }
  #page_home .pv {
    position: relative;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    height: 50vw; }
    #page_home .pv .pv_video {
      position: absolute;
      width: 100%;
      height: auto;
      margin-top: -3vw; }
      #page_home .pv .pv_video ::-webkit-media-controls {
        display: none !important; }
      #page_home .pv .pv_video ::-moz-media-controls {
        display: none !important; }
    #page_home .pv .pv_play {
      position: absolute;
      top: 50%;
      left: 50%;
      background-size: cover !important;
      width: 15%;
      padding-bottom: 15%;
      margin: -7.5% 0 0 -7.5%;
      cursor: pointer; }
  #page_home .cr {
    background-size: cover;
    text-align: center;
    font-family: homepage_light, Segoe UI, Helvetica, sans-serif; }
    #page_home .cr .content {
      padding: 30px 75px 0px;
      max-width: 833px; }
      #page_home .cr .content .cr_reviews {
        padding: 15px 0 25px; }
        #page_home .cr .content .cr_reviews .cr_review {
          font-size: 123%;
          line-height: 133%; }
        #page_home .cr .content .cr_reviews .cr_signature {
          padding: 20px 0 35px;
          text-indent: 5px; }
          #page_home .cr .content .cr_reviews .cr_signature * {
            display: inline-block;
            vertical-align: middle; }
    @media only screen and (max-width: 959px) {
      #page_home .cr {
        background-image: url(../../images/about/back_quote2.png); } }
    @media only screen and (max-width: 767px) {
      #page_home .cr {
        background-image: url(../../images/about/back_quote3.png); } }
    @media only screen and (max-width: 480px) {
      #page_home .cr {
        background-image: url(../../images/about/back_quote4.png); } }
  #page_home .getapp {
    text-align: center; }
    #page_home .getapp .content {
      padding: 50px 0; }
      #page_home .getapp .content .getapp_image {
        width: 100%;
        height: auto;
        padding-right: 10px; }
  #page_home .watchnow {
    background: #f4f8ef;
    text-align: center; }
    #page_home .watchnow .content {
      padding: 50px 0; }
    @media only screen and (max-width: 700px) {
      #page_home .watchnow {
        display: none; } }
  #page_home .about {
    text-align: center; }
    #page_home .about a {
      color: #999;
      text-decoration: none; }
    #page_home .about .content {
      padding: 50px 0; }
      #page_home .about .content .maincontent {
        margin: 30px 0 0 0;
        text-align: left; }
        #page_home .about .content .maincontent p {
          margin: 20px 0 20px 1%; }
