/*
	TOOLTIPS 
*/
.tooltip {
  z-index:5050 !important;
  /* fix */
  &.top .tooltip-arrow {
    border-bottom-color:transparent !important;
    border-left-color:transparent !important;
    border-right-color:transparent !important;
  }
  &.bottom .tooltip-arrow {
    border-top-color:transparent !important;
    border-left-color:transparent !important;
    border-right-color:transparent !important;
  }
  &.left .tooltip-arrow {
    border-top-color:transparent !important;
    border-bottom-color:transparent !important;
    border-right-color:transparent !important;
  }
  &.right .tooltip-arrow {
    border-top-color:transparent !important;
    border-bottom-color:transparent !important;
    border-left-color:transparent !important;
  }
  /* custom */
  &.error {
    .tooltip-arrow {
      border-color: #c82828;
    }
    .tooltip-inner {
      background-color: #c82828;
      min-width:100px;
    }
  }
}