<div class="modal-body">
    <div class="partner-modal-wrapper">
      <button aria-hidden="true" class="pull-right close" ng-click="$dismiss()"  id="accept-modal-close" type="button">
        <i class="ynicon ynicon-close"></i>
      </button>
      <div class="partner-title" translate="partner_congratulations"></div>
      <div class="partner-message" translate="partner_you_have_been_accepted"></div>
      <div class="btn-container">
        <button class="btn btn-confirm" ng-click="continue()" translate="_continue"></button>
      </div>
  </div>
</div>