.partner-modal {
  width: 382px; }
  .partner-modal .btn-container {
    text-align: center;
    position: relative;
    padding-top: 30px; }
  .partner-modal .btn-confirm {
    padding: 4px 30px;
    font-weight: 300 !important;
    font-size: 20px; }
  .partner-modal .partner-modal-wrapper {
    width: 350px;
    height: 210px;
    text-align: center;
    margin: 0px; }
  .partner-modal .partner-message {
    width: 310px;
    padding-left: 16px;
    text-align: center;
    position: relative;
    padding-top: 8px;
    color: #444;
    font-size: 14px;
    -webkit-font-smoothing: antialiased; }
  .partner-modal .partner-title {
    text-align: center;
    position: relative;
    padding-top: 30px;
    color: #444;
    font-size: 26px;
    font-family: Arial;
    width: 330px; }
