/* copied from app */
/*
	badges
*/
.ynbadges {
  display: inline-block;
  vertical-align: top; }
  .ynbadges .ynbadge img {
    margin-left: 3px;
    margin-right: 3px; }
  .ynbadges .ynbadge span {
    margin-left: -3px; }

.ynbadge {
  display: inline-block;
  vertical-align: middle; }
  .ynbadge * {
    display: inline-block;
    vertical-align: middle; }
  .ynbadge img {
    height: 17px;
    margin-top: -2px;
    margin-bottom: 2px; }
  .ynbadge span {
    color: inherit;
    font-weight: normal;
    line-height: 12px;
    margin-top: -1px;
    color: #787878; }
  .ynbadge .dropdown-menu .ynicon-carrot-dwn {
    right: 0; }

/*
	user thumbs
*/
/* old background-image thumbs - parent is cropped */
.circle-thumb {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: cover !important;
  background-position: center !important;
  position: relative; }
  .circle-thumb.circle-thumb-sm {
    width: 20px;
    height: 20px; }

/* new <img> thumbs - child is cropped */
.circle-thumb.crop-thumb .thumb-image {
  border-radius: 50% !important;
  overflow: hidden !important; }

.thumb, .circle-thumb.crop-thumb {
  background-size: cover !important;
  background-position: center !important;
  display: block;
  position: relative; }
  .thumb .thumb-image, .circle-thumb.crop-thumb .thumb-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-position: center !important; }
    .thumb .thumb-image .thumb-image-wide, .circle-thumb.crop-thumb .thumb-image .thumb-image-wide {
      position: absolute;
      top: 0;
      left: -50%;
      width: 200%;
      height: 100%;
      text-align: center; }
      .thumb .thumb-image .thumb-image-wide .thumb-image-img, .circle-thumb.crop-thumb .thumb-image .thumb-image-wide .thumb-image-img {
        display: inline-block;
        height: 100%; }

/* autoprefixer: off */
@supports  {
  .line-clamp {
    /* autoprefixer: off */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; }

  .line-clamp:after {
    display: none; } }

.line-clamp {
  position: relative; }

.line-clamp:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 12%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #FFF 50%) repeat scroll 0% 0% transparent; }

span[translate] {
  display: inline-block;
  vertical-align: middle; }
  span[translate].inline {
    display: inline; }

.ellipsify, .short-text {
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  display: inline-block; }
  .ellipsify > *:last-child, .short-text > *:last-child {
    display: inline !important; }

.transline > * {
  display: inline-block !important;
  vertical-align: baseline !important;
  margin-bottom: 0 !important; }

.transline-top > * {
  display: inline-block !important;
  vertical-align: top !important;
  margin-top: 0 !important; }

.transline-mid > * {
  display: inline-block !important;
  vertical-align: middle !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }
