/*  HEIGHTS of all parent-layout-level elements should be controlled at the bottom in height section */
#sidebar-container.loading-bc {
  opacity: 0.7;
  cursor: default;
  pointer-events: none; }

#sidebar-container {
  background-color: #ffffff;
  width: 400px;
  border-radius: 4px;
  position: relative;
  margin-left: 14px;
  font-size: 13px;
  transition: opacity 0.4s ease-in-out; }
  #sidebar-container span, #sidebar-container a {
    color: inherit; }
  #sidebar-container .bar {
    width: 13px;
    transition: width 1s ease; }
  #sidebar-container .sidebar-tab > div {
    padding: 0px 20px; }
  #sidebar-container .sidebar-header {
    padding-top: 0px;
    background-color: #e7e7e7;
    display: table;
    width: 100%; }
    #sidebar-container .sidebar-header .tab-icon:hover {
      color: #333; }
    #sidebar-container .sidebar-header .tab-icon:nth-child(2) {
      width: 160px; }
    #sidebar-container .sidebar-header, #sidebar-container .sidebar-header .tab-icon:first-child {
      border-top-left-radius: 4px; }
    #sidebar-container .sidebar-header, #sidebar-container .sidebar-header .tab-icon:last-child {
      border-top-right-radius: 4px; }
    #sidebar-container .sidebar-header .tab-icon {
      display: table-cell;
      color: #666666;
      cursor: pointer;
      position: relative;
      width: 120px;
      text-align: center;
      background-color: #e7e7e7;
      font-weight: bold; }
      #sidebar-container .sidebar-header .tab-icon span {
        max-width: 86px;
        font-weight: inherit; }
      #sidebar-container .sidebar-header .tab-icon .fanmail-notification {
        height: 26px;
        width: 26px;
        position: absolute;
        top: 0px;
        right: 0px;
        display: none; }
      #sidebar-container .sidebar-header .tab-icon .active-notification {
        display: block !important; }
      #sidebar-container .sidebar-header .tab-icon .ynicon {
        font-size: 18px;
        vertical-align: middle;
        margin-right: 5px; }
      #sidebar-container .sidebar-header .tab-icon.selected {
        color: #333;
        font-weight: bold;
        background-color: #fff; }
      #sidebar-container .sidebar-header .tab-icon.optedIn {
        color: #61c13e; }
    #sidebar-container .sidebar-header .guest-gif {
      width: 23.784px;
      margin-right: 5px; }
  #sidebar-container .no-top-fans {
    height: 0 !important;
    padding: 0 !important;
    border: 0 !important; }
  #sidebar-container #topfan-slider::-webkit-scrollbar {
    width: 0px;
    height: 0px; }
  #sidebar-container #topfan-slider:hover {
    overflow: auto;
    overflow: -moz-scrollbars-none; }
  #sidebar-container #topfan-slider {
    overflow: hidden;
    white-space: nowrap;
    color: #333333;
    font-size: 13px;
    transition: all 0.4s ease-in-out;
    width: 357px;
    padding: 13px 20px 5px 5px;
    margin: 0 20px; }
    #sidebar-container #topfan-slider .top-fan {
      vertical-align: top;
      display: inline-block;
      margin-right: 20px;
      height: 47px;
      width: 190px;
      overflow: visible; }
      #sidebar-container #topfan-slider .top-fan > * {
        display: inline-block;
        vertical-align: middle; }
      #sidebar-container #topfan-slider .top-fan i.ynbar {
        margin: -5px -3px -3px -1px;
        font-size: 120%; }
      #sidebar-container #topfan-slider .top-fan:last-child {
        width: 330px;
        margin-right: 10px; }
        #sidebar-container #topfan-slider .top-fan:last-child .thumb {
          display: inline-block;
          vertical-align: middle; }
        #sidebar-container #topfan-slider .top-fan:last-child .see-text {
          display: inline-block;
          vertical-align: middle;
          width: 190px;
          white-space: normal;
          padding-top: 0;
          line-height: 15px; }
          #sidebar-container #topfan-slider .top-fan:last-child .see-text span {
            display: inline-block;
            font-weight: bold;
            overflow: hidden; }
          #sidebar-container #topfan-slider .top-fan:last-child .see-text .short-text {
            max-width: 59px; }
        #sidebar-container #topfan-slider .top-fan:last-child .btn-confirm {
          margin-left: 10px; }
      #sidebar-container #topfan-slider .top-fan .circle-thumb {
        margin-right: 10px; }
      #sidebar-container #topfan-slider .top-fan .fan-name {
        max-width: 158px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis; }
      #sidebar-container #topfan-slider .top-fan .fan-details div:nth-child(2) {
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 150px; }
  #sidebar-container .topfan-slider-divider {
    width: 400px;
    border-bottom: 1px solid #e7e7e7; }
  #sidebar-container .fan-mail-available {
    padding-top: 15px !important;
    padding-bottom: 25px !important;
    height: 80px !important;
    overflow: visible !important; }
  #sidebar-container div.fan-mail-widget {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 0px;
    overflow: hidden;
    width: 400px;
    background-color: #dff5fc;
    position: absolute;
    z-index: 999;
    transition: all 0.7s ease; }
    #sidebar-container div.fan-mail-widget .comment-crowns-container {
      margin-left: 0px; }
      #sidebar-container div.fan-mail-widget .comment-crowns-container .comment-crowns .ynicon-icon-whale {
        margin-right: -5px;
        color: #f2b332; }
        #sidebar-container div.fan-mail-widget .comment-crowns-container .comment-crowns .ynicon-icon-whale:last-child {
          margin-right: 0; }
      #sidebar-container div.fan-mail-widget .comment-crowns-container .comment-crowns .ynicon-icon-whale2 {
        margin-right: -5px;
        color: #f90102; }
        #sidebar-container div.fan-mail-widget .comment-crowns-container .comment-crowns .ynicon-icon-whale2:last-child {
          margin-right: 0; }
    #sidebar-container div.fan-mail-widget .fan-mail-message, #sidebar-container div.fan-mail-widget .fan-mail-sender {
      display: inline-block;
      margin-left: 15px;
      width: 220px;
      color: #333333;
      font-size: 13px;
      word-wrap: break-word; }
    #sidebar-container div.fan-mail-widget .fan-mail-icon {
      position: absolute;
      top: -15px;
      left: -33px;
      z-index: -10;
      max-width: 130px;
      width: 66px;
      height: 66px; }
    #sidebar-container div.fan-mail-widget .thumb {
      position: relative; }
    #sidebar-container div.fan-mail-widget .fan-mail-sender span {
      display: inline-block;
      height: 15px; }
    #sidebar-container div.fan-mail-widget .fan-mail-sender .bar-cont {
      height: 14px; }
    #sidebar-container div.fan-mail-widget .fan-mail-sender .short-text {
      max-width: 170px;
      font-weight: bold; }
    #sidebar-container div.fan-mail-widget .fan-mail-sender, #sidebar-container div.fan-mail-widget .thumb, #sidebar-container div.fan-mail-widget .fan-mail-icon {
      cursor: pointer; }
    #sidebar-container div.fan-mail-widget .fan-mail-amount {
      font-weight: normal; }
    #sidebar-container div.fan-mail-widget .fan-mail-message {
      height: 39px;
      overflow-y: hidden;
      font-size: 14px; }
    #sidebar-container div.fan-mail-widget .msg-long {
      width: 270px; }
    #sidebar-container div.fan-mail-widget .actions {
      height: 50px;
      width: 89px;
      z-index: 999;
      position: absolute;
      right: 0;
      display: inline-block; }
      #sidebar-container div.fan-mail-widget .actions .accept, #sidebar-container div.fan-mail-widget .actions .decline {
        width: 54px;
        height: 20px;
        border: solid 1px;
        border-radius: 4px;
        font-size: 11px;
        border: 0;
        line-height: 19px;
        outline: none; }
      #sidebar-container div.fan-mail-widget .actions .accept {
        background-color: #61c13e;
        border-color: #568b08;
        color: #ffffff;
        margin-bottom: 7px; }
      #sidebar-container div.fan-mail-widget .actions .decline {
        background-color: #cccccc;
        border-color: #cccccc;
        color: #666666; }
      #sidebar-container div.fan-mail-widget .actions .close {
        margin-right: 10px;
        color: #47666F;
        font-size: 13px;
        font-weight: 700; }
      #sidebar-container div.fan-mail-widget .actions .close:hover {
        color: #79b9cd; }
      #sidebar-container div.fan-mail-widget .actions .close:focus {
        color: #47666F; }
      #sidebar-container div.fan-mail-widget .actions .decline:hover {
        background-color: #d9d9d9; }
      #sidebar-container div.fan-mail-widget .actions .decline:active {
        background-color: #cccccc; }
      #sidebar-container div.fan-mail-widget .actions .accept:hover {
        background-color: #67a40e; }
      #sidebar-container div.fan-mail-widget .actions .accept:active {
        background-color: #568b08; }
  #sidebar-container .next-fan, #sidebar-container .prev-fan {
    position: absolute;
    top: 42px;
    right: 0;
    height: 65px;
    width: 30px;
    padding: 0px;
    background-color: white;
    border: none; }
    #sidebar-container .next-fan img, #sidebar-container .prev-fan img {
      height: 100%; }
  #sidebar-container .prev-fan {
    left: 0; }
  #sidebar-container .next-fan:focus, #sidebar-container .prev-fan:focus {
    outline: none !important; }
  #sidebar-container #chatcomments {
    /* do not use #id selector t set height, set only by .class selectors, .chatcomments is default */
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden !important;
    transition: height 0.7s ease;
    z-index: 998;
    background-color: #ffffff;
    padding: 0; }
    #sidebar-container #chatcomments span {
      color: #666666; }
    #sidebar-container #chatcomments:hover {
      overflow: auto;
      overflow-y: auto; }
    #sidebar-container #chatcomments .chatcomment {
      padding: 6px 20px;
      -ms-word-break: break-all;
      word-break: break-all;
      width: 400px;
      word-break: break-word;
      overflow: hidden;
      hyphens: auto;
      min-height: 40px; }
      #sidebar-container #chatcomments .chatcomment.chat-mention {
        background-color: #f5f5f5;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff; }
        #sidebar-container #chatcomments .chatcomment.chat-mention + .chat-mention {
          border-top: 0; }
        #sidebar-container #chatcomments .chatcomment.chat-mention .ynicon-icon-reply {
          position: absolute;
          right: 11px;
          color: #666666; }
      #sidebar-container #chatcomments .chatcomment .comment-content {
        width: 311px;
        display: inline-block; }
        #sidebar-container #chatcomments .chatcomment .comment-content .ynicon-icon-reply {
          line-height: 0; }
      #sidebar-container #chatcomments .chatcomment .circle-thumb {
        margin-right: 5px;
        vertical-align: top; }
      #sidebar-container #chatcomments .chatcomment .selfie-container {
        vertical-align: top;
        display: inline-block;
        position: relative;
        width: 45px;
        height: 40px; }
        #sidebar-container #chatcomments .chatcomment .selfie-container .circle-thumb {
          z-index: 2;
          border: 1px solid transparent; }
        #sidebar-container #chatcomments .chatcomment .selfie-container .ynicon-icon-selfie {
          position: absolute;
          top: -1px;
          font-size: 43px;
          left: -9px;
          color: #BBB;
          z-index: 1;
          font-weight: normal !important; }
      #sidebar-container #chatcomments .chatcomment .ynicon-icon-whale {
        margin-right: -5px;
        color: #f2b332; }
        #sidebar-container #chatcomments .chatcomment .ynicon-icon-whale:last-child {
          margin-right: 0; }
      #sidebar-container #chatcomments .chatcomment .ynicon-icon-whale2 {
        margin-right: -5px;
        color: #f90102; }
        #sidebar-container #chatcomments .chatcomment .ynicon-icon-whale2:last-child {
          margin-right: 0; }
    #sidebar-container #chatcomments.chatMode0 .chatcomment.subscriber {
      font-weight: bold; }
      #sidebar-container #chatcomments.chatMode0 .chatcomment.subscriber * {
        font-weight: bold; }
    #sidebar-container #chatcomments .gift-quantity {
      font-weight: bold; }
    #sidebar-container #chatcomments .chat-name {
      font-weight: 600;
      cursor: pointer; }
    #sidebar-container #chatcomments .chat-name, #sidebar-container #chatcomments .ynicon-level {
      color: #464646; }
    #sidebar-container #chatcomments .ynicon-level {
      margin-right: -5px; }
    #sidebar-container #chatcomments .gift-copy {
      color: #464646;
      font-weight: bold; }
    #sidebar-container #chatcomments .moderator {
      color: #ed2a00 !important;
      cursor: default; }
    #sidebar-container #chatcomments .special-chat {
      font-weight: bold; }
    #sidebar-container #chatcomments .level {
      cursor: default; }
  #sidebar-container .scroll-toggle {
    position: absolute;
    right: 0;
    margin: -25px 20px 0 0;
    z-index: 1000;
    cursor: pointer;
    color: #666666;
    padding: 0 !important; }
    #sidebar-container .scroll-toggle.active {
      -webkit-animation: reportingAnimation 1s infinite;
      animation: reportingAnimation 1s infinite; }
    #sidebar-container .scroll-toggle:hover {
      color: #FF0000; }
    #sidebar-container .scroll-toggle i {
      vertical-align: middle;
      font-size: 18px; }
  #sidebar-container .progress {
    width: 400px;
    height: 0;
    background: #666666 !important;
    margin-top: -4px; }
    #sidebar-container .progress .progress-bar {
      background-color: #999999 !important; }
    #sidebar-container .progress div#a {
      background-image: none; }
  #sidebar-container .chat-alert-toolbar {
    position: absolute;
    width: 400px;
    height: 0;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 200;
    bottom: 33px;
    left: 0;
    z-index: 1000;
    transition: height 0.3s;
    background: #1e1e1e !important; }
  #sidebar-container .chat-alert-open {
    height: 50px;
    line-height: 50px; }
    #sidebar-container .chat-alert-open .progress {
      height: 4px; }
  #sidebar-container .chat_input_row {
    display: table;
    width: 100%; }
    #sidebar-container .chat_input_row > * {
      display: table-cell;
      overflow: hidden;
      width: 100%;
      vertical-align: top; }
  #sidebar-container #chatinput {
    border: 1px solid #e7e7e7;
    border-left: none;
    border-right: none;
    position: relative;
    background-color: #ffffff;
    padding-right: 10px !important;
    transition: all 0.7s ease; }
    #sidebar-container #chatinput ::-ms-clear {
      display: none;
      width: 0;
      height: 0; }
    #sidebar-container #chatinput ::-webkit-input-placeholder {
      /* WebKit browsers */
      color: rgba(0, 0, 0, 0.22); }
    #sidebar-container #chatinput :-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: rgba(0, 0, 0, 0.3); }
    #sidebar-container #chatinput ::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: rgba(0, 0, 0, 0.3); }
    #sidebar-container #chatinput :-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: rgba(0, 0, 0, 0.3); }
    #sidebar-container #chatinput form[name="vm.commentForm"] {
      height: 100%;
      margin: auto; }
    #sidebar-container #chatinput input {
      padding: 0;
      margin: 0;
      border: 0;
      border: none;
      height: calc(100% - 1px);
      box-shadow: none !important;
      font-size: 13px;
      color: #333333;
      outline: none;
      width: 100%; }
    #sidebar-container #chatinput button {
      margin: 4px 0 0 5px;
      transition: all 0.3s linear;
      max-width: 105px; }
      #sidebar-container #chatinput button.dim {
        border: 0px;
        background-color: transparent;
        color: #cccccc;
        font-weight: 300;
        font-size: 13px; }
        #sidebar-container #chatinput button.dim:hover {
          color: #333333; }
        #sidebar-container #chatinput button.dim:active {
          color: #cccccc; }
    #sidebar-container #chatinput button:focus {
      outline: none !important; }
    #sidebar-container #chatinput .characterCount {
      display: inline-block;
      color: #cccccc;
      padding-right: 10px;
      line-height: 12px;
      border-right: 1px solid #cccccc;
      width: 32px;
      text-align: right;
      margin: 11px 0; }
    #sidebar-container #chatinput .invalid {
      color: #e90419; }
  #sidebar-container #gifttray {
    padding-right: 0px;
    overflow: hidden;
    height: 60px;
    transition: margin 0.7s ease, height 0.7s ease;
    position: relative; }
    #sidebar-container #gifttray .coin-sm {
      margin-top: -5px; }
    #sidebar-container #gifttray .overlay {
      bottom: 0;
      left: 0;
      height: 62px;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      background-color: transparent;
      cursor: pointer; }
    #sidebar-container #gifttray .disabled-gift {
      opacity: 0.3; }
    #sidebar-container #gifttray .gift {
      width: 50px;
      margin: 5px;
      cursor: pointer;
      transition: all 0.2s ease; }
    #sidebar-container #gifttray .gifttray-basic {
      position: absolute;
      bottom: 0px;
      right: 0;
      width: 60px;
      margin-right: 15px;
      background-color: #ffffff;
      border-bottom-right-radius: 4px;
      z-index: 50;
      height: 55px; }
    #sidebar-container #gifttray .gifttray-extension:hover {
      overflow: auto; }
    #sidebar-container #gifttray .gifttray-extension {
      padding-right: 50px;
      position: relative;
      z-index: 1;
      overflow: hidden; }
    #sidebar-container #gifttray .gifttray-premium {
      background-color: #efefef;
      height: 0;
      width: 100%;
      transition: height 0.6s ease;
      margin-left: -20px;
      z-index: 60;
      position: absolute;
      bottom: 0;
      overflow: hidden; }
      #sidebar-container #gifttray .gifttray-premium .btn-confirm {
        margin: 20px auto 0 auto;
        display: block;
        min-width: 100px; }
      #sidebar-container #gifttray .gifttray-premium .bar-sm {
        height: 13px;
        width: 13px; }
      #sidebar-container #gifttray .gifttray-premium .circle-thumb {
        position: absolute;
        top: 5px;
        right: 0;
        width: 60px;
        height: 60px; }
    #sidebar-container #gifttray .premium-selected {
      height: 263px;
      border: 1px solid #e7e7e7;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      border-top: none; }
    #sidebar-container #gifttray .premium-gift {
      margin: 0 auto;
      display: block;
      margin-top: 30px;
      width: 100px;
      height: 88px;
      position: relative; }
      #sidebar-container #gifttray .premium-gift .fanmail {
        width: 70px; }
      #sidebar-container #gifttray .premium-gift .proposal {
        width: 44px;
        height: 44px;
        position: absolute;
        top: 22px;
        right: 28px; }
        #sidebar-container #gifttray .premium-gift .proposal.thumb {
          border-radius: 3px; }
    #sidebar-container #gifttray .premium-gift-name {
      margin: 10px auto 3px;
      display: block;
      max-width: 300px; }
      #sidebar-container #gifttray .premium-gift-name, #sidebar-container #gifttray .premium-gift-name span {
        text-align: center;
        font-weight: bold;
        font-size: 14px; }
      #sidebar-container #gifttray .premium-gift-name span {
        display: inline-block;
        overflow: hidden; }
    #sidebar-container #gifttray .premium-gift-desc {
      text-align: center;
      line-height: 16px; }
      #sidebar-container #gifttray .premium-gift-desc span {
        display: inline-block;
        overflow: hidden; }
      #sidebar-container #gifttray .premium-gift-desc .cooldown-timer {
        font-size: 14px;
        margin-top: 2px; }
      #sidebar-container #gifttray .premium-gift-desc .short-text {
        max-width: 130px; }
    #sidebar-container #gifttray .fanmail-desc {
      margin-bottom: 20px;
      position: relative; }
    #sidebar-container #gifttray .fanmail-name, #sidebar-container #gifttray .fanmail-name span {
      margin-top: 0; }
    #sidebar-container #gifttray .fanmail-input {
      width: 370px;
      height: 36px;
      border: solid 1px #e6e6e6;
      border-radius: 4px;
      outline: none;
      padding: 0 36px 0 10px;
      transition: all 0.3s ease-in-out;
      margin-top: 5px; }
    #sidebar-container #gifttray .fanmail-count {
      position: absolute;
      right: 20px;
      bottom: 7px;
      border-left: 1px solid #ccc;
      padding-left: 10px;
      color: #ccc; }
    #sidebar-container #gifttray .tip-cost {
      display: inline-block;
      margin: 10px 0 0;
      cursor: pointer;
      overflow: hidden;
      width: 60px;
      text-align: center;
      vertical-align: top; }
      #sidebar-container #gifttray .tip-cost:hover i.ynbar {
        font-size: 44px; }
      #sidebar-container #gifttray .tip-cost:hover span {
        font-weight: bold; }
      #sidebar-container #gifttray .tip-cost span {
        font-size: 14px; }
      #sidebar-container #gifttray .tip-cost span.selected {
        font-weight: bold; }
      #sidebar-container #gifttray .tip-cost span {
        display: block; }
      #sidebar-container #gifttray .tip-cost i.ynbar {
        font-size: 40px;
        transition: font-size 0.2s; }
    #sidebar-container #gifttray .toggle-tray-btn {
      width: 50px;
      display: inline-block;
      text-align: right;
      border-left: 1px solid #e7e7e7;
      margin-left: 5px;
      cursor: pointer;
      display: table;
      padding-left: 10px; }
      #sidebar-container #gifttray .toggle-tray-btn .ynicon {
        text-align: center;
        display: table-row;
        font-size: 15px;
        color: #8a8a8a; }
      #sidebar-container #gifttray .toggle-tray-btn .ynicon.ynicon-gift {
        font-size: 28px; }
      #sidebar-container #gifttray .toggle-tray-btn img {
        height: 50px; }
    #sidebar-container #gifttray .ynicon-close {
      color: #999;
      position: absolute;
      right: 15px;
      top: 15px;
      cursor: pointer; }
      #sidebar-container #gifttray .ynicon-close:hover {
        color: #ccc; }
  #sidebar-container .gift-tray-open, #sidebar-container .menu-mode {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px; }
  #sidebar-container .gift-tray-open {
    margin-top: 0px !important;
    height: 263px !important; }
    #sidebar-container .gift-tray-open .gifttray-extension {
      height: 225px; }
    #sidebar-container .gift-tray-open .gifttray-wallet {
      height: 40px; }
      #sidebar-container .gift-tray-open .gifttray-wallet i.ynbar {
        margin: -3px -4px -1px 1px;
        display: inline-block;
        font-size: 130%; }
    #sidebar-container .gift-tray-open .gift {
      margin-top: 20px !important; }
  #sidebar-container .gifttray-wallet {
    margin-left: -20px;
    padding: 0 5px 0 20px;
    transition: height 0.7s ease;
    overflow: hidden;
    height: 0;
    background-color: #efefef;
    line-height: 40px; }
    #sidebar-container .gifttray-wallet .current-broadcaster {
      font-weight: bold;
      max-width: 150px;
      display: inline-block;
      font-size: 13px; }
    #sidebar-container .gifttray-wallet img {
      width: 20px;
      margin-top: -3px; }
    #sidebar-container .gifttray-wallet img:first-child {
      width: 22px; }
    #sidebar-container .gifttray-wallet img, #sidebar-container .gifttray-wallet .btn-confirm {
      margin-left: 5px; }
  #sidebar-container .menu-mode {
    z-index: 1000; }

@-webkit-keyframes reportingAnimation {
  0% {
    color: #FF0000; }

  50% {
    color: #3759bd; }

  100% {
    color: #FF0000; } }

@keyframes reportingAnimation {
  0% {
    color: #FF0000; }

  50% {
    color: #3759bd; }

  100% {
    color: #FF0000; } }

#sidebar-container {
  position: relative;
  height: 584px; }
  #sidebar-container #gifttray {
    position: absolute;
    width: 100%;
    bottom: 0; }
  #sidebar-container #chatinput {
    height: 36px;
    position: absolute;
    width: 100%; }
  #sidebar-container .sidebar-header {
    height: 41px;
    line-height: 41px; }
  #sidebar-container .sidebar-tab {
    height: 543px; }
  #sidebar-container .chatcomments-mediumlarge #chatcomments {
    height: 380px; }
  #sidebar-container .chatcomments-mediumlarge #chatinput {
    bottom: 60px; }
  #sidebar-container .chatcomments-large #chatcomments {
    height: 445px; }
  #sidebar-container .chatcomments-large #chatinput {
    bottom: 60px; }
  #sidebar-container .chatcomments-medium #chatcomments {
    height: 242px; }
  #sidebar-container .chatcomments-medium #chatinput {
    bottom: 263px; }
  #sidebar-container .chatcomments-small #chatcomments {
    height: 177px; }
  #sidebar-container .chatcomments-small #chatinput {
    bottom: 263px; }

.fullscreen #sidebar-container {
  position: relative;
  height: 100vh;
  width: 400px; }
  .fullscreen #sidebar-container .sidebar-tab {
    height: calc(100% - 41px); }
  .fullscreen #sidebar-container .chatcomments-mediumlarge #chatcomments {
    height: calc(100% - 36px - 60px - 65px - 1px); }
  .fullscreen #sidebar-container .chatcomments-mediumlarge #chatinput {
    bottom: 60px; }
  .fullscreen #sidebar-container .chatcomments-large #chatcomments {
    height: calc(100% - 36px - 60px - 1px); }
  .fullscreen #sidebar-container .chatcomments-large #chatinput {
    bottom: 60px; }
  .fullscreen #sidebar-container .chatcomments-medium #chatcomments {
    height: calc(100% - 36px - 263px - 1px); }
  .fullscreen #sidebar-container .chatcomments-medium #chatinput {
    bottom: 263px; }
  .fullscreen #sidebar-container .chatcomments-small #chatcomments {
    height: calc(100% - 36px - 263px - 65px - 1px); }
  .fullscreen #sidebar-container .chatcomments-small #chatinput {
    bottom: 263px; }
  .fullscreen #sidebar-container .sidebar-header {
    display: none; }
  .fullscreen #sidebar-container .next-fan, .fullscreen #sidebar-container .prev-fan {
    top: 6px; }
  .fullscreen #sidebar-container .sidebar-tab {
    height: calc(100% - 6px);
    margin-top: 6px; }
