.share-broadcast-ctrl {
  width: 348px; }
  .share-broadcast-ctrl .share-message {
    width: 260px;
    text-align: center;
    margin: 0 auto; }
  .share-broadcast-ctrl .btn {
    height: 26px;
    width: 110px; }
  .share-broadcast-ctrl .form-control {
    margin-top: 15px;
    box-shadow: none;
    border-color: #e0e0e0;
    height: 30px;
    width: 295px;
    margin-left: auto;
    margin-right: auto; }
  .share-broadcast-ctrl .actions {
    margin: 25px 0 5px 0;
    text-align: center; }
    .share-broadcast-ctrl .actions .btn:first-child {
      margin-right: 10px; }
