.subscribe-modal-wrapper {
  /* CONTAINER */
  max-width: 470px;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 10%;
  /* LAYOUT */
  /* PAYMENT */
  /* CANCEL */
  /* OVERRIDES */ }
  .subscribe-modal-wrapper .modal-content {
    border: none;
    box-shadow: none; }
  .subscribe-modal-wrapper .modal-body {
    padding: 8% 8% 6%;
    background: #f0f0f0; }
  .subscribe-modal-wrapper .spanel {
    display: none; }
  .subscribe-modal-wrapper .show-initial .spanel.spanel-initial, .subscribe-modal-wrapper .show-email .spanel.spanel-email, .subscribe-modal-wrapper .show-payment .spanel.spanel-payment, .subscribe-modal-wrapper .show-thankyou .spanel.spanel-thankyou, .subscribe-modal-wrapper .show-cancel .spanel.spanel-cancel {
    display: block; }
  .subscribe-modal-wrapper .modal-top {
    text-align: center; }
    .subscribe-modal-wrapper .modal-top .portrait {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      margin-right: 10px;
      display: inline-block;
      position: relative;
      margin-top: 1px; }
      .subscribe-modal-wrapper .modal-top .portrait .ynbadge {
        color: #76b343;
        display: block;
        position: absolute;
        bottom: -5px;
        right: -5px;
        width: 24px;
        height: 24px; }
        .subscribe-modal-wrapper .modal-top .portrait .ynbadge img {
          height: 100%;
          width: 100%; }
    .subscribe-modal-wrapper .modal-top .heading {
      font-weight: 100;
      text-align: center;
      margin: 5px 0 13px 0;
      width: 380px;
      overflow: visible;
      text-overflow: ellipsis; }
  .subscribe-modal-wrapper .modal-middle {
    padding: 0 5% 5px; }
    .subscribe-modal-wrapper .modal-middle .title {
      margin: 5px 1px 10px; }
    .subscribe-modal-wrapper .modal-middle .list {
      margin: 15px -15px 15px 35px; }
      .subscribe-modal-wrapper .modal-middle .list p {
        margin: 0 0 0 15px;
        display: list-item; }
    .subscribe-modal-wrapper .modal-middle .ynbadge img {
      height: 20px;
      margin-top: -4px; }
    .subscribe-modal-wrapper .modal-middle input[type="text"], .subscribe-modal-wrapper .modal-middle input[type="email"] {
      width: 95%;
      padding: 4px;
      display: block;
      margin: 20px auto; }
  .subscribe-modal-wrapper .modal-bottom {
    border: none;
    text-align: center;
    margin: 20px 0 0; }
  .subscribe-modal-wrapper .modal-below {
    text-align: center; }
    .subscribe-modal-wrapper .modal-below .price {
      font-weight: bold; }
  .subscribe-modal-wrapper #braintree-dropin {
    display: block;
    min-height: 136px;
    margin: 20px auto; }
  .subscribe-modal-wrapper .btn-confirm {
    display: block;
    margin: 10px auto;
    background-color: #009cde;
    font-weight: 700;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px; }
    .subscribe-modal-wrapper .btn-confirm .spinning-container {
      position: absolute;
      margin: 0;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      line-height: 35px; }
      .subscribe-modal-wrapper .btn-confirm .spinning-container .spinning-loader {
        font-size: 2px;
        display: inline-block;
        margin: 0;
        text-align: center;
        vertical-align: middle; }
  .subscribe-modal-wrapper .spanel-cancel .modal-bottom {
    margin-top: 10px; }
  .subscribe-modal-wrapper .spanel-cancel .btn-confirmed-custom {
    background-color: #009cde;
    border-color: #009cde;
    color: #fff;
    margin-right: 20px; }
  .subscribe-modal-wrapper .modal-body.show-email .modal-middle, .subscribe-modal-wrapper .modal-body.show-payment .modal-middle {
    text-align: center; }
  .subscribe-modal-wrapper .btn {
    overflow: hidden;
    position: relative; }
  .subscribe-modal-wrapper #braintree-form {
    padding: 0 15px 15px;
    background-color: #fff;
    border-radius: 4px;
    display: block;
    position: relative;
    overflow: hidden;
    margin: 8px 0 0 0; }

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg); }

  to {
    -ms-transform: rotate(360deg); } }

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }

  to {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }

  to {
    transform: rotate(360deg); } }
