.newFooter {
  padding: 22px 0;
  background: #f7f7f7; }

.newFooter h10 {
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 24px;
  font-weight: normal; }

/*ADDED FOR PRESS VERSION  */
/* #Links
================================================== */
.newFooter a.but:link {
  text-decoration: none;
  color: #ffffff; }

.newFooter a.but:hover {
  text-decoration: none;
  color: #ffffff; }

.newFooter a.but:visited {
  text-decoration: none;
  color: #ffffff; }

.newFooter a.light:link {
  text-decoration: none;
  color: #cccccc; }

.newFooter a.light:hover {
  text-decoration: underline;
  color: #cccccc; }

.newFooter a.light:visited {
  text-decoration: none;
  color: #cccccc; }

.newFooter a:link {
  text-decoration: none;
  color: #999999; }

.newFooter a:visited {
  text-decoration: none;
  color: #999999;
  line-height: inherit; }

.newFooter a:hover {
  color: #999999 solid;
  text-decoration: underline; }

.newFooter a:active {
  color: #999999 solid;
  text-decoration: underline; }

.newFooter p a, p a:visited {
  line-height: inherit; }

.newFooter .footerdivider {
  color: #d8d8d8;
  margin: 0 3px; }

.newFooter .container {
  width: auto !important;
  max-width: 960px !important; }

.newFooter .footerlinks {
  float: left; }
  .newFooter .footerlinks .languages > * {
    color: #b4b4b4; }
  .newFooter .footerlinks .languages i > span {
    color: #a0a0a0; }

.newFooter .footericons {
  float: right; }

@media only screen and (max-width: 959px) {
  .newFooter {
    text-align: center; }

  .newFooter .footerlinks {
    float: none; }

  .newFooter .footericons {
    float: none;
    padding: 10px;
    clear: both; }

  .newFooter p {
    margin-top: 0;
    margin-bottom: 0; }
 }
