<ion-view ng-class="{ 'isMobile': client.isMobile }" data-tap-disabled="true" overflow-scroll="true">
	<div class="my-content" scroll-top>

		<!-- TOP NAV -->
		<div class="my-top top-mobile">
			<div class="top-logo" ng-click="modals.show('angular_html/modals/contribute.html')">
			</div>
			<div class="top-left">
				<span ng-click="modals.show('angular_html/modals/select.html')" class="top-find">
					<span class="uui-icon icon-plus"></span>
				</span>
				<span ng-click="modals.show('angular_html/modals/select.html')" class="top-search">
					<span class="uui-icon ion-search"></span>
					<span class="uui-text top-search-text">Search</span>
				</span>
			</div>
			<div class="top-right">
				<span ng-click="modals.show('angular_html/modals/options.html')" class="top-user">
					<span class="uui-text top-user-text">{{ (user.firstName || user.displayName) || 'Save' | firstWord}}</span>
					<span class="uui-icon icon-happy"></span>
				</span>
				<span ng-click="modals.show('angular_html/modals/options.html')" class="top-options">
					<span class="uui-icon icon-options-large"></span>
				</span>
			</div>
		</div>

		<!-- MAIN CONTENT -->
		<div class="my-lists">
			<div scrollable>
	 			<div class="my-lis">
					<div class="my-li" ng-repeat="list in vm.lists | orderObjectBy:'data.addedOn':true">
						
						<div class="my-li-header" ng-click="vm.listAdd(list)">
							<span class="my-li-title">
								<span class="uui-title a title-category">{{:: list.data.category || 'Anything' }} </span>
								<span class="uui-subtitle a title-time" ng-if="::list.data.time">{{:: list.data.time || 'Anytime' }} </span>
								<span class="uui-subtitle a title-scene" ng-if="::list.data.scene">{{:: list.data.scene || 'Any' }} </span>
								<span class="uui-subtitle a title-search" ng-if="::list.data.search">"{{:: list.data.search || 'Any' }}" </span>
							</span>
							<div class="my-li-header-buttons">
								<span class="uui-icon-hover-orange my-li-buttons my-li-buttons-left uui-icon icon-star"></span>
							</div>
						</div>
						
						<div class="my-li-events" eventslist data="::list.data">
						</div>

					</div>
				</div>
			</div>
			<span scrollable-left class="icon-column-arrow-left a"></span>
			<span scrollable-right class="icon-column-arrow-right a"></span>
		</div>

	</div>
</ion-view>