.gate-modal {
	text-align: center;
	width: 400px;
	button {
		width: 140px;
		text-align: center;
		font-size: 15px;
		margin: 20px 5px;
		font-weight: normal;
	}

	.modal-body {
		padding: 30px 0;
	}
}
.gate-title {
	font-size: 34px;
	font-weight: bold;
	margin: 20px 0 -5px;
}
.gate-message {
	font-size: 16px;
}
