.navbar {
  background-color: #333333;
  width: 100%;
  height: 50px;
  border-radius: 0;
  margin-bottom: 0;
  position: fixed;
  z-index: 3000;
  top: 0; }
  .navbar .dropdown-menu {
    right: 0;
    top: 0;
    margin-top: 39px;
    margin-right: -10px;
    z-index: 1060; }

.navbar-content {
  max-width: 1200px;
  /* needs left/right padding of 10px = 1180px */
  min-width: 890px;
  margin: 0 auto;
  height: 50px;
  padding: 10px; }
  .navbar-content .user-actions {
    padding-right: 1px; }
  .navbar-content [mobile-show].nav-logo {
    text-align: center;
    width: 100vw; }
  .navbar-content .nav-logo {
    display: inline-block;
    margin-right: 110px;
    margin-top: -7px;
    text-decoration: none; }
    .navbar-content .nav-logo img {
      height: 40px;
      width: auto;
      text-decoration: none;
      margin-left: 10px;
      /*transform: rotate(1deg);*/ }
  .navbar-content .search-box {
    width: 270px;
    height: 30px;
    text-align: left;
    margin: 0;
    position: relative; }
    .navbar-content .search-box ::-ms-clear {
      display: none;
      width: 0;
      height: 0; }
    .navbar-content .search-box .active {
      background-color: #efefef; }
      .navbar-content .search-box .active .line-clamp:after {
        background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(50%, #efefef)) repeat scroll 0% 0% transparent;
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #efefef 50%) repeat scroll 0% 0% transparent;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), #efefef 50%) repeat scroll 0% 0% transparent; }
  .navbar-content .user-icons {
    margin-left: 3px; }
  .navbar-content .notifications .dropdown-menu {
    padding-top: 0;
    padding-bottom: 0; }
    .navbar-content .notifications .dropdown-menu .ynicon-carrot-up {
      background-color: transparent !important; }
    .navbar-content .notifications .dropdown-menu .list > * {
      border-top: 1px solid #e7e7e7;
      cursor: pointer; }
      .navbar-content .notifications .dropdown-menu .list > *:first-child, .navbar-content .notifications .dropdown-menu .list > *:last-child {
        border-top: none; }
      .navbar-content .notifications .dropdown-menu .list > *:hover {
        background-color: #efefef; }
        .navbar-content .notifications .dropdown-menu .list > *:hover .description:after {
          background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(50%, #efefef)) repeat scroll 0% 0% transparent;
          background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #efefef 50%) repeat scroll 0% 0% transparent;
          background: linear-gradient(to right, rgba(255, 255, 255, 0), #efefef 50%) repeat scroll 0% 0% transparent; }
  .navbar-content .notifications .search-field {
    padding: 1px 10px;
    width: 100%;
    border: 0;
    color: #D6D6D6;
    font-size: 13px;
    background-color: #050505;
    height: 30px;
    margin-bottom: 0; }
  .navbar-content .notifications .ynicon-search {
    font-size: 19px;
    color: #999999;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer; }
  .navbar-content .explore-text, .navbar-content .login-text {
    margin-left: 15px; }
    .navbar-content .explore-text:hover a, .navbar-content .login-text:hover a {
      color: #cccccc; }
    .navbar-content .explore-text a, .navbar-content .login-text a {
      color: #999999;
      line-height: 30px;
      text-decoration: none; }
  .navbar-content .login-text a {
    line-height: 27px; }
  .navbar-content .user-actions button, .navbar-content .user-actions .circle-thumb {
    margin-left: 10px; }
  .navbar-content .user-actions .btn-primary, .navbar-content .user-actions .btn-confirm {
    font-size: 13px; }
  .navbar-content .user-actions .btn-primary {
    min-width: 80px;
    height: 26px; }
  .navbar-content .user-actions .btn-confirm {
    min-width: 100px;
    height: 26px; }
  .navbar-content .user-actions .btn-transparent {
    color: #7e7e7e; }
    .navbar-content .user-actions .btn-transparent .ynicon {
      font-size: 26px;
      position: relative; }
      .navbar-content .user-actions .btn-transparent .ynicon span {
        font-size: 10px;
        text-align: center;
        width: 100%;
        position: absolute;
        left: 0;
        line-height: 26px;
        font-weight: bold; }
  .navbar-content .user-actions .languages {
    margin-left: 10px !important;
    position: relative; }
  .navbar-content .user-actions .notifications {
    position: relative;
    @supports  {
      .line-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical; }

      .line-clamp:after {
        display: none; } }
 }
    .navbar-content .user-actions .notifications .empty {
      height: 56px;
      padding: 19px 0;
      text-align: center; }
    .navbar-content .user-actions .notifications .dropdown-menu {
      width: 300px; }
      .navbar-content .user-actions .notifications .dropdown-menu .ynicon-carrot-up {
        right: 0px; }
    .navbar-content .user-actions .notifications .circle-thumb {
      width: 40px;
      height: 40px; }
    .navbar-content .user-actions .notifications .feed {
      max-height: 300px;
      width: 100%; }
      .navbar-content .user-actions .notifications .feed .list li {
        overflow: hidden; }
    .navbar-content .user-actions .notifications .time-ago {
      color: #999999;
      position: absolute;
      top: 35px;
      right: 10px;
      z-index: 1000;
      text-align: right; }
    .navbar-content .user-actions .notifications .line-clamp:after {
      width: 30%; }
  .navbar-content .user-actions .chiclet {
    position: absolute;
    top: -3px;
    right: -5px;
    background-color: #61c13e;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    z-index: 50;
    line-height: 17px; }
    .navbar-content .user-actions .chiclet span {
      font-weight: Bold;
      color: #FFFFFF;
      font-size: 10px; }
  .navbar-content .user-actions .circle-thumb {
    width: 30px;
    height: 30px; }
  .navbar-content .user-actions .main-menu {
    line-height: 40px;
    margin-left: 5px; }
    .navbar-content .user-actions .main-menu .ynicon {
      font-size: 14px;
      color: #7e7e7e; }
  .navbar-content .languages .dropdown-menu li a {
    padding-left: 40px;
    position: relative; }
    .navbar-content .languages .dropdown-menu li a .ynicon-icon-check {
      font-size: 14px;
      color: #61c13e;
      position: absolute;
      left: 10px;
      top: 5px; }
  .navbar-content .user-menu {
    position: relative; }
    .navbar-content .user-menu .dropdown-menu {
      padding: 0; }
      .navbar-content .user-menu .dropdown-menu .ynicon-carrot-up {
        right: 19px;
        font-size: 26px;
        color: #efefef; }
      .navbar-content .user-menu .dropdown-menu li span {
        font-size: 13px; }
      .navbar-content .user-menu .dropdown-menu li .ynicon {
        font-size: 22px;
        color: #666;
        padding: 0 11px 0 1px;
        vertical-align: middle; }
      .navbar-content .user-menu .dropdown-menu li > a {
        padding: 8px 15px 4px; }
      .navbar-content .user-menu .dropdown-menu .user {
        font-size: 14px;
        color: #333333;
        background: #efefef;
        padding: 8px 15px; }
        .navbar-content .user-menu .dropdown-menu .user .user-title {
          font-weight: bold;
          padding: 6px 0 0; }
        .navbar-content .user-menu .dropdown-menu .user .user-progress {
          padding: 8px 0 4px; }
          .navbar-content .user-menu .dropdown-menu .user .user-progress .user-progress-bar, .navbar-content .user-menu .dropdown-menu .user .user-progress .user-progress-value {
            background: #9f9f9f;
            height: 5px;
            width: 100%; }
          .navbar-content .user-menu .dropdown-menu .user .user-progress .user-progress-text {
            white-space: nowrap; }
          .navbar-content .user-menu .dropdown-menu .user .user-progress .user-progress-bar {
            margin-top: 3px; }
          .navbar-content .user-menu .dropdown-menu .user .user-progress .user-progress-value {
            float: left;
            background: #61c13e; }
        .navbar-content .user-menu .dropdown-menu .user .user-credits {
          display: table;
          padding: 8px 0 4px; }
          .navbar-content .user-menu .dropdown-menu .user .user-credits > span {
            display: table-cell;
            vertical-align: middle; }
            .navbar-content .user-menu .dropdown-menu .user .user-credits > span:first-child {
              padding-right: 5px; }
            .navbar-content .user-menu .dropdown-menu .user .user-credits > span > span {
              white-space: nowrap; }
          .navbar-content .user-menu .dropdown-menu .user .user-credits i.ynbar {
            padding: 0;
            margin: -3px; }
          .navbar-content .user-menu .dropdown-menu .user .user-credits > span:last-child {
            padding-left: 10px; }

.tagResult {
  width: 100%;
  display: block;
  text-decoration: none;
  padding: 0 0 0 15px;
  color: #333;
  font-weight: bold; }
  .tagResult:hover {
    text-decoration: none;
    color: inherit; }
  .tagResult .ynicon-broadcast {
    color: #76b343; }
  .tagResult .short-text {
    display: inline-block;
    vertical-align: middle;
    width: 130px; }
  .tagResult > span {
    margin-right: 5px;
    width: 55px;
    max-width: 55px;
    display: inline-block; }

.notification-item {
  width: 100%;
  font-size: 13px;
  line-height: 17px; }
  .notification-item .circle-thumb {
    margin: 10px 0 0 10px; }
  .notification-item .userInfo, .notification-item .description {
    width: 230px;
    margin: 7px 0 7px 10px;
    height: 55px; }
    .notification-item .userInfo .emoji, .notification-item .description .emoji {
      width: 10px; }
    .notification-item .userInfo .name span, .notification-item .description .name span {
      font-weight: bold; }
    .notification-item .userInfo .short-text, .notification-item .description .short-text {
      max-width: 135px;
      display: inline-block;
      margin-bottom: -5px; }
    .notification-item .userInfo .description, .notification-item .description .description {
      overflow: hidden;
      color: #999999;
      width: 230px;
      height: 35px;
      position: relative; }

.notification-item {
  position: relative; }
  .notification-item .description {
    overflow: hidden; }

.settings-link {
  width: 100%;
  min-width: 268px;
  text-align: center;
  height: 40px;
  padding: 12px 0;
  background-color: #efefef;
  color: #666666; }
  .settings-link:hover {
    color: #999999; }
  .settings-link span {
    color: inherit; }
  .settings-link .searchTerm {
    max-width: 120px;
    display: inline-block;
    margin-bottom: -6px; }

@media only screen and (max-width: 680px) {
  /* when logo changes, remove other content from header: */
  .navbar-content > div {
    display: none; }
 }

@media only screen and (max-width: 950px) {
  .navbar-content .explore-text {
    display: none; }
 }
