.navbar {
	background-color: #333333;
	width: 100%;
	height: 50px;
	border-radius: 0;
	margin-bottom: 0;
  	position: fixed;
	z-index: 3000;
  	top: 0;

	.dropdown-menu {
		right: 0;
		top: 0;
		margin-top: 39px;
		margin-right: -10px;
		z-index: 1060;
	}
}

.navbar-content {
	max-width: 1200px; /* needs left/right padding of 10px = 1180px */
	min-width:890px;
	margin: 0 auto;
	height: 50px;
	padding: 10px;

	.user-actions {
		padding-right:1px;
	}

	[mobile-show].nav-logo {
		text-align: center;
		width: 100vw;
	}
	.nav-logo {
		display:inline-block;
		margin-right: 110px;
		margin-top: -7px;
		text-decoration: none;
		img {
			height: 40px;
			width: auto;
			text-decoration: none;
			margin-left: 10px;
			/*transform: rotate(1deg);*/
		}
	}

	.search-box {
		width: 270px;
		height: 30px;
		text-align: left;
		margin: 0;
		position: relative;

		//fix for clear button
		::-ms-clear {
		    display: none;
		    width: 0;
		    height: 0;
		}

		.active {
			background-color: #efefef;

			.line-clamp:after {
				background: linear-gradient(to right, rgba(255, 255, 255, 0), #efefef 50%) repeat scroll 0% 0% transparent;
			}
		}
	}

	.user-icons {
		margin-left:3px;
	}

	.notifications {

		.dropdown-menu {
			padding-top: 0;
			padding-bottom: 0;

			.ynicon-carrot-up {
				background-color: transparent !important;
			}

			.list > * {
				border-top: 1px solid #e7e7e7;
				cursor: pointer;

				&:first-child,
				&:last-child {
					border-top: none;
				}
				&:hover {
					background-color: #efefef;

					.description:after {
						background: linear-gradient(to right, rgba(255, 255, 255, 0), #efefef 50%) repeat scroll 0% 0% transparent;
					}
				}
			}
		}

		.search-field {
			padding: 1px 10px;
			width: 100%;
			border: 0;
			color: #D6D6D6;
			font-size: 13px;
			background-color: #050505;
			height: 30px;
			margin-bottom: 0;
		}

		.ynicon-search {
			font-size: 19px;
			color: #999999;
			position: absolute;
			right: 5px;
			top: 5px;
			cursor: pointer;
  		}
	}

	.explore-text,
	.login-text {
		margin-left: 15px;

	  	&:hover {
			a {
	    		color: #cccccc;
			}
		}

	  a {
	    	color: #999999;
	    	line-height: 30px;
	    	text-decoration: none;
		}
	}

	.login-text a {
		line-height: 27px;
	}

	.user-actions {

		button, .circle-thumb {
			margin-left: 10px;
		}

		.btn-primary, .btn-confirm {
			font-size: 13px;
		}

		.btn-primary {
			min-width: 80px;
			height: 26px;
		}

		.btn-confirm {
			min-width: 100px;
			height: 26px;
		}

		.btn-transparent {
			color: #7e7e7e;

			.ynicon {
				font-size: 26px;
				position: relative;

				span {
					font-size: 10px;
					text-align: center;
					width: 100%;
					position: absolute;
					left: 0;
					line-height: 26px;
					font-weight: bold;
				}
			}
		}

		.languages {
			margin-left: 10px !important;
			position: relative;
		}

		.notifications {
			position: relative;

			.empty {
				height: 56px;
				padding: 19px 0;
				text-align: center;
			}

			.dropdown-menu {
				width: 300px;

				.ynicon-carrot-up {
					right: 0px;
				}
			}

			.circle-thumb {
				width: 40px;
				height: 40px;
			}

			.feed {
				max-height: 300px;
				width: 100%;

				.list li {
					overflow: hidden;
				}
			}

			.time-ago {
				color: #999999;
				position: absolute;
				top: 35px;
				right: 10px;
				z-index: 1000;
				text-align: right;
			}

			@supports (-webkit-line-clamp: 3) {
		        .line-clamp {
			        display: -webkit-box;
			        -webkit-line-clamp: 3;
			        -webkit-box-orient: vertical;
			    }
			    .line-clamp:after {
			        display: none;
			    }
			}

			.line-clamp:after {
				width: 30%;
			}
		}

		.chiclet {
			position: absolute;
			top: -3px;
			right: -5px;
			background-color: #61c13e;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			text-align: center;
			z-index: 50;
			line-height: 17px;

			span {
				font-weight:Bold;
				color:#FFFFFF;
				font-size:10px;
			}
		}

		.circle-thumb {
			width: 30px;
			height: 30px;
		}

		.main-menu {
			line-height: 40px;
			margin-left: 5px;

			.ynicon {
				font-size: 14px;
				color: #7e7e7e;
			}
		}
	}

	.languages {
		.dropdown-menu {
			li {
				a {
					padding-left: 40px;
					position: relative;

					.ynicon-icon-check {
						font-size: 14px;
						color: #61c13e;
						position: absolute;
						left: 10px;
						top: 5px;
					}
				}
			}
		}
	}

	.user-menu {
		position: relative;

		.dropdown-menu {
			padding:0;

			.ynicon-carrot-up {
				right:19px;
				font-size: 26px;
				color: #efefef;
			}

			li span {
				font-size: 13px;
			}
			li .ynicon {
				font-size:22px;
				color:#666;
				padding: 0 11px 0 1px;
				vertical-align:middle;
			}
			li > a {
				padding: 8px 15px 4px;
			}

			.user {
				font-size: 14px;
				color: #333333;
				background: #efefef;
				padding:8px 15px;

				.user-title {
					font-weight:bold;
					padding:6px 0 0;
				}

				.user-progress {
					padding:8px 0 4px;
					.user-progress-bar,
					.user-progress-value {
						background:#9f9f9f;
						height:5px;
						width:100%;
					}
					.user-progress-text {
						white-space:nowrap;
					}
					.user-progress-bar {
						margin-top:3px;
					}
					.user-progress-value {
						float:left;
						background: #61c13e;
					}
				}

				.user-credits {
					display:table;
					padding:8px 0 4px;
					> span {
						display:table-cell;
						vertical-align:middle;
						&:first-child {
							padding-right:5px;
						}
						> span {
							white-space:nowrap;
						}
					}
					i.ynbar {
						padding:0;
						margin:-3px;
					}
					> span:last-child {
						padding-left: 10px;
					}
				}
			}

		}
	}
}

//searchResult/tagResult typeahead and notification dropdown styles
.tagResult {
	width: 100%;
	display: block;
	text-decoration: none;
	padding: 0 0 0 15px;
	color: #333;
  	font-weight: bold;

  	&:hover {
  		text-decoration: none;
  		color: inherit;
  	}

  	.ynicon-broadcast {
  		color: #76b343;
  	}

  	.short-text {
		display: inline-block;
		vertical-align: middle;
		width: 130px;
  	}

	> span {
		margin-right: 5px;
		width: 55px;
		max-width: 55px;
		display: inline-block;
	}
}

.notification-item {
	width: 100%;
	font-size: 13px;
	line-height: 17px;

	.circle-thumb {
		margin: 10px 0 0 10px;
	}

	.userInfo, .description {
		width: 230px;
		margin: 7px 0 7px 10px;
		height: 55px;

		.emoji {
			width: 10px;
		}

		.name span {
			font-weight: bold;
		}

		.short-text {
			max-width: 135px;
			display: inline-block;
			margin-bottom: -5px;
		}

		.description {
			overflow: hidden;
			color: #999999;
			width: 230px;
			height: 35px;
			position: relative;
		}
	}//user info
}

.notification-item {
	position: relative;

	.description {
		overflow: hidden;
	}
}

.settings-link {
	width: 100%;
	min-width: 268px;
	text-align: center;
	height: 40px;
	padding: 12px 0;
	background-color: #efefef;
	color: #666666;

	&:hover {
		color: #999999;
	}

	span {
		color: inherit;
	}

	.searchTerm {
		max-width: 120px;
		display: inline-block;
		margin-bottom: -6px;
	}
}

@media only screen and (max-width: 680px) {
	/* when logo changes, remove other content from header: */
	.navbar-content {
		> div {
			display:none;
		}
	}
}
@media only screen and (max-width: 950px) {
	.navbar-content .explore-text {
		display:none;
	}
}
