@font-face {
  font-family: 'younow4warhjvs52tn8kt9';
  src: url('/angularjsapp/src/assets/icons/fonts/younow4warhjvs52tn8kt9.eot?41zmaz');
  src: url('/angularjsapp/src/assets/icons/fonts/younow4warhjvs52tn8kt9.eot?41zmaz#iefix') format('embedded-opentype'), url('/angularjsapp/src/assets/icons/fonts/younow4warhjvs52tn8kt9.woff2?41zmaz') format('woff2'), url('/angularjsapp/src/assets/icons/fonts/younow4warhjvs52tn8kt9.ttf?41zmaz') format('truetype'), url('/angularjsapp/src/assets/icons/fonts/younow4warhjvs52tn8kt9.woff?41zmaz') format('woff'), url('/angularjsapp/src/assets/icons/fonts/younow4warhjvs52tn8kt9.svg?41zmaz#younow') format('svg');
  font-weight: normal;
  font-style: normal; }

.ynicon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'younow4warhjvs52tn8kt9' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ynicon-icon-paymentsettings:before {
  content: "\e901"; }

.ynicon-icon-selfie:before {
  content: "\e900"; }

.ynicon-icon-caret-up-down:before {
  content: "\fb"; }

.ynicon-icon-content-locale:before {
  content: "\178"; }

.ynicon-icon-quality:before {
  content: "\a2"; }

.ynicon-icon-pause2:before {
  content: "\ba"; }

.ynicon-icon-play2:before {
  content: "\2013"; }

.ynicon-icon-send-android:before {
  content: "\2260"; }

.ynicon-icon-share-email:before {
  content: "\e6"; }

.ynicon-icon-share-sms:before {
  content: "\2026"; }

.ynicon-icon-share-kik:before {
  content: "\ab"; }

.ynicon-icon-share-fbmes:before {
  content: "\2018"; }

.ynicon-icon-share-whatsapp:before {
  content: "\201c"; }

.ynicon-icon-share-snap:before {
  content: "\a8"; }

.ynicon-icon-reply:before {
  content: "\a3"; }

.ynicon-icon-logo-apple:before {
  content: "\a1"; }

.ynicon-icon-logo-googleplay:before {
  content: "\f8"; }

.ynicon-cat-pets:before {
  content: "\a5"; }

.ynicon-cat-advice:before {
  content: "\2020"; }

.ynicon-cat-cooking:before {
  content: "\2211"; }

.ynicon-icon-ellipsis:before {
  content: "\e600"; }

.ynicon-icon-fullscreen-min:before {
  content: "\192"; }

.ynicon-icon-fullscreen:before {
  content: "\2206"; }

.ynicon-icon-rotate-phone:before {
  content: "\df"; }

.ynicon-icon-redo:before {
  content: "\221a"; }

.ynicon-icon-send:before {
  content: "\2248"; }

.ynicon-btn-bc-share-android:before {
  content: "\2265"; }

.ynicon-icon-whale2:before {
  content: "\3a9"; }

.ynicon-icon-subscribe:before {
  content: "\f7"; }

.ynicon-cat-alternative:before {
  content: "\222b"; }

.ynicon-cat-art:before {
  content: "\e7"; }

.ynicon-cat-dance:before {
  content: "\2202"; }

.ynicon-cat-dj:before {
  content: "\b4"; }

.ynicon-cat-fitness:before {
  content: "\a9"; }

.ynicon-cat-gaming:before {
  content: "\2d9"; }

.ynicon-cat-hiphop:before {
  content: "\2c6"; }

.ynicon-cat-humor:before {
  content: "\2da"; }

.ynicon-cat-lgbtq:before {
  content: "\ac"; }

.ynicon-cat-musicians:before {
  content: "\b5"; }

.ynicon-cat-parenthood:before {
  content: "\2dc"; }

.ynicon-cat-singers:before {
  content: "\3c0"; }

.ynicon-cat-style:before {
  content: "\153"; }

.ynicon-icon-trending:before {
  content: "\e5"; }

.ynicon-icon-verify-reject:before {
  content: "\2c"; }

.ynicon-icon-verify:before {
  content: "\2e"; }

.ynicon-btn-bc-gift-close2:before {
  content: "\25"; }

.ynicon-btn-bc-gift-open2:before {
  content: "\2d"; }

.ynicon-icon-compose:before {
  content: "\5b"; }

.ynicon-icon-notifications-on:before {
  content: "\5d"; }

.ynicon-icon-social-yt2:before {
  content: "\3a"; }

.ynicon-icon-bar:before {
  content: "\22"; }

.ynicon-icon-openexternal:before {
  content: "\3d"; }

.ynicon-icon-share-tm-on:before {
  content: "\5f"; }

.ynicon-icon-whale:before {
  content: "\79"; }

.ynicon-icon-management:before {
  content: "\74"; }

.ynicon-icon-share-insta-on:before {
  content: "\72"; }

.ynicon-icon-share-insta:before {
  content: "\76"; }

.ynicon-icon-share-yt-on:before {
  content: "\73"; }

.ynicon-icon-share-yt:before {
  content: "\78"; }

.ynicon-btn-bc-share2:before {
  content: "\7a"; }

.ynicon-icon-share-restream-on:before {
  content: "\37"; }

.ynicon-icon-share-restream:before {
  content: "\36"; }

.ynicon-icon-social-yt:before {
  content: "\35"; }

.ynicon-icon-whatshot:before {
  content: "\34"; }

.ynicon-icon-hashtag:before {
  content: "\33"; }

.ynicon-btn-back:before {
  content: "\32"; }

.ynicon-btn-next:before {
  content: "\31"; }

.ynicon-icon-golive-outline:before {
  content: "\71"; }

.ynicon-icon-check:before {
  content: "\2b"; }

.ynicon-icon-languages:before {
  content: "\2a"; }

.ynicon-icon-mod:before {
  content: "\3f"; }

.ynicon-icon-audience-down:before {
  content: "\5c"; }

.ynicon-icon-audience-up:before {
  content: "\2f"; }

.ynicon-icon-mic-off:before {
  content: "\7e"; }

.ynicon-icon-mic:before {
  content: "\60"; }

.ynicon-icon-share-download_on:before {
  content: "\7b"; }

.ynicon-icon-share-download:before {
  content: "\7d"; }

.ynicon-icon-share-fb-on:before {
  content: "\28"; }

.ynicon-icon-share-fb:before {
  content: "\29"; }

.ynicon-icon-share-tw-on:before {
  content: "\3c"; }

.ynicon-icon-share-tw:before {
  content: "\3e"; }

.ynicon-social-yn-restream:before {
  content: "\77"; }

.ynicon-carrot-dwn:before {
  content: "\26"; }

.ynicon-carrot-left:before {
  content: "\5e"; }

.ynicon-carrot-rgt:before {
  content: "\23"; }

.ynicon-carrot-up:before {
  content: "\24"; }

.ynicon-ambass:before {
  content: "\21"; }

.ynicon-url:before {
  content: "\3b"; }

.ynicon-home:before {
  content: "\42"; }

.ynicon-bc-golive:before {
  content: "\44"; }

.ynicon-notifications:before {
  content: "\45"; }

.ynicon-new-bc:before {
  content: "\43"; }

.ynicon-user-lines:before {
  content: "\46"; }

.ynicon-user:before {
  content: "\47"; }

.ynicon-user-check:before {
  content: "\48"; }

.ynicon-user-add:before {
  content: "\49"; }

.ynicon-audience:before {
  content: "\4a"; }

.ynicon-play:before {
  content: "\4b"; }

.ynicon-chat:before {
  content: "\4c"; }

.ynicon-mute:before {
  content: "\4d"; }

.ynicon-mute-sel:before {
  content: "\4e"; }

.ynicon-share:before {
  content: "\4f"; }

.ynicon-download:before {
  content: "\27"; }

.ynicon-thumb-fifty:before {
  content: "\50"; }

.ynicon-thumb:before {
  content: "\51"; }

.ynicon-gift:before {
  content: "\52"; }

.ynicon-camera:before {
  content: "\53"; }

.ynicon-camera-rotate:before {
  content: "\54"; }

.ynicon-viewers:before {
  content: "\55"; }

.ynicon-time:before {
  content: "\56"; }

.ynicon-bc-call-cancel:before {
  content: "\57"; }

.ynicon-btn_bc_call_drop:before {
  content: "\58"; }

.ynicon-bc-call:before {
  content: "\59"; }

.ynicon-bc-call-invite:before {
  content: "\5a"; }

.ynicon-bc-call-nolines:before {
  content: "\6b"; }

.ynicon-broadcast:before {
  content: "\6c"; }

.ynicon-close:before {
  content: "\6d"; }

.ynicon-flag:before {
  content: "\6e"; }

.ynicon-refresh:before {
  content: "\6f"; }

.ynicon-settings:before {
  content: "\70"; }

.ynicon-tutorial:before {
  content: "\61"; }

.ynicon-coins:before {
  content: "\62"; }

.ynicon-search:before {
  content: "\63"; }

.ynicon-level:before {
  content: "\64"; }

.ynicon-logout:before {
  content: "\65"; }

.ynicon-social-gp:before {
  content: "\66"; }

.ynicon-social-tm:before {
  content: "\67"; }

.ynicon-social-fb:before {
  content: "\68"; }

.ynicon-social-tw:before {
  content: "\69"; }

.ynicon-social-insta:before {
  content: "\6a"; }

.ynicon-social-yn:before {
  content: "\41"; }
