<div class="modal-body">
    <button aria-hidden="true" class="close" ng-click="dismiss()" type="button">
        <i class="ynicon ynicon-close"></i>
    </button>
    <h2>Oops, bars could not be purchased</h2>
    <p><b>Tip:</b> YouNow now accepts paypal.  Try purchasing bars with PayPal.  Just choose "change payment method" and select PayPal.</p>
    <div class="actions">
        <button class="btn btn-cancel" ng-click="tryAgain()">Try Again</button>
    </div>
    <p><b>Tip:</b> You can also purchase bars on your phone with iTunes or GooglePlay.  Download the app.</p>
    <div class="actions">
        <button class="btn btn-confirm" ng-click="downloadTheApp()">Download</button>
    </div>
</div>
