.spending-redirect-modal {
    h2 {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    p {
        width: 400px;
        margin: 0 auto;
        text-align:center;
    }

    .actions {
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .btn {
        font-size: 13px;
    }
}
