.partnersContent {
	width:auto !important;
	margin: 70px auto 20px;
	padding: 24px;
	background: #fff;
	max-width: 1155px;;
}

.partner,
.notpartner {
	min-height: calc(100vh - 140px);

	input,
	textarea,
	checkbox {
		outline:none !important;
		box-shadow:none;
		&:focus {
			background:none !important;
		}
	}
	form.submitted {
		.ng-invalid {
			background:rgba(255, 16, 16, 0.138);
		}
	}
	input.ng-dirty,
	textarea.ng-dirty {
		&.ng-invalid {
			background:rgba(255, 16, 16, 0.138);
		}
		&:focus {
			background:none;
		}
	}
	.message {
		display:block;
		border-radius:4px;
		font-size:12px;
		padding:5px;
		margin:5px 0;
		&.error {
			color:solid 1px rgba(255, 16, 16, 0.3);
			border:solid 1px rgba(255, 16, 16, 0.3);
			background:rgba(255, 16, 16, 0.1);
		}
		&.success {
			color:solid 1px rgba(16, 255, 16, 0.3);
			border:solid 1px rgba(16, 255, 16, 0.3);
			background:rgba(16, 255, 16, 0.1);
		}
	}

	.apply {
		padding:20px 0;
		text-align:center;
	}
	button.btn,
	a.btn {
		border: none;
		background: #3758bd;
		padding: 16px 50px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
		text-shadow: #3758bd 0 1px 0;
		color: #ffffff;
		font-size: 20px;
		font-weight: 300;
		font-family: arial;
		text-decoration: none;
		vertical-align: middle;
	}
	button.btn:hover,
	a.btn:hover {
		border: 0px solid #0a3c59;
		text-shadow: #4b72e5 0 1px 0;
		background: #4b72e5;
		color: #fff;
	}
	button.btn:active,
	a.btn:active {
		text-shadow: #3758bd 0 1px 0;
		border: 0px solid #0a3c59;
		background: #3758bd;
		color: #fff;
	}
}

.notpartner {
	color: #666;
	background:#fff;
	font-size:16px;
	line-height:22px;
	a {
		color:inherit;
		text-decoration:underline;
	}
	a:hover {
		color:#333;
	}
	h9 {
		font-size: 26px;
		line-height: 54px;
		margin-bottom: 12px;
		font-weight: normal;
	}
	.columns {
		position:relative;
		text-align:center;
		.column {
			display:inline-block;
		}
		.column3 {
			width:32%;
		}
	}
	p {
		margin:10px 0;
	}

	.container {
		max-width:960px;
	}
	.orange {
		color: #fbab32;
	}

	.intro {
		background: url(/images/partners/yourbg2.jpg) no-repeat center fixed;
		background-size: cover;
		background-color: #1d1d1d;
		.container {
			background: url(/images/partners/main_phone4.png) no-repeat right bottom;
			background-size:auto 100%;
			height:380px;
			padding:0 15px;
		}
		h1 {
			font-size: 38px;
			padding-top: 60px;
			line-height: 46px;
			text-shadow: 0 1px #414141;
			color:#fbab32;
		}
		.info {
			color:#fff;
		}
		.btn {
			padding-top: 12px;
			padding-bottom: 12px;
			margin-top: 12px;
		}
	}

	.features {
		.container {
			padding:33px 0 44px;
			border-bottom:solid 1px #e0e0e0;
		}
		.columns {
			padding:15px 0;
		}
		img {
			height:160px;
			width:auto;
		}
		h5 {
			display:block;
			font-size:inherit;
			font-weight:bold;
			text-transform:uppercase;
			margin:0;
			padding:7px 0 0 0;
			color:#000;
		}
		p {
			margin: 10px;
			font-size: 14px;
			line-height: 18px;
		}
	}

	.tour {
		.container {
			border-bottom:solid 1px #e0e0e0;
		}
		.info {
			padding:50px 0;
		}
		ul {
			margin: 18px 0;
		}
		ul.list-features {
			list-style-type: disc;
		}
		ul.list-features li {
			font-size:14px;
			line-height: 20px;
			margin-bottom: 0px;
			margin-left: 18px;
		}
	}
	.tour-easy {
		.container {
			background: url(/images/partners/how_phone2.png) no-repeat right bottom;
			background-size: auto 88%;
			padding: 0 15px;
			height: 333px;
		}
	}

	.apply {
		  padding: 50px 0 100px;
	}

}

.partner {
	color: #666;
	background:#fff;
	a {
		color:inherit;
		text-decoration:underline;
	}
	a:hover {
		color:#333;
	}
	.container {
		position: relative;
		width:auto;
		max-width: 960px;
		margin: 0 auto;
		padding: 0;
	}
	.column {
		display:inline-block;
		margin:0;
		padding:0;
	}
	hr {
		background: #e0e0e0;
		height:1px;
		padding:0;
		overflow:hidden;
		clear: both;
		margin: 0;
		border:none;
	}
	h9 {
		font-size: 26px;
		line-height: 54px;
		margin-bottom: 12px;
		font-weight: normal;
	}
	h7 {
		font-size: 21px;
		line-height: 50px;
		margin-bottom: 14px;
		font-weight: normal;
		color: #666;
	}
	ul {
		list-style-type:disc;
		padding:15px;
	}
	.columns {
		position:relative;
		overflow:hidden;
		overflow:auto;
		.column {
			display:inline-block;
			padding:0;
			margin:0;
		}
		.column2 {
			vertical-align: top;
			width: 47%;
			margin-right: 2.5%;
		}
	}

}

#partner1 {
	text-align:center;
	.userearningswelcome {
		margin-top: 45px;
		.userearningstitlecongrats {
			margin-top: 5px;
			margin-left: 6px;
			padding-bottom: 0px;
			color: #333;
			line-height: 30px;
			font-size:30px;
		}
		.userearningsowenumnothumb {
			color: #fbaa34;
			font-size: 96px;
			line-height:102px;



		}
	}
	.body {
		padding:20px 0;
	}
	.apply {
		padding:40px 0;
	}
}

#partner2 {

	.intro {
		background: url(/images/partners/yourbg2.jpg) no-repeat center fixed;
		background-size: cover;
		background-color: #1d1d1d;
		.container {
			background: url(/images/partners/main_phone4.png) no-repeat right bottom;
			background-size:auto 100%;
			height:380px;
			padding:0 15px;
			> * {
				width:50%;
			}
		}
		.info {
			color:#fff;
			padding:50px 0;
			h1 {
				font-size: 38px;
				padding-top: 15px;
				line-height: 46px;
				text-shadow: 0 1px #414141;
				color:#fbab32;
			}
			.text {
				font-size:125%;
				line-height:125%;
				padding:5px 0;
			}
		}
		.btn {
			padding-top: 12px;
			padding-bottom: 12px;
			margin-top: 12px;
		}
	}
	.body {
		padding:30px 15px;
	}
	.columns {
		border-top: solid 1px #e0e0e0;
		border-bottom: solid 1px #e0e0e0;
		padding: 10px 0px;
		.column {
			padding:10px 0;
		}
	}

}

#partner3 {

	.thankyou {
		.container {
			padding:125px 30px;
			max-width:650px;
		}
		.title {
			display:block;
			border-bottom:solid 1px #e0e0e0;
		}
	}

}

#partner6,
#partner7 {

	.container {
		padding:30px 0;
		max-width:650px;
	}
	.title {
		display:block;
		border-bottom:solid 1px #e0e0e0;
	}
	.apply {
		padding:5px 0 45px;
	}

}


#partnerApply {

	.container {
		padding:30px 0;
		max-width:600px;
		p {
			margin:15px 0;
		}
		.input-row {
			margin:15px 0;
			input,
			textarea {
				width:100%;
				border:solid 1px #ccc;
				glow:none;
			}
		}
	}
	.title {
		display:block;
		border-bottom:solid 1px #e0e0e0;
	}
	.apply {
		padding:0 0 45px;
	}

}


#partnersEarnings {
	color: #666;
	background:#fff;
	min-height: calc(100vh - 140px);
	a {
		color:inherit;
		text-decoration:underline;
	}
	a:hover {
		color:#333;
	}

	.iframe-container {
		text-align: center;
		iframe {
			border: 0;
		}
	}

	.container {
		padding:45px 0 60px;
		max-width:620px;
	}

	.userearnings {
		margin-bottom:12px;
		
	}

	.userearningsowenothumb {
		color: #fff;
		text-align: center;
		font-size: 32px;
	}
	.userearningstitle {
		color: #333;
	}
	.caption {
		color: grey;
		font-size: 15px;
		width: 80%;
		margin: auto;
		margin-top: 5px;
	}
	.userearningsowenumnothumb {
		color: #fbaa34;
		font-size: 96px;
		line-height:102px;
	}

	.earningsrows {
		padding:6px 0 24px;
		.earningsrow {
			position:relative;
			overflow:hidden;
			overflow:auto;
			padding:12px 10px 8px;
			border-top:solid 1px #e0e0e0;
			&:last-child {
				border-bottom:solid 1px #e0e0e0;
			}
			.earningsstattitle {
				float: left;
				font-size: 21px;
				line-height:39px;
				color: #999;
			}
			.earningsstat {
				float: right;
				font-size: 26px;
				line-height:39px;
				color: #424242;
			}
		}
	}

	

	.bottom {
		color:#999;
		font-size:12px;
		text-align:center;
		span {
			color:#999;
		}
		p {
			margin-left:0 0 18px;
		}
		.faq-link {
			font-size:19px;
			color:#fbaa34;
		}
	}

}


#partnersFaq {
	background:#fff;
	table {
		display:none;
	}
	.container {
		width:100%;
	}
	article ul,
	article li,
	article ol {
		margin:0;
		padding:0;
	}
	article li {
		font-size:1.15rem;
		margin-bottom:20px;
		color: #333;
		font-weight:100;
		a {
			color: #333;
			* {
				font-weight:normal;
				text-decoration:underline;
			}
		}
		a[name] {
			display: block;
			position: relative;
			top: -85px;
			visibility: hidden;
		}
	}

	article li li {
		font-size:1rem;
		margin:6px 0 10px 4px;
	}
	article li li p {
		font-size:1rem;
		margin: 0 0 5px 0;
	}
	article > ol {
		padding-left: 18px;
		margin-left: 0;
	}
	article > ol > li {
		margin: 5px 0;
		padding: 0;
		list-style-type:none;
		cursor:pointer;
		p {
			display:inline-block;
			padding-left:6px;
		}
		i {
			font-size:16px;
			transition:transform 0.5s;
			display:inline-block;
		}
	}
	article > ol > li.selected {
		list-style-type:none;
		p {
		}
		i {
			transform:rotate(180deg);
		}
	}
	article > ol li ul,
	article > ol li ol {
		margin-left: 24px;
		height:0;
		max-height: 0;
		overflow: hidden;
		transition: height 1s ease-in 0.5s, max-height 1s ease-in 0.5s;
		cursor:default;
		li {
			p {
				display:block;
				padding-left:0;
			}
			i {
				display:none;
			}
		}
	}
	article > ol > li.selected > ul,
	article > ol > li.selected > ol {
		height:auto;
		max-height:1000px;
		transition: height 1.5s ease-in 0s, max-height 1.5s ease-in 0s;
	}
	article > ol > li > p {
		font-weight:normal;
		color:#333;
	}
	article > ol > li.selected > p {
		font-weight:bold;
	}

	hr {
		margin:30px 0;
		padding:0;
	}
	p {
		font-size:1rem;
		margin:0;
	}
	iframe {
		display:block;
		margin:0 auto 18px;
	}
	h2, .h2 {
		font-size: 1.6rem;
		font-weight: bold;
		margin: 0 0 15px 0;
		text-align:center;
	}
	h3, .h3 {
		font-size: 1.2rem;
		font-weight: bold;
		margin:15px 0 10px 0;
	}
	h4, .h4 {
		font-size: 1rem;
		font-weight: bold;
		margin:20px 0 15px 0;
	}

	#user-content-jobsColumns {
		overflow:auto;
		> div {
			float:left;
			width:49%;
			vertical-align: top;
		}
		p:first-child {
			display:none;
		}
		h4:nth-child(0),
		h4:nth-child(1),
		h4:nth-child(2) {
			margin-top:0;
		}
	}

}
