.tag-container {
	display: table;
	width: 1005px;
}


#tag-queue {
	display: table-cell;
	vertical-align: top;
	min-width:642px;

	.title {
		font-size: 16px;
		margin: 20px 0 17px;
		color: #333333;
		a {
			font-weight: bold;
			color:inherit;
		}
	}
	.queue-item {
		float:left;
		width: 77.33px;
		height: 0;
		padding-top: 60px;
		text-decoration: none;

		.thumb-label {
			background:#61c13e;
			text-align: center;
			margin-top: -20px;
			span {
				color: #fff;
				font-size: 12px;
			}
		}
	}
	.tooltip {
		font-size: 13px;
		&.in {
			opacity: 0.85;
		}
		.user-row span {
			color: #fff;
		}
		.viewer-row span {
			color: #666;
		}
	}
	.thumb-label {
		position:relative;
	}
}

.player-main {
	position:relative;
	min-height: 445px;

	.player-error {
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		z-index:1;
		padding:100px 50px;
		text-align:center;
		border-left:solid 1px #fff;
		border-right:solid 1px #fff;
		* {
			color:#999;
		}
		.error-image {
			height:68px;
			width:auto;
		}
		.error-title {
			font-weight: 700;
			text-transform: uppercase;
			padding: 20px 0px 0px !important;
			font-size: 23.5px;
		}
		.error-subtitle {
			text-transform: uppercase;
			font-weight: bold;
		}
		.error-link {
			display: block;
			padding: 30px 0px 0px;
			* {
				color:#999;
			}
			&:hover {
				text-decoration:none;
				b {
					text-decoration:underline;
				}
			}
		}
	}
	object {
		position:relative;
		display:block;
		z-index:10;
	}

	.external-stream-info {
		width: 100%;
		height: 444px;
		background-color: #000;
		display: none;

		.form-control {
			width: 300px;
			display: inline-block;
		}

		label {
			padding: 10px;
			color: #fff;
			width: 100px;
		}

		&.page-1,
		&.page-2,
		&.page-3 {
			display: block;
		}

		.info-page-1,
		.info-page-2,
		.info-page-3 {
			opacity: 0;
			transition: opacity 0.40s ease-in-out;
			color: #fff;
			display: none;
			vertical-align: middle;
			height: 444px;
			width: 591px;
			padding: 70px 70px 10px 70px;

			.info-title {
				font-weight: bold;
				font-size: 16px;
				margin-bottom: 15px;
			}

			.page-2-sub {
				margin-bottom: 15px;
			}

			.loading-container {
				display: table-cell;
				width: 450px;
				text-align: center;
				vertical-align: middle;
				height: 70px;
			}

			.loader-light {
				margin: 0;
				display: inline-block;
				vertical-align: top;
			}

			.loading-text {
				color: #fff;
				padding-left: 30px;
				display: inline-block;
				padding-top: 5px;
			}

			ol > li {
				padding: 5px;
			}
		}

		.info-page-3 {
			text-align: center;

			.info-title {
				color: #61c13e;
			}

			.externally-broadcasting {
				width: 28px;
			    height: 28px;
			    border-radius: 50%;
			    border: 1px solid red;
			    position: relative;
			    display: inline-block;
				margin-top: 15px;

				div {
				    background: red;
				    width: 20px;
				    height: 20px;
				    border-radius: 50%;
				    position: absolute;
				    top: 3px;
				    left: 3px;
				}
			}
		}

		&.page-1 {
			.info-page-1 {
			    animation-duration: 0.5s;
			    animation-name: fadeInFromNone;
				display: table-cell;
				opacity: 1;
			}
		}

		&.page-2 {
			.info-page-2 {
				animation-duration: 0.5s;
			    animation-name: fadeInFromNone;
				display: table-cell;
				opacity: 1;
			}
		}

		&.page-3 {
			.info-page-3 {
				animation-duration: 0.5s;
			    animation-name: fadeInFromNone;
				display: table-cell;
				opacity: 1;
			}
		}
	}
}

.player-footer-break {
	position:relative;
	clear:both;
	overflow:hidden;
}

.under-chat {
  padding: 58px 16px 0 0;
  display: table-cell;
}

.webrtcVideo {
	width:592px;
	height:444px;
	position: relative;
	background-color: #000;

	> div {
		transition: width 1s linear;
		height: 100%;
		position: absolute;
		overflow: hidden;
	}

	div:first-child {
		width: 100%;
		left: 0;
	}

	div:last-child {
		width: 0;
		right: 0;
		top: 0;
	}

	.bcVideo {
		width:592px;
		height:444px;
		transition: left 1s linear;
		left: 0;
		position: absolute;

	}

	.guestVideo {
		width: 592px;
		height: 444px;
		position: absolute;
		transition: right 1s linear;
	}

	.right-video-container,
	.left-video-container {
		width: 296px !important;
	    height: 100%;
	    overflow: hidden;
	    position: absolute;
	}

	.right-video-container {
		video {
			position: absolute;
			bottom: 0;
			right: -50%;
			height: 444px;
			width: 592px;
		}
	}

	.left-video-container {
		video {
			position: absolute;
		    min-width: 100%;
		    min-height: 100%;
		    left: -50%;
		}
	}

}
