.tag-container {
  display: table;
  width: 1005px; }

#tag-queue {
  display: table-cell;
  vertical-align: top;
  min-width: 642px; }
  #tag-queue .title {
    font-size: 16px;
    margin: 20px 0 17px;
    color: #333333; }
    #tag-queue .title a {
      font-weight: bold;
      color: inherit; }
  #tag-queue .queue-item {
    float: left;
    width: 77.33px;
    height: 0;
    padding-top: 60px;
    text-decoration: none; }
    #tag-queue .queue-item .thumb-label {
      background: #61c13e;
      text-align: center;
      margin-top: -20px; }
      #tag-queue .queue-item .thumb-label span {
        color: #fff;
        font-size: 12px; }
  #tag-queue .tooltip {
    font-size: 13px; }
    #tag-queue .tooltip.in {
      opacity: 0.85; }
    #tag-queue .tooltip .user-row span {
      color: #fff; }
    #tag-queue .tooltip .viewer-row span {
      color: #666; }
  #tag-queue .thumb-label {
    position: relative; }

.player-main {
  position: relative;
  min-height: 445px; }
  .player-main .player-error {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 100px 50px;
    text-align: center;
    border-left: solid 1px #fff;
    border-right: solid 1px #fff; }
    .player-main .player-error * {
      color: #999; }
    .player-main .player-error .error-image {
      height: 68px;
      width: auto; }
    .player-main .player-error .error-title {
      font-weight: 700;
      text-transform: uppercase;
      padding: 20px 0px 0px !important;
      font-size: 23.5px; }
    .player-main .player-error .error-subtitle {
      text-transform: uppercase;
      font-weight: bold; }
    .player-main .player-error .error-link {
      display: block;
      padding: 30px 0px 0px; }
      .player-main .player-error .error-link * {
        color: #999; }
      .player-main .player-error .error-link:hover {
        text-decoration: none; }
        .player-main .player-error .error-link:hover b {
          text-decoration: underline; }
  .player-main object {
    position: relative;
    display: block;
    z-index: 10; }
  .player-main .external-stream-info {
    width: 100%;
    height: 444px;
    background-color: #000;
    display: none; }
    .player-main .external-stream-info .form-control {
      width: 300px;
      display: inline-block; }
    .player-main .external-stream-info label {
      padding: 10px;
      color: #fff;
      width: 100px; }
    .player-main .external-stream-info.page-1, .player-main .external-stream-info.page-2, .player-main .external-stream-info.page-3 {
      display: block; }
    .player-main .external-stream-info .info-page-1, .player-main .external-stream-info .info-page-2, .player-main .external-stream-info .info-page-3 {
      opacity: 0;
      transition: opacity 0.4s ease-in-out;
      color: #fff;
      display: none;
      vertical-align: middle;
      height: 444px;
      width: 591px;
      padding: 70px 70px 10px 70px; }
      .player-main .external-stream-info .info-page-1 .info-title, .player-main .external-stream-info .info-page-2 .info-title, .player-main .external-stream-info .info-page-3 .info-title {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 15px; }
      .player-main .external-stream-info .info-page-1 .page-2-sub, .player-main .external-stream-info .info-page-2 .page-2-sub, .player-main .external-stream-info .info-page-3 .page-2-sub {
        margin-bottom: 15px; }
      .player-main .external-stream-info .info-page-1 .loading-container, .player-main .external-stream-info .info-page-2 .loading-container, .player-main .external-stream-info .info-page-3 .loading-container {
        display: table-cell;
        width: 450px;
        text-align: center;
        vertical-align: middle;
        height: 70px; }
      .player-main .external-stream-info .info-page-1 .loader-light, .player-main .external-stream-info .info-page-2 .loader-light, .player-main .external-stream-info .info-page-3 .loader-light {
        margin: 0;
        display: inline-block;
        vertical-align: top; }
      .player-main .external-stream-info .info-page-1 .loading-text, .player-main .external-stream-info .info-page-2 .loading-text, .player-main .external-stream-info .info-page-3 .loading-text {
        color: #fff;
        padding-left: 30px;
        display: inline-block;
        padding-top: 5px; }
      .player-main .external-stream-info .info-page-1 ol > li, .player-main .external-stream-info .info-page-2 ol > li, .player-main .external-stream-info .info-page-3 ol > li {
        padding: 5px; }
    .player-main .external-stream-info .info-page-3 {
      text-align: center; }
      .player-main .external-stream-info .info-page-3 .info-title {
        color: #61c13e; }
      .player-main .external-stream-info .info-page-3 .externally-broadcasting {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: 1px solid red;
        position: relative;
        display: inline-block;
        margin-top: 15px; }
        .player-main .external-stream-info .info-page-3 .externally-broadcasting div {
          background: red;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          position: absolute;
          top: 3px;
          left: 3px; }
    .player-main .external-stream-info.page-1 .info-page-1 {
      animation-duration: 0.5s;
      animation-name: fadeInFromNone;
      display: table-cell;
      opacity: 1; }
    .player-main .external-stream-info.page-2 .info-page-2 {
      animation-duration: 0.5s;
      animation-name: fadeInFromNone;
      display: table-cell;
      opacity: 1; }
    .player-main .external-stream-info.page-3 .info-page-3 {
      animation-duration: 0.5s;
      animation-name: fadeInFromNone;
      display: table-cell;
      opacity: 1; }

.player-footer-break {
  position: relative;
  clear: both;
  overflow: hidden; }

.under-chat {
  padding: 58px 16px 0 0;
  display: table-cell; }

.webrtcVideo {
  width: 592px;
  height: 444px;
  position: relative;
  background-color: #000; }
  .webrtcVideo > div {
    transition: width 1s linear;
    height: 100%;
    position: absolute;
    overflow: hidden; }
  .webrtcVideo div:first-child {
    width: 100%;
    left: 0; }
  .webrtcVideo div:last-child {
    width: 0;
    right: 0;
    top: 0; }
  .webrtcVideo .bcVideo {
    width: 592px;
    height: 444px;
    transition: left 1s linear;
    left: 0;
    position: absolute; }
  .webrtcVideo .guestVideo {
    width: 592px;
    height: 444px;
    position: absolute;
    transition: right 1s linear; }
  .webrtcVideo .right-video-container, .webrtcVideo .left-video-container {
    width: 296px !important;
    height: 100%;
    overflow: hidden;
    position: absolute; }
  .webrtcVideo .right-video-container video {
    position: absolute;
    bottom: 0;
    right: -50%;
    height: 444px;
    width: 592px; }
  .webrtcVideo .left-video-container video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    left: -50%; }
