<div class="channel-header-container row">
  <div class="channel-header row" data-channelid="4534842" data-doorid="">
    <div class="group-thumb row pull-left">
      <img class="header_image" src="http://cdn2.younow.com/php/api/channel/getImage/channelId=4534842">
    </div>
    <div class="info pull-left">
      <div class="inner row">
        <div class="channel-name row">
          <span class="bolder">
            <img class="header_star" src="http://cdn2.younow.com/images/icon_level_vidheader.png">44&nbsp;</span>
          <span class="bolder header_name">T88</span>
          <span>&nbsp;on&nbsp;</span>
          <span class="user_tags">#musicians</span>
          <button class="btn join-button standard-gray hidden">
            <span class="join">Fan</span>
            <span class="request-sent hidden">Request Sent</span>
          </button>
        </div>
        <div class="description pull-left">
          <span>ْ</span>
        </div>
      </div>
    </div>
    <div class="recent-activity-container pull-right"></div>
  </div>
</div>
<div class="row" style="padding-left:5px;">

  <object type="application/x-shockwave-flash" data="http://cdn2.younow.com/swf/Studio.swf?ver=47.35" width="952" height="539" id="flashObj1" style="visibility: visible;">
    <param name="allowscriptaccess" value="always">
    <param name="allownetworking" value="all">
    <param name="quality" value="high">
    <param name="bgcolor" value="#FFFFFF">
    <param name="allowfullscreen" value="true">
    <param name="wmode" value="transparent">
    <param name="flashvars" value="splashScreen=1&amp;etpl=VS&amp;configUrl=http://cdn2.younow.com/php/api/younow/config&amp;invite=&amp;srcId=0&amp;serverTime=1415273431288&amp;referringDomain=&amp;nm=1&amp;ref=&amp;defaultSpeakerVolume=0.8"></object>
</div>
<div class="row">
  <div class="pull-left">
    <div class="queue-container">
      <div class="broadcasts queue">
        <div class="title-row">
          <div class="title">9 Broadcasters on #musicians</div>
          <div class="buttons">
            <button class="btn btn-success go-live" data-skipchannelselection="true" data-triggers="goLive">Go Live</button>
          </div>
        </div>
        <div class="empty hidden" style="display: none;">
          <div class="nobroadcast">There are currently no related broadcasters!</div>
        </div>
        <ul class="list">
          <li class="enabled live">
            <div data-toggle="tooltip" data-id="5034267" data-channelid="25855726" data-username="NicklasSivn" data-placement="top" data-html="true" class="content" data-original-title="<div class=&quot;row&quot;>
              <span class=&quot;level-icon&quot;></span>
              <span class=&quot;level-text&quot;>29</span>
              <span class=&quot;name&quot;>Nicklas Sivén</span>
            </div>
            <div class=&quot;row info&quot;>30</div>
            ">
            <div style="background-image: url(http://cdn2.younow.com/php/api/channel/getImage/channelId=5034267)" class="thumb"></div>
            <div class="live-indicator"></div>
          </div>
        </li>
        <li class="enabled live">
          <div data-toggle="tooltip" data-id="3398401" data-channelid="25855699" data-username="Julien_Alexander_B." data-placement="top" data-html="true" class="content" data-original-title="<div class=&quot;row&quot;>
            <span class=&quot;level-icon&quot;></span>
            <span class=&quot;level-text&quot;>24</span>
            <span class=&quot;name&quot;>Julien_Alexander_B.</span>
          </div>
          <div class=&quot;row info&quot;>13</div>
          ">
          <div style="background-image: url(http://cdn2.younow.com/php/api/channel/getImage/channelId=3398401)" class="thumb"></div>
          <div class="live-indicator"></div>
        </div>
      </li>
      <li class="enabled live">
        <div data-toggle="tooltip" data-id="5063478" data-channelid="25858086" data-username="MelvinGomer" data-placement="top" data-html="true" class="content" data-original-title="<div class=&quot;row&quot;>
          <span class=&quot;level-icon&quot;></span>
          <span class=&quot;level-text&quot;>29</span>
          <span class=&quot;name&quot;>MelvinGomer</span>
        </div>
        <div class=&quot;row info&quot;>1</div>
        ">
        <div style="background-image: url(http://cdn2.younow.com/php/api/channel/getImage/channelId=5063478)" class="thumb"></div>
        <div class="live-indicator"></div>
      </div>
    </li>
    <li class="enabled live">
      <div data-toggle="tooltip" data-id="1721732" data-channelid="25858365" data-username="alamet" data-placement="top" data-html="true" class="content" data-original-title="<div class=&quot;row&quot;>
        <span class=&quot;level-icon&quot;></span>
        <span class=&quot;level-text&quot;>8</span>
        <span class=&quot;name&quot;>alamet</span>
      </div>
      <div class=&quot;row info&quot;>1</div>
      ">
      <div style="background-image: url(http://cdn2.younow.com/php/api/channel/getImage/channelId=1721732)" class="thumb"></div>
      <div class="live-indicator"></div>
    </div>
  </li>
  <li class="enabled live">
    <div data-toggle="tooltip" data-id="5127438" data-channelid="25858660" data-username="CourtneyMcConomy_1" data-placement="top" data-html="true" class="content" data-original-title="<div class=&quot;row&quot;>
      <span class=&quot;level-icon&quot;></span>
      <span class=&quot;level-text&quot;>4</span>
      <span class=&quot;name&quot;>Courtney Mc Conomy</span>
    </div>
    <div class=&quot;row info&quot;>2</div>
    ">
    <div style="background-image: url(http://cdn2.younow.com/php/api/channel/getImage/channelId=5127438)" class="thumb"></div>
    <div class="live-indicator"></div>
  </div>
</li>
<li class="enabled live">
  <div data-toggle="tooltip" data-id="5791205" data-channelid="25858675" data-username="adel1992saleh" data-placement="top" data-html="true" class="content" data-original-title="<div class=&quot;row&quot;>
    <span class=&quot;level-icon&quot;></span>
    <span class=&quot;level-text&quot;>1</span>
    <span class=&quot;name&quot;>Bad Dam</span>
  </div>
  <div class=&quot;row info&quot;>38</div>
  ">
  <div style="background-image: url(http://cdn2.younow.com/php/api/channel/getImage/channelId=5791205)" class="thumb"></div>
  <div class="live-indicator"></div>
</div>
</li>
<li class="enabled live">
<div data-toggle="tooltip" data-id="4534842" data-channelid="25856904" data-username="T88" data-placement="top" data-html="true" class="content" data-original-title="<div class=&quot;row&quot;>
  <span class=&quot;level-icon&quot;></span>
  <span class=&quot;level-text&quot;>44</span>
  <span class=&quot;name&quot;>T88</span>
</div>
<div class=&quot;row info&quot;>31</div>
">
<div style="background-image: url(http://cdn2.younow.com/php/api/channel/getImage/channelId=4534842)" class="thumb"></div>
<div class="live-indicator"></div>
<div class="thumb-label watching">Watching</div>
</div>
</li>
<li class="enabled live">
<div data-toggle="tooltip" data-id="3757447" data-channelid="25858667" data-username="MoePilot" data-placement="top" data-html="true" class="content" data-original-title="<div class=&quot;row&quot;>
<span class=&quot;level-icon&quot;></span>
<span class=&quot;level-text&quot;>38</span>
<span class=&quot;name&quot;>MoePilot</span>
</div>
<div class=&quot;row info&quot;>3</div>
">
<div style="background-image: url(http://cdn2.younow.com/php/api/channel/getImage/channelId=3757447)" class="thumb"></div>
<div class="live-indicator"></div>
</div>
</li>
<li class="enabled live">
<div data-toggle="tooltip" data-id="5782441" data-channelid="25858464" data-username="azoz0561000" data-placement="top" data-html="true" class="content" data-original-title="<div class=&quot;row&quot;>
<span class=&quot;level-icon&quot;></span>
<span class=&quot;level-text&quot;>3</span>
<span class=&quot;name&quot;>Abdulaziz Martaa</span>
</div>
<div class=&quot;row info&quot;>1</div>
">
<div style="background-image: url(http://cdn2.younow.com/php/api/channel/getImage/channelId=5782441)" class="thumb"></div>
<div class="live-indicator"></div>
</div>
</li>
</ul>
<script id="broadcasts-queue-title-template" type="text/template"><%= viewerCount %> Broadcaster<%= pluralize %> on <%= channelName %></script>
</div>
<script id="queued-broadcast-template" type="text/template"><div class="content" data-html="true" data-placement="top" data-toggle="tooltip"><div class="thumb" style="background-image: url(<%- thumbUrl %>)"></div><div class="live-indicator"></div></div></script>
<script id="queued-broadcast-watching-template" type="text/template"><div class="thumb-label watching">Watching</div></script>
<script id="queued-broadcast-you-template" type="text/template"><div class="thumb-label you">You</div></script>
<script id="queued-broadcast-tooltip-template" type="text/template"><div class="row"><span class="level-icon"></span><span class="level-text"><%- level %></span><span class="name"><%- firstName %> <%- lastName %></span></div><div class="row info"><%- info %></div></script>
</div>

</div>
<div class="google-ad-gifts pull-left hidden" style="display: block;">
<!-- location for the premiere broadcast button  -->
<!--<div class="make_friends">
-->
<!--<div class="friends_header">Make friends!</div>
-->
<!--<div class="friends_text">Meet first time broadcasters.</div>
-->
<!--<div class="friends_button">
<button class="btn btn-primary">Meet Now</button>
</div>
-->
<!--</div>
-->
<img src="http://cdn2.younow.com/images/yn_sidebar01_premium_2014.png" usemap="#premium">
<map name="premium">
<area shape="rect" coords="110,104,214,138" href="https://itunes.apple.com/us/app/younow/id471347413?mt=8" target="_blank" alt="iOS App">
<area shape="rect" coords="220,104,324,138" href="https://play.google.com/store/apps/details?id=younow.live" target="_blank" alt="Android App"></map>

</div>
</div>