#audiencepanel div.audience-summary {
  padding: 6px 20px !important;
  border-bottom: 1px solid #e7e7e7;
  font-size: 13px;
  text-align: left; }
  #audiencepanel div.audience-summary .ynicon-refresh {
    color: #cccccc;
    font-size: 19px; }
  #audiencepanel div.audience-summary .btn-reset {
    margin-top: -2px; }
  #audiencepanel div.audience-summary .summary-number {
    font-weight: bold; }
#audiencepanel .audience-summary.refresh {
  background-color: #f6f6f6;
  color: #999999; }
  #audiencepanel .audience-summary.refresh .summary-number {
    color: #999999; }
#audiencepanel .audience:hover {
  overflow: auto; }
#audiencepanel .audience {
  height: 509px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden; }
#audiencepanel .viewer {
  display: inline-block;
  width: 100%;
  height: 50px;
  overflow: hidden; }
  #audiencepanel .viewer .circle-thumb {
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
    margin-top: 7px; }
  #audiencepanel .viewer .special-message {
    color: #61c13e; }
  #audiencepanel .viewer .viewer-name {
    color: #333333;
    font-weight: bold;
    max-width: 290px;
    display: inline-block;
    vertical-align: bottom; }
  #audiencepanel .viewer .viewer-name:hover {
    color: #666666;
    cursor: pointer; }
  #audiencepanel .viewer .viewer-information {
    margin: 7px 0; }
    #audiencepanel .viewer .viewer-information .titles {
      display: inline-block;
      margin-left: 6px; }
    #audiencepanel .viewer .viewer-information .infos {
      display: inline-block;
      width: calc(100% - 70px);
      padding-left: 9px; }
  #audiencepanel .viewer .info {
    display: block;
    font-size: 13px;
    height: 0;
    opacity: 0;
    transition: height 0.3s, opacity 0.7s ease-in-out; }
  #audiencepanel .viewer .subscriber-active .subscriber {
    height: 20px;
    opacity: 1; }
  #audiencepanel .viewer .fanRank-active .fanRank {
    height: 20px;
    opacity: 1; }
  #audiencepanel .viewer .isFan-active .isFan {
    height: 20px;
    opacity: 1; }
  #audiencepanel .viewer .birthday-active .birthday {
    height: 20px;
    opacity: 1; }
  #audiencepanel .viewer .gifts-active .gifts {
    height: 20px;
    opacity: 1; }
  #audiencepanel .viewer .viewersRs-active .viewersRs {
    height: 20px;
    opacity: 1; }
  #audiencepanel .viewer .location-active .location {
    height: 20px;
    opacity: 1; }
  #audiencepanel .viewer .fans-active .fans {
    height: 20px;
    opacity: 1; }
  #audiencepanel .viewer .viewer-message {
    color: #999999; }
  #audiencepanel .viewer .viewer-location span {
    color: #999999; }
