.mini-overlay {
  width: 296px;
  height: 444px;
  position: absolute;
  z-index: 100;
  transition: background-color 0.6s linear;
  cursor: pointer; }
  .mini-overlay > * > div {
    padding: 0 25px; }
  .mini-overlay.active {
    cursor: default; }
    .mini-overlay.active .backdrop-overlay {
      background-color: rgba(0, 0, 0, 0.6); }
  .mini-overlay.guest {
    right: 0; }
    .mini-overlay.guest.calling .inviting-guest-bg {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.5s linear, visibility 0s linear 0s; }
    .mini-overlay.guest.connecting h3 {
      display: block; }
    .mini-overlay.guest.connecting-broadcaster .connecting-guest, .mini-overlay.guest.connecting-broadcaster .connecting-broadcaster-guest {
      opacity: 1;
      visibility: initial;
      transition: opacity 0.5s linear, visibility 0s linear 0s; }
    .mini-overlay.guest.dropping .ending-guest {
      opacity: 1;
      visibility: initial;
      transition: opacity 0.5s linear, visibility 0s linear 0s; }
    .mini-overlay.guest.swapping .swapping-guest {
      opacity: 1;
      visibility: initial;
      transition: opacity 0.5s linear, visibility 0s linear 0s; }
    .mini-overlay.guest.inviting .inviting-guest, .mini-overlay.guest.inviting .inviting-broadcaster-guest {
      opacity: 1;
      visibility: initial;
      transition: opacity 0.5s linear, visibility 0s linear 0s; }
    .mini-overlay.guest.inviting-audience .inviting-guest-audience, .mini-overlay.guest.inviting-audience .inviting-guest-bg {
      opacity: 1;
      visibility: initial;
      transition: opacity 0.5s linear, visibility 0s linear 0s; }
    .mini-overlay.guest.inviting-prompt .inviting-request, .mini-overlay.guest.inviting-prompt .inviting-guest-bg {
      opacity: 1;
      visibility: initial;
      transition: opacity 0.5s linear, visibility 0s linear 0s; }
    .mini-overlay.guest.declined .invite-declined, .mini-overlay.guest.declined .inviting-guest-bg {
      opacity: 1;
      visibility: initial;
      transition: opacity 0.5s linear, visibility 0s linear 0s; }
    .mini-overlay.guest.declined-retry .invite-timeout, .mini-overlay.guest.declined-retry .inviting-guest-bg {
      opacity: 1;
      visibility: initial;
      transition: opacity 0.5s linear, visibility 0s linear 0s; }
  .mini-overlay.broadcaster {
    left: 0; }
    .mini-overlay.broadcaster.connecting .connecting-broadcaster {
      opacity: 1;
      visibility: initial;
      transition: opacity 0.5s linear, visibility 0s linear 0s; }
  .mini-overlay.hover .display-name {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s linear, visibility 0s linear 0s; }
  .mini-overlay .circle-thumb {
    width: 50px;
    height: 50px;
    display: inline-block; }
    .mini-overlay .circle-thumb img {
      width: 26px;
      position: absolute;
      top: 25%;
      left: 25%; }
  .mini-overlay .display-name, .mini-overlay .ending-guest, .mini-overlay .connecting-guest, .mini-overlay .inviting-guest, .mini-overlay .swapping-guest, .mini-overlay .connecting-broadcaster, .mini-overlay .inviting-request, .mini-overlay .inviting-guest-audience, .mini-overlay .invite-declined, .mini-overlay .invite-timeout {
    transition: opacity 0.5s linear, visibility 0s linear 0.5s; }
  .mini-overlay .display-name {
    width: 100%;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    opacity: 0; }
    .mini-overlay .display-name span {
      background-color: rgba(0, 0, 0, 0.6);
      color: #fff;
      width: 190px;
      height: 36px;
      display: inline-block;
      line-height: 36px;
      border-radius: 4px;
      margin-top: 10px;
      font-size: 16px; }
  .mini-overlay .connecting-guest, .mini-overlay .inviting-guest, .mini-overlay .inviting-request, .mini-overlay .inviting-guest-audience, .mini-overlay .ending-guest, .mini-overlay .swapping-guest, .mini-overlay .invite-declined, .mini-overlay .invite-timeout {
    z-index: 20;
    position: absolute;
    text-align: center;
    top: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0; }
    .mini-overlay .connecting-guest .headline, .mini-overlay .inviting-guest .headline, .mini-overlay .inviting-request .headline, .mini-overlay .inviting-guest-audience .headline, .mini-overlay .ending-guest .headline, .mini-overlay .swapping-guest .headline, .mini-overlay .invite-declined .headline, .mini-overlay .invite-timeout .headline {
      font-size: 26px;
      color: #fff;
      position: relative;
      top: 22.7%; }
    .mini-overlay .connecting-guest .profile-images, .mini-overlay .inviting-guest .profile-images, .mini-overlay .inviting-request .profile-images, .mini-overlay .inviting-guest-audience .profile-images, .mini-overlay .ending-guest .profile-images, .mini-overlay .swapping-guest .profile-images, .mini-overlay .invite-declined .profile-images, .mini-overlay .invite-timeout .profile-images {
      position: relative;
      top: 34%; }
      .mini-overlay .connecting-guest .profile-images .circle-thumb, .mini-overlay .inviting-guest .profile-images .circle-thumb, .mini-overlay .inviting-request .profile-images .circle-thumb, .mini-overlay .inviting-guest-audience .profile-images .circle-thumb, .mini-overlay .ending-guest .profile-images .circle-thumb, .mini-overlay .swapping-guest .profile-images .circle-thumb, .mini-overlay .invite-declined .profile-images .circle-thumb, .mini-overlay .invite-timeout .profile-images .circle-thumb {
        overflow: hidden; }
      .mini-overlay .connecting-guest .profile-images .circle-thumb:nth-child(2), .mini-overlay .inviting-guest .profile-images .circle-thumb:nth-child(2), .mini-overlay .inviting-request .profile-images .circle-thumb:nth-child(2), .mini-overlay .inviting-guest-audience .profile-images .circle-thumb:nth-child(2), .mini-overlay .ending-guest .profile-images .circle-thumb:nth-child(2), .mini-overlay .swapping-guest .profile-images .circle-thumb:nth-child(2), .mini-overlay .invite-declined .profile-images .circle-thumb:nth-child(2), .mini-overlay .invite-timeout .profile-images .circle-thumb:nth-child(2) {
        margin-left: -10px;
        background-color: #61c13e; }
      .mini-overlay .connecting-guest .profile-images .conn-gif-below, .mini-overlay .inviting-guest .profile-images .conn-gif-below, .mini-overlay .inviting-request .profile-images .conn-gif-below, .mini-overlay .inviting-guest-audience .profile-images .conn-gif-below, .mini-overlay .ending-guest .profile-images .conn-gif-below, .mini-overlay .swapping-guest .profile-images .conn-gif-below, .mini-overlay .invite-declined .profile-images .conn-gif-below, .mini-overlay .invite-timeout .profile-images .conn-gif-below {
        width: 31px;
        position: absolute;
        right: 45%;
        bottom: -15px; }
    .mini-overlay .connecting-guest .counter, .mini-overlay .connecting-guest .guest-info, .mini-overlay .inviting-guest .counter, .mini-overlay .inviting-guest .guest-info, .mini-overlay .inviting-request .counter, .mini-overlay .inviting-request .guest-info, .mini-overlay .inviting-guest-audience .counter, .mini-overlay .inviting-guest-audience .guest-info, .mini-overlay .ending-guest .counter, .mini-overlay .ending-guest .guest-info, .mini-overlay .swapping-guest .counter, .mini-overlay .swapping-guest .guest-info, .mini-overlay .invite-declined .counter, .mini-overlay .invite-declined .guest-info, .mini-overlay .invite-timeout .counter, .mini-overlay .invite-timeout .guest-info {
      position: relative;
      top: 37%; }
      .mini-overlay .connecting-guest .counter div, .mini-overlay .connecting-guest .guest-info div, .mini-overlay .inviting-guest .counter div, .mini-overlay .inviting-guest .guest-info div, .mini-overlay .inviting-request .counter div, .mini-overlay .inviting-request .guest-info div, .mini-overlay .inviting-guest-audience .counter div, .mini-overlay .inviting-guest-audience .guest-info div, .mini-overlay .ending-guest .counter div, .mini-overlay .ending-guest .guest-info div, .mini-overlay .swapping-guest .counter div, .mini-overlay .swapping-guest .guest-info div, .mini-overlay .invite-declined .counter div, .mini-overlay .invite-declined .guest-info div, .mini-overlay .invite-timeout .counter div, .mini-overlay .invite-timeout .guest-info div {
        color: #fff; }
      .mini-overlay .connecting-guest .counter .short-text, .mini-overlay .connecting-guest .guest-info .short-text, .mini-overlay .inviting-guest .counter .short-text, .mini-overlay .inviting-guest .guest-info .short-text, .mini-overlay .inviting-request .counter .short-text, .mini-overlay .inviting-request .guest-info .short-text, .mini-overlay .inviting-guest-audience .counter .short-text, .mini-overlay .inviting-guest-audience .guest-info .short-text, .mini-overlay .ending-guest .counter .short-text, .mini-overlay .ending-guest .guest-info .short-text, .mini-overlay .swapping-guest .counter .short-text, .mini-overlay .swapping-guest .guest-info .short-text, .mini-overlay .invite-declined .counter .short-text, .mini-overlay .invite-declined .guest-info .short-text, .mini-overlay .invite-timeout .counter .short-text, .mini-overlay .invite-timeout .guest-info .short-text {
        font-size: 16px; }
      .mini-overlay .connecting-guest .counter .count-down, .mini-overlay .connecting-guest .guest-info .count-down, .mini-overlay .inviting-guest .counter .count-down, .mini-overlay .inviting-guest .guest-info .count-down, .mini-overlay .inviting-request .counter .count-down, .mini-overlay .inviting-request .guest-info .count-down, .mini-overlay .inviting-guest-audience .counter .count-down, .mini-overlay .inviting-guest-audience .guest-info .count-down, .mini-overlay .ending-guest .counter .count-down, .mini-overlay .ending-guest .guest-info .count-down, .mini-overlay .swapping-guest .counter .count-down, .mini-overlay .swapping-guest .guest-info .count-down, .mini-overlay .invite-declined .counter .count-down, .mini-overlay .invite-declined .guest-info .count-down, .mini-overlay .invite-timeout .counter .count-down, .mini-overlay .invite-timeout .guest-info .count-down {
        font-size: 24px; }
    .mini-overlay .connecting-guest .btn-cancel, .mini-overlay .inviting-guest .btn-cancel, .mini-overlay .inviting-request .btn-cancel, .mini-overlay .inviting-guest-audience .btn-cancel, .mini-overlay .ending-guest .btn-cancel, .mini-overlay .swapping-guest .btn-cancel, .mini-overlay .invite-declined .btn-cancel, .mini-overlay .invite-timeout .btn-cancel {
      min-width: 80px;
      position: relative;
      top: 44%;
      display: block;
      margin: 0 auto;
      background-color: #999;
      color: #fff;
      border: 0; }
  .mini-overlay .connecting-guest .guest-info .location, .mini-overlay .inviting-guest .guest-info .location, .mini-overlay .inviting-guest-audience .guest-info .location, .mini-overlay .invite-timeout .guest-info .location, .mini-overlay .invite-declined .guest-info .location {
    color: #999999; }
  .mini-overlay .invite-declined .declined-icon, .mini-overlay .invite-timeout .declined-icon {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -15px;
    font-size: 24px;
    color: #f1310f; }
  .mini-overlay .invite-declined .btn-confirm, .mini-overlay .invite-timeout .btn-confirm {
    margin-right: 5px; }
  .mini-overlay .ending-guest .cancel, .mini-overlay .invite-timeout .cancel {
    position: absolute;
    right: 44%;
    color: #f1310f;
    font-size: 22px;
    bottom: -16px; }
  .mini-overlay .ending-guest .counter, .mini-overlay .invite-timeout .counter {
    top: 40%; }
  .mini-overlay .ending-guest .actions, .mini-overlay .invite-timeout .actions {
    top: 50%;
    position: relative; }
    .mini-overlay .ending-guest .actions .btn, .mini-overlay .invite-timeout .actions .btn {
      display: inline-block;
      height: 28px; }
    .mini-overlay .ending-guest .actions .btn-important, .mini-overlay .invite-timeout .actions .btn-important {
      min-width: 80px;
      margin-right: 10px; }
  .mini-overlay .swapping-guest .headline {
    top: 16.7%;
    font-size: 20px;
    width: 245px;
    margin: 0 auto; }
    .mini-overlay .swapping-guest .headline .short-text {
      color: #fff;
      display: inline-block;
      vertical-align: bottom;
      max-width: 200px; }
  .mini-overlay .swapping-guest .profile-images {
    top: 21%; }
  .mini-overlay .swapping-guest .guest-info {
    top: 25%; }
    .mini-overlay .swapping-guest .guest-info .short-text:last-child {
      color: #999999; }
  .mini-overlay .swapping-guest .actions {
    top: 35%;
    position: relative; }
  .mini-overlay .swapping-guest .btn-cancel {
    margin: 0;
    display: inline;
    height: 28px; }
  .mini-overlay .swapping-guest .btn-primary {
    min-width: 80px;
    margin-right: 10px; }
  .mini-overlay .inviting-request .conn-gif {
    position: absolute;
    left: 46%;
    width: 26px;
    top: 61%; }
  .mini-overlay .inviting-request .circle-thumb:nth-child(2) {
    margin-left: -10px; }
  .mini-overlay .inviting-request .profile-images {
    top: 30%; }
  .mini-overlay .inviting-request .actions {
    top: 45%;
    position: relative; }
  .mini-overlay .inviting-request .btn {
    min-width: 80px;
    margin-right: 10px; }
  .mini-overlay .inviting-request .loader-light {
    display: none; }
  .mini-overlay .inviting-request .permissions-tip {
    visibility: hidden;
    opacity: 0;
    color: #fff;
    margin-top: 15px; }
  .mini-overlay .inviting-request .asking-for-permissions span {
    display: none; }
  .mini-overlay .inviting-request .asking-for-permissions .btn-primary {
    opacity: 0.4;
    pointer-events: none; }
  .mini-overlay .inviting-request .asking-for-permissions .loader-light {
    display: block; }
  .mini-overlay .inviting-request .asking-for-permissions .permissions-tip {
    opacity: 1;
    visibility: initial;
    transition: opacity 0.5s linear 0.5s, visibility 0s linear 0s 0.5s; }
  .mini-overlay h3 {
    display: none;
    font-size: 26px;
    color: #fff;
    z-index: 10;
    text-align: center;
    font-size: 26px;
    line-height: 444px;
    margin: 0;
    font-weight: 300;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute; }
  .mini-overlay .connecting-broadcaster, .mini-overlay .connecting-broadcaster-guest, .mini-overlay .inviting-broadcaster-guest, .mini-overlay .inviting-guest-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    overflow: hidden;
    opacity: 0; }
    .mini-overlay .connecting-broadcaster .background-thumb, .mini-overlay .connecting-broadcaster-guest .background-thumb, .mini-overlay .inviting-broadcaster-guest .background-thumb, .mini-overlay .inviting-guest-bg .background-thumb {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: 50%;
      filter: blur(5px); }
    .mini-overlay .connecting-broadcaster .spinning-loader, .mini-overlay .connecting-broadcaster-guest .spinning-loader, .mini-overlay .inviting-broadcaster-guest .spinning-loader, .mini-overlay .inviting-guest-bg .spinning-loader {
      position: absolute;
      top: 125px;
      left: 40%;
      font-size: 7px;
      z-index: 10; }
  .mini-overlay .backdrop-overlay {
    transition: background-color 0.6s linear;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 5; }
