.mini-overlay {
	width: 296px;
	height: 444px;
	position: absolute;
	z-index: 100;
	transition: background-color 0.6s linear;
	cursor: pointer;

	& > * > div {
		padding: 0 25px;
	}

	&.active {
		cursor: default;

		.backdrop-overlay {
			background-color: rgba(0,0,0, 0.6);
		}
	}

	&.guest {
		right: 0;

		&.calling {
			.inviting-guest-bg {
				opacity: 1;
				visibility: visible;
	    		transition: opacity 0.5s linear, visibility 0s linear 0s;
			}
		}

		&.connecting {
			h3 {
				display: block;
			}
		}

		&.connecting-broadcaster {
			.connecting-guest,
			.connecting-broadcaster-guest {
				opacity: 1;
				visibility: initial;
	    		transition: opacity 0.5s linear, visibility 0s linear 0s;
			}
		}

		&.dropping {
			.ending-guest {
				opacity: 1;
				visibility: initial;
	    		transition: opacity 0.5s linear, visibility 0s linear 0s;
			}
		}

		&.swapping {
			.swapping-guest {
				opacity: 1;
				visibility: initial;
				transition: opacity 0.5s linear, visibility 0s linear 0s;
			}
		}

		&.inviting {
			.inviting-guest,
			.inviting-broadcaster-guest {
				opacity: 1;
				visibility: initial;
	    		transition: opacity 0.5s linear, visibility 0s linear 0s;
			}
		}

		&.inviting-audience {
			.inviting-guest-audience,
			.inviting-guest-bg {
				opacity: 1;
				visibility: initial;
	    		transition: opacity 0.5s linear, visibility 0s linear 0s;
			}
		}

		&.inviting-prompt {
			.inviting-request,
			.inviting-guest-bg {
				opacity: 1;
				visibility: initial;
	    		transition: opacity 0.5s linear, visibility 0s linear 0s;
			}
		}

		&.declined {
			.invite-declined,
			.inviting-guest-bg {
				opacity: 1;
				visibility: initial;
	    		transition: opacity 0.5s linear, visibility 0s linear 0s;
			}
		}

		&.declined-retry {
			.invite-timeout,
			.inviting-guest-bg {
				opacity: 1;
				visibility: initial;
				transition: opacity 0.5s linear, visibility 0s linear 0s;
			}
		}
	}

	&.broadcaster {
		left: 0;

		&.connecting {
			.connecting-broadcaster {
				opacity: 1;
				visibility: initial;
				transition: opacity 0.5s linear, visibility 0s linear 0s;
			}
		}
	}

	&.hover {
		.display-name {
			opacity: 1;
			visibility: visible;
    		transition: opacity 0.5s linear, visibility 0s linear 0s;
		}
	}

	.circle-thumb {
		width: 50px;
		height: 50px;
		display: inline-block;

		img {
			width: 26px;
			position: absolute;
			top: 25%;
			left: 25%;
		}
	}

	.display-name,
	.ending-guest,
	.connecting-guest,
	.inviting-guest,
	.swapping-guest,
	.connecting-broadcaster,
	.inviting-request,
	.inviting-guest-audience,
	.invite-declined,
	.invite-timeout {
		transition: opacity 0.5s linear, visibility 0s linear 0.5s;
	}

	.display-name {
		width: 100%;
		text-align: center;
		opacity: 0;
		visibility: hidden;
		opacity: 0;

		span {
			background-color: rgba(0,0,0,0.6);
			color: #fff;
			width: 190px;
			height: 36px;
			display: inline-block;
			line-height: 36px;
			border-radius: 4px;
			margin-top: 10px;
			font-size: 16px;
		}
	}

	.connecting-guest,
	.inviting-guest,
	.inviting-request,
	.inviting-guest-audience,
	.ending-guest,
	.swapping-guest,
	.invite-declined,
	.invite-timeout {
		z-index: 20;
	    position: absolute;
	    text-align: center;
	    top: 0;
	    height: 100%;
		width: 100%;
		visibility: hidden;
		opacity: 0;

		.headline {
			font-size: 26px;
			color: #fff;
			position: relative;
		    top: 22.7%;
		}

		.profile-images {
			position: relative;
			top: 34%;

			.circle-thumb {
				overflow: hidden;
			}

			.circle-thumb:nth-child(2) {
				margin-left: -10px;
				background-color: #61c13e;
			}

			.conn-gif-below {
				width: 31px;
				position: absolute;
				right: 45%;
				bottom: -15px;
			}
		}

		.counter,
		.guest-info {
			position: relative;
			top: 37%;

			div {
				color: #fff;
			}

			.short-text {
				font-size: 16px;
			}
			.count-down {
				font-size: 24px;
			}
		}

		.btn-cancel {
			min-width: 80px;
			position: relative;
			top: 44%;
			display: block;
			margin: 0 auto;
			background-color: #999;
			color: #fff;
			border: 0;
		}
	}

	.connecting-guest,
	.inviting-guest,
	.inviting-guest-audience,
	.invite-timeout,
	.invite-declined {
		.guest-info {
			.location {
				color: #999999;
			}
		}
	}

	.invite-declined,
	.invite-timeout {
		.declined-icon {
			position: absolute;
			width: 100%;
			left: 0;
			bottom: -15px;
			font-size: 24px;
			color: #f1310f;
		}

		.btn-confirm {
			margin-right: 5px;
		}
	}

	.ending-guest,
	.invite-timeout {
		.cancel {
			position: absolute;
			right: 44%;
			color: #f1310f;
			font-size: 22px;
			bottom: -16px;
		}

		.counter {
			top: 40%;
		}

		.actions {
			top: 50%;
			position: relative;

			.btn {
				display: inline-block;
				height: 28px;
			}

			.btn-important {
				min-width: 80px;
				margin-right: 10px;
			}
		}
	}


	.swapping-guest {

		.headline {
			top: 16.7%;
			font-size: 20px;
			width: 245px;
			margin: 0 auto;

			.short-text {
				color: #fff;
				display: inline-block;
				vertical-align: bottom;
				max-width: 200px;
			}
		}

		.profile-images {
			top: 21%;
		}

		.guest-info {
			top: 25%;

			.short-text:last-child {
			    color: #999999;
			}
		}

		.actions {
			top: 35%;
			position: relative;
		}

		.btn-cancel {
			margin: 0;
			display: inline;
			height: 28px;
		}

		.btn-primary {
			min-width: 80px;
			margin-right: 10px;
		}
	}

	.inviting-request {
		.conn-gif {
			position: absolute;
			left: 46%;
			width: 26px;
			top: 61%;
		}

		.circle-thumb:nth-child(2) {
			margin-left: -10px;
		}

		.profile-images {
			top: 30%;
		}

		.actions {
			top: 45%;
			position: relative;
		}

		.btn {
			min-width: 80px;
			margin-right: 10px;
		}

		.loader-light {
			display: none;
		}

		.permissions-tip {
			visibility: hidden;
			opacity: 0;
			color: #fff;
		    margin-top: 15px;
		}

		.asking-for-permissions {
			span {
				display: none;
			}

			.btn-primary {
				opacity: 0.4;
				pointer-events: none;
			}

			.loader-light {
				display: block;
			}

			.permissions-tip {
				opacity: 1;
				visibility: initial;
	    		transition: opacity 0.5s linear 0.5s, visibility 0s linear 0s 0.5s;
			}
		}
	}

	h3 {
		display: none;
		font-size: 26px;
		color: #fff;
		z-index: 10;
		text-align: center;
		font-size: 26px;
		line-height: 444px;
		margin: 0;
		font-weight: 300;
		width: 100%;
		height: 100%;
		top: 0;
		position: absolute;
	}

	//backdrop thumbs
	.connecting-broadcaster,
	.connecting-broadcaster-guest,
	.inviting-broadcaster-guest,
	.inviting-guest-bg {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		visibility: hidden;
		overflow: hidden;
		opacity: 0;

		.background-thumb {
			width: 100%;
		    height: 100%;
			background-size: cover;
			background-position: 50%;
			filter: blur(5px);
		}

		.spinning-loader {
			position: absolute;
			top: 125px;
			left: 40%;
			font-size: 7px;
			z-index: 10;
		}
	}

	.backdrop-overlay {
		transition: background-color 0.6s linear;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		z-index: 5;
	}
}
