#playerheader {
  position: relative;
  background-color: #ffffff;
  width: 592px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 10px;
  height: 80px; }
  #playerheader .submode {
    display: inline-block;
    vertical-align: middle; }
    #playerheader .submode .top {
      font-weight: bold; }
      #playerheader .submode .top > * {
        display: inline-block;
        vertical-align: middle; }
    #playerheader .submode .bot {
      font-size: 14px;
      color: #999999; }
    #playerheader .submode .stitle {
      font-size: 17px;
      font-weight: bold; }
    #playerheader .submode .sinfo {
      font-size: 17px;
      font-weight: normal; }
    #playerheader .submode .switch {
      display: inline-block;
      height: 24px;
      width: 40px;
      border-radius: 24px;
      background: rgba(0, 0, 0, 0.125);
      cursor: pointer; }
      #playerheader .submode .switch .sknob {
        display: inline-block;
        height: 24px;
        width: 24px;
        background: #fff;
        border: solid 1px rgba(0, 0, 0, 0.25);
        border-radius: 24px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.125);
        transition: margin 0.1s linear; }
      #playerheader .submode .switch.son {
        background: #9dd263; }
        #playerheader .submode .switch.son .sknob {
          margin-left: 16px;
          box-shadow: 0 0 2px #9dd263;
          border: solid 1px #9dd263; }
  #playerheader .fan-button-placeholder {
    display: inline-block;
    vertical-align: 2px; }
    #playerheader .fan-button-placeholder .btn {
      margin-left: 1px;
      min-width: 0; }
  #playerheader .subscribe-button-placeholder .btn {
    min-width: 0;
    margin-left: 7px;
    margin-right: 3px; }
  #playerheader .circle-thumb {
    width: 50px;
    height: 50px;
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 3px; }
    #playerheader .circle-thumb .ynbadge {
      color: #76b343;
      display: block;
      position: absolute;
      bottom: -5px;
      right: -5px;
      width: 24px;
      height: 24px; }
      #playerheader .circle-thumb .ynbadge img {
        height: 100%;
        width: 100%; }
  #playerheader .broadcast-info .ynicon-level {
    margin-right: -5px; }
  #playerheader .broadcaster-name, #playerheader .broadcaster-name span {
    font-weight: bold;
    cursor: pointer;
    max-width: 210px;
    display: inline-block; }
    #playerheader .broadcaster-name .ynicon, #playerheader .broadcaster-name span .ynicon {
      margin-left: -3px; }
  #playerheader .broadcaster-name, #playerheader .broadcaster-name span, #playerheader .short-text, #playerheader .broadcaster-setup-description {
    color: #333333;
    font-size: 17px;
    cursor: pointer;
    display: inline-block; }
  #playerheader .broadcaster-tag {
    max-width: 160px; }
  #playerheader .broadcaster-buttons {
    position: absolute;
    right: 6px;
    top: 10px; }
  #playerheader .broadcaster-setup-description {
    height: 50px;
    line-height: 50px;
    cursor: default; }
    #playerheader .broadcaster-setup-description .user-rank {
      font-weight: bold; }
  #playerheader .broadcaster-description {
    color: #999999;
    font-size: 1em;
    line-height: 1em;
    overflow: hidden;
    height: calc(2em + 2px);
    width: 510px;
    position: relative;
    padding: 1px 3px; }
    #playerheader .broadcaster-description span {
      color: inherit; }
    #playerheader .broadcaster-description a {
      color: #333; }
    #playerheader .broadcaster-description .emoji {
      width: 13px;
      margin-left: 2px;
      margin-right: 2px; }
    #playerheader .broadcaster-description .line-break {
      font-size: 13px;
      font-weight: bold;
      color: #999999; }
  #playerheader .broadcaster-description::-webkit-scrollbar {
    width: 0px; }
