#playerfooter {
  width: 592px;
  height: 58px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  position: relative; }
  #playerfooter .advanced-options {
    position: absolute;
    right: 15px;
    top: 35%; }
    #playerfooter .advanced-options .dropdown-menu {
      margin-bottom: 10px;
      right: -16px;
      padding: 10px; }
      #playerfooter .advanced-options .dropdown-menu li {
        white-space: nowrap;
        cursor: pointer; }
    #playerfooter .advanced-options .ynicon-settings {
      color: #666666; }
    #playerfooter .advanced-options .ynicon-icon-check {
      color: #568b08; }

#settingup-toolbar, .player-toolbar {
  background-color: #ffffff;
  width: 592px;
  height: 58px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute;
  z-index: 102; }

.volume-bar {
  float: left;
  padding: 3px 0px 5px 0px;
  overflow: hidden;
  width: 0px;
  transition: width 0.3s, margin 0.1s; }

#settingup-toolbar .toolbar-button {
  float: none !important;
  width: auto !important;
  display: inline-block !important;
  vertical-align: top !important; }

#settingup-toolbar {
  text-align: center; }
  #settingup-toolbar .toolbar-button-copy {
    vertical-align: middle;
    color: #666 !important; }
  #settingup-toolbar .toolbar-button {
    line-height: 58px;
    margin-right: 25px;
    position: relative; }
    #settingup-toolbar .toolbar-button i {
      color: #666;
      font-size: 21px;
      vertical-align: middle; }
    #settingup-toolbar .toolbar-button .ynicon-icon-check {
      color: #568b08;
      font-size: 13px; }
    #settingup-toolbar .toolbar-button .ynicon-carrot-dwn {
      font-size: 25px;
      color: #fff;
      right: 20px; }
  #settingup-toolbar .toolbar-center {
    width: auto;
    height: 100%;
    position: relative;
    margin: 0 auto;
    display: inline-block; }
    #settingup-toolbar .toolbar-center .cancel-broadcast {
      position: absolute; }
    #settingup-toolbar .toolbar-center .btn-transparent .ynicon-carrot-dwn {
      color: #666;
      font-size: 13px; }
    #settingup-toolbar .toolbar-center .mute-container {
      width: 65px;
      margin-right: 0; }
    #settingup-toolbar .toolbar-center .volume-icon {
      font-size: 21px;
      vertical-align: middle;
      display: inline-block; }
    #settingup-toolbar .toolbar-center .volume-bar {
      line-height: 50px;
      width: 53px;
      margin: 0 0 0 10px;
      padding: 3px 1px 5px; }
      #settingup-toolbar .toolbar-center .volume-bar .volume-background {
        display: inline-block; }
  #settingup-toolbar .toolbar-firefox {
    width: 100%; }
    #settingup-toolbar .toolbar-firefox > .toolbar-button:first-child {
      margin-right: 0;
      width: 100%;
      text-align: center; }
    #settingup-toolbar .toolbar-firefox .firefox-volume-controls {
      position: absolute;
      right: 40px;
      top: 0; }
    #settingup-toolbar .toolbar-firefox .mute-container {
      width: 26px; }

.player-toolbar-left {
  float: left;
  padding: 18px;
  color: #666666;
  font-size: 14px; }
  .player-toolbar-left .ynicon {
    color: #666666;
    font-size: 18px;
    vertical-align: top; }

.toolbar-button {
  float: left;
  margin-right: 15px;
  cursor: pointer; }
  .toolbar-button span {
    color: #666666; }
  .toolbar-button :hover > span {
    color: #999999; }
    .toolbar-button :hover > span .yt-icon {
      color: #787878; }

#toolbar-like-circle {
  height: 32px;
  width: 32px;
  border-radius: 32px;
  padding: 11px 6px 9px; }

.toolbar-like-count, .share-like-count {
  padding: 0 5px;
  float: left;
  margin: 2px 15px 0 -15px;
  color: #666666; }

#toolbar-share-button {
  position: relative; }

#toolbar-snapshot-button .ynicon-camera {
  margin-right: 8px; }

.share-item {
  color: #ffffff;
  padding: 12px 15px;
  display: inline-block;
  cursor: pointer; }

#toolbar-like-button img {
  width: 38px;
  margin-top: -9px; }
#toolbar-like-button.like-busy {
  cursor: default;
  pointer-events: none; }

.player-toolbar-right {
  padding: 15px 15px 0 0;
  color: #666666;
  font-size: 14px;
  position: absolute;
  right: 0;
  background: #fff; }
  .player-toolbar-right span {
    color: #666666;
    display: inline-block; }
  .player-toolbar-right .ynicon {
    vertical-align: middle;
    font-size: 14px;
    padding: 10px;
    display: inline-block;
    padding-right: 0px;
    margin-top: -2px; }
  .player-toolbar-right .stats-for-nerds {
    display: inline-block;
    position: relative; }
    .player-toolbar-right .stats-for-nerds .dropdown-menu {
      width: 520px;
      position: absolute;
      right: -192px;
      background-color: #000;
      color: #fff;
      border-radius: 4px;
      padding: 10px 15px;
      height: 138px; }
      .player-toolbar-right .stats-for-nerds .dropdown-menu .ynicon-carrot-up {
        position: absolute;
        top: -18px;
        right: 188px;
        color: #000; }
      .player-toolbar-right .stats-for-nerds .dropdown-menu .loader-container {
        position: absolute;
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        margin-left: -15px;
        margin-top: -10px; }
        .player-toolbar-right .stats-for-nerds .dropdown-menu .loader-container .spinning-loader {
          height: 6em;
          width: 6em;
          margin-top: 40px; }
      .player-toolbar-right .stats-for-nerds .dropdown-menu .nerd-stats-container .nerd-stats-row {
        width: 160px;
        display: inline-block; }
        .player-toolbar-right .stats-for-nerds .dropdown-menu .nerd-stats-container .nerd-stats-row div {
          font-size: 12px;
          display: inline-block; }
      .player-toolbar-right .stats-for-nerds .dropdown-menu .nerd-stats-bot-row {
        display: table; }
        .player-toolbar-right .stats-for-nerds .dropdown-menu .nerd-stats-bot-row canvas {
          display: table-cell;
          margin-right: 29px;
          border-left: 1px solid #666;
          border-bottom: 1px solid #666; }
        .player-toolbar-right .stats-for-nerds .dropdown-menu .nerd-stats-bot-row div {
          display: table-cell;
          vertical-align: middle; }
    .player-toolbar-right .stats-for-nerds .btn-transparent .ynicon-carrot-dwn {
      position: absolute;
      right: -10px;
      bottom: 0px;
      font-size: 8px; }

.player-toolbar-right .volume-icon {
  color: #666666;
  padding-left: 5px;
  margin-left: 5px; }

.mute-container:hover .volume-bar {
  width: 53px;
  margin: 0 0px 0 10px;
  padding: 3px 1px 5px 1px; }

.volume-background {
  width: 50px;
  height: 4px;
  background: #bfbfbf; }

.volume-foreground {
  width: 10px;
  height: 4px;
  background: #61c13e;
  float: left; }

.volume-slider {
  width: 2px;
  height: 10px;
  margin: -3px -1px;
  display: inline-block;
  background: #b4b4b4;
  float: left; }

#share-panel-marker {
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-top: 0px solid #1e1e1e;
  transition: border-width 0.3s ease-in-out;
  position: absolute;
  top: -18px;
  left: 2px; }
  #share-panel-marker.open {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #1e1e1e; }

/*
	OLD SHARE
*/
#toolbar-share-panel {
  position: absolute;
  width: 100%;
  height: 50px;
  background: #1e1e1e;
  text-align: center;
  font-size: 26px;
  top: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: top 0.3s;
  z-index: 101; }
  #toolbar-share-panel.open {
    top: -50px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; }
  #toolbar-share-panel .yn-icon {
    color: #ffffff; }

/*
	NEW SHARE
*/
.share-dropup {
  cursor: default;
  display: none;
  position: absolute;
  left: -60px;
  bottom: 24px;
  width: 360px;
  padding: 10px 10px 17px;
  color: #fff; }
  .share-dropup input, .share-dropup textarea, .share-dropup select, .share-dropup input:focus, .share-dropup textarea:focus, .share-dropup select:focus {
    outline: none !important;
    box-shadow: none !important; }
  .share-dropup .ynicon, .share-dropup span, .share-dropup * {
    color: #fff; }
  .share-dropup .share-dropup-content {
    background: #000;
    padding: 10px 12px;
    border-radius: 5px;
    box-shadow: 0 0 25px rgba(122, 122, 122, 0.25); }
  .share-dropup.open {
    display: block; }
  .share-dropup .heading .title {
    font-size: 18px;
    line-height: 22px;
    display: inline; }
  .share-dropup .heading .link {
    font-size: 12px;
    color: #666;
    position: absolute;
    right: 23px;
    text-align: right; }
  .share-dropup .message {
    display: table;
    width: 100%;
    padding-top: 10px; }
    .share-dropup .message * {
      vertical-align: top; }
    .share-dropup .message .image {
      display: table-cell; }
      .share-dropup .message .image .img {
        display: inline-block;
        height: 60px;
        width: 60px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        position: relative;
        background-size: cover; }
        .share-dropup .message .image .img .img_retake {
          cursor: pointer;
          display: none;
          height: 60px;
          width: 60px;
          font-size: 28px;
          line-height: 60px;
          text-align: center;
          color: #fff;
          text-shadow: 0px 0px 1px #111; }
        .share-dropup .message .image .img:hover .img_retake {
          display: inline-block; }
    .share-dropup .message .text {
      display: table-cell;
      width: 100%; }
    .share-dropup .message textarea {
      border: none;
      display: inline-block;
      background: #666;
      color: #ccc;
      height: 60px;
      width: 100%;
      padding: 5px;
      font-size: 14px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }
  .share-dropup .buttons > * {
    cursor: pointer;
    display: inline-block;
    padding: 13px 26px 0 7px; }
    .share-dropup .buttons > * > * {
      display: block;
      padding: 2px;
      text-align: center; }
      .share-dropup .buttons > * > * :before {
        font-size: 22px; }
  .share-dropup .buttons .shared * {
    color: #3b5998; }
  .share-dropup .triangle {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 36px;
    line-height: 18px;
    vertical-align: top;
    padding-left: 70px;
    color: #000; }
