
<div class="intro-video-overlay" ng-if="vm.swf.bootingFlash && vm.broadcast.async === false">
	<intro-video></intro-video>
</div>
<div class="transition-overlay" ng-if="vm.swf.loadingBroadcasterState">
	<!-- dissapate dead broadcast -->
	<div ng-if="vm.swf.loadingBroadcasterState === 'PREV' && !vm.swf.settingUpBroadcast " class="thumbnail-pulse">
		<div class="thumb circle-thumb" ng-style="{ background: 'url({{::vm.thumb}}' + vm.broadcast.broadcaster.userId + ') no-repeat, url({{::vm.noThumb}}) no-repeat', 'background-size': 'cover' }"></div>
	</div>
	<!-- buffering new broadcast -->
	<div ng-if="(vm.swf.playState === 'BUFFERING' || vm.swf.loadingBroadcasterState === 'NEXT') && !vm.swf.settingUpBroadcast" class="thumbnail-pulse" style="background: url({{::vm.pulseAnimation}}) no-repeat; background-position: center;">
		<div class="thumb circle-thumb" ng-style="{ background: 'url({{::vm.thumb}}' + vm.broadcast.broadcaster.userId + ') no-repeat, url({{::vm.noThumb}}) no-repeat', 'background-size': 'cover' }"></div>
	</div>
	<!-- reconnect screen -->
	<div ng-if="vm.swf.playState === 'RECONNECT' && !vm.swf.settingUpBroadcast" class="thumbnail-pulse" style="background: url({{::vm.pulseAnimation}}) no-repeat; background-position: center;">
		<div class="thumb circle-thumb" ng-style="{ background: 'url({{::vm.thumb}}' + vm.broadcast.broadcaster.userId + ') no-repeat, url({{::vm.noThumb}}) no-repeat', 'background-size': 'cover' }"></div>
	</div>
	<!-- buffering your own broadcast -->
	<div ng-if="vm.swf.settingUpBroadcast" class="thumbnail-pulse" style="background: url({{::vm.pulseAnimation}}) no-repeat; background-position: center;">
		<div class="thumb circle-thumb" ng-style="{ background: 'url({{::vm.thumb}}' + vm.session.user.userId + ') no-repeat, url({{::vm.noThumb}}) no-repeat', 'background-size': 'cover' }"></div>
	</div>
	<div class="user-info" ng-if="vm.swf.settingUpBroadcast"><i class="ynicon ynicon-level"></i>{{::vm.session.user.level}} {{::vm.session.user.profile}}</div>
	<div class="user-info" ng-if="!vm.swf.settingUpBroadcast"><i class="ynicon ynicon-level"></i>{{vm.Math.floor(vm.broadcast.broadcaster.userlevel)}} {{vm.broadcast.broadcaster.profile}}</div>
	<div class="transition-text" ng-if="vm.swf.loadingBroadcasterState === 'NEXT' || vm.swf.loadingBroadcasterState === 'WAITING'" translate="player_going_live"></div>
	<div class="transition-text" ng-if="vm.swf.loadingBroadcasterState === 'RECONNECT'" translate="player_reconnecting"></div>
</div>
<div class="message-overlay" ng-if="vm.swf.settingUpBroadcast">
	<!-- canceling the setup -->
	<button class="cancel btn btn-important active" ng-click="vm.cancelBroadcast()" translate="_cancel"></button>
</div>
<!-- dropping state -->
<div ng-if="vm.swf.broadcast.userId === vm.session.user.userId && !vm.swf.settingUpBroadcast && !vm.swf.eob">
	<!-- broadcaster -->
	<div ng-if="vm.guestService.overlayStates.guest != 'connected' && vm.guestService.overlayStates.guest != 'dropping' && vm.guestService.overlayStates.guest != 'swapping'">
		<div class="live-text active" translate="player_youarelive"></div>
		<button class="btn btn-important active" ng-click="vm.dropBroadcast(true)" translate="_end"></button>
		<div class="drop-broadcast-confirmation" ng-class="{active: vm.dropBroadcastActive}">
			<div translate="player_areyousure"></div>
			<button class="btn btn-transparent" ng-click="vm.dropBroadcast()" translate="_yes"></button>
			<button class="btn btn-transparent" ng-click="vm.dropBroadcast(false)" translate="_no"></button>
		</div>
	</div>

	<!-- guest -->
	<div ng-if="vm.guestService.overlayStates.guest == 'connected' && vm.guestService.overlayStates.guest != 'dropping' && vm.guestService.overlayStates.guest != 'swapping'">
		<div class="live-text-guest active short-text">{{vm.guestService.guest.name}}</div>
		<div class="guest-actions active">
			<button class="btn btn-primary" ng-click="vm.randomGuest()" ng-if="vm.guestService.guestListCount >= 5">
				<span translate="_random"></span>
				<i class="ynicon ynicon-bc-call"></i>
			</button>
			<button class="btn btn-important" ng-click="vm.dropGuestAsBroadcaster()" translate="_drop"></button>
		</div>
	</div>
</div>

<!-- guest dropping state -->
<div ng-if="vm.guestService.guest.userId == vm.session.user.userId && !vm.swf.fullscreenActive">
	<div class="live-text-guest active" translate="player_youarelive"></div>
	<button class="drop-guest btn btn-important active" ng-click="vm.dropBroadcastActive = true" translate="_end"></button>
	<div class="guest drop-broadcast-confirmation" ng-class="{active: vm.dropBroadcastActive}">
		<div translate="player_areyousure"></div>
		<button class="btn btn-transparent" ng-click="vm.dropGuestAsGuest()" translate="_yes"></button>
		<button class="btn btn-transparent" ng-click="vm.dropGuestAsGuestCancel()" translate="_no"></button>
	</div>
</div>

<button class="drop-broadcast btn btn-transparent active clear-eob" ng-if="vm.swf.eob !== undefined" ng-click="vm.clearEOB()">
	<i class="ynicon ynicon-close"></i>
</button>

<!-- top -->
<div class="system-message" collapse="!vm.systemMessage.hasMessage || vm.systemMessage.dismissed" ng-if="!vm.swf.settingUpBroadcast">
	<span class="sys-message" ng-bind-html="vm.systemMessage.message.trustedMessage"></span>
	<a ng-if="vm.systemMessage.message.webButton.action" ng-href="{{vm.systemMessage.message.webButton.action}}" target="_blank" class="cta-button">{{vm.systemMessage.message.webButton.caption}}</a>
	<div class="close-button" ng-click="vm.dismissSystemMessage()"><i class="ynicon ynicon-close"></i></div>
</div>

<!-- eob -->
<div class="eob-overlay" ng-class="{active: vm.swf.eob.visible}" ng-if="vm.swf.eob !== undefined">


	<!-- NON PARTNER -->
	<table ng-if="vm.swf.eob.partner!=1 && vm.swf.eob.partner!=2 && vm.swf.eob.partner!=6 && vm.swf.eob.partner!=7" class="eob-valign"><tr><td>
		<h2>{{::vm.swf.eob.scoreText}}</h2>
		<ul class="eob-list">
			<li>
				<div translate="eob_viewers"></div>
				<div>{{::vm.swf.eob.viewers ||0}}</div>
			</li>
			<li>
				<div translate="eob_duration"></div>
				<div>{{::vm.swf.eob.duration ||0}}</div>
			</li>
			<li ng-if="vm.swf.eob.fansAdded!=0">
				<div translate="eob_newfans"></div>
				<div>{{::vm.swf.eob.fansAdded ||0}}</div>
			</li>
			<li>
				<div translate="eob_premium_givers"></div>
				<div>{{::vm.swf.eob.spendersCount ||0}}</div>
			</li>
			<li>
				<div translate="eob_shares"></div>
				<div>{{::vm.swf.eob.shares ||0}}</div>
			</li>
			<li ng-if="vm.swf.eob.fansAdded==0">
				<div translate="eob_likes"></div>
				<div>{{::vm.swf.eob.likes ||0}}</div>
			</li>
		</ul>
		<div>
			<div class="level-copy" translate="eob_progress_to" translate-values="{progress:vm.swf.eob.progress,level:vm.swf.eob.nextLevel}"></div>
			<div class="level-bar">
				<div class="total-progress pull-left" ng-style="{'width': vm.swf.eob.startLevel+'%'}"></div>
				<div class="last-progress pull-left" ng-style="{'width': vm.swf.eob.endLevel+'%'}"></div>
			</div>
			<button class="btn btn-primary" ng-click="vm.broadcastAgain()" translate="eob_again"></button>
		</div>
	</td></tr></table>


	<!-- CANDIDATE PARTNER -->
	<table ng-if="vm.swf.eob.partner==2 || vm.swf.eob.partner==6 || vm.swf.eob.partner==7" class="eob-valign"><tr><td>
		<h2>{{::vm.swf.eob.scoreText}}</h2>
		<ul class="eob-list">
			<li>
				<div translate="eob_viewers"></div>
				<div>{{::vm.swf.eob.viewers ||0}}</div>
			</li>
			<li>
				<div translate="eob_duration"></div>
				<div>{{::vm.swf.eob.duration ||0}}</div>
			</li>
			<li ng-if="vm.swf.eob.fansAdded!=0">
				<div translate="eob_newfans"></div>
				<div>{{::vm.swf.eob.fansAdded ||0}}</div>
			</li>
			<li>
				<div translate="eob_premium_givers"></div>
				<div>{{::vm.swf.eob.spendersCount ||0}}</div>
			</li>
			<li>
				<div translate="eob_shares"></div>
				<div>{{::vm.swf.eob.shares ||0}}</div>
			</li>
			<li ng-if="vm.swf.eob.fansAdded==0">
				<div translate="eob_likes"></div>
				<div>{{::vm.swf.eob.likes ||0}}</div>
			</li>
		</ul>
		<ul class="eob-emphasized">
			<li>
				<div translate="eob_premium_earnings"></div>
				<div>${{::vm.swf.eob.estimatedGiftsEarnings||'0.00'}}</div>
			</li>
		</ul>
		<div>
			<div ng-if="vm.swf.eob.partner==2">
				<div class="level-copy" style="margin:15px 0 0;font-size:20px;text-align:center;" translate="eob_congratulations_qualify"></div>
				<a class="btn btn-confirm" href="/partners" target="_blank" translate="eob_applynow"></a>
			</div>
			<div ng-if="vm.swf.eob.partner==6 || vm.swf.eob.partner==7">
				<div class="partner-copy-important" translate="eob_must_accept"></div>
				<a class="btn btn-confirm" href="/partners" target="_blank" translate="_continue"></a>
			</div>
		</div>
	</td></tr></table>


	<!-- PARTNER -->
	<table ng-if="vm.swf.eob.partner==1" class="eob-valign"><tr><td>
		<h2>{{::vm.swf.eob.scoreText}}</h2>
		<ul class="eob-list">
			<li>
				<div translate="eob_viewers"></div>
				<div>{{::vm.swf.eob.viewers ||0}}</div>
			</li>
			<li>
				<div translate="eob_duration"></div>
				<div>{{::vm.swf.eob.duration ||0}}</div>
			</li>
			<li ng-if="vm.swf.eob.fansAdded!=0">
				<div translate="eob_newfans"></div>
				<div>{{::vm.swf.eob.fansAdded ||0}}</div>
			</li>
			<li>
				<div translate="eob_premium_givers"></div>
				<div>{{::vm.swf.eob.spendersCount ||0}}</div>
			</li>
			<li>
				<div translate="eob_shares"></div>
				<div>{{::vm.swf.eob.shares ||0}}</div>
			</li>
			<li ng-if="vm.swf.eob.fansAdded==0">
				<div translate="eob_likes"></div>
				<div>{{::vm.swf.eob.likes ||0}}</div>
			</li>
		</ul>
		<ul class="eob-emphasized">
			<li>
				<div translate="eob_premium_earnings"></div>
				<div>${{::vm.swf.eob.estimatedGiftsEarnings||'0.00'}}</div>
			</li>
		</ul>
		<ul class="eob-list" ng-if="::(vm.swf.eob.subscribersAdded && vm.swf.eob.subscribersAdded!=0)">
			<li>
				<div translate="eob_new_subscribers"></div>
				<div>{{::vm.swf.eob.subscribersAdded ||0}}</div>
			</li>
		</ul>
		<ul class="eob-emphasized" ng-if="::(vm.swf.eob.subscriptionEarnings && vm.swf.eob.subscriptionEarnings!=0)">
			<li class="partner-earnings">
				<div translate="eob_sub_earnings"></div>
				<div>${{::vm.swf.eob.subscriptionEarnings ||0}}/mo</div>
			</li>
		</ul>
		<div>
			<div>
				<a class="btn btn-primary" href="/partners/earnings" translate="eob_view_monthly_earnings"></a>
			</div>
		</div>
	</td></tr></table>

</div>


<!-- gifts -->
<div class="premium-overlay" ng-click="vm.openProfile()" ng-class="{'overlay-fade': vm.gift == false || vm.swf.settingUpBroadcast || vm.suppressGiftOverlays(), 'overlay-fade-in': vm.gift !== false && !vm.swf.settingUpBroadcast && !vm.suppressGiftOverlays(), 'premium-small': vm.swf.sharePanelOpen}">
	<div class="gift-overlay" ng-class="{ 'subscription-gift-overlay' : vm.gift.info.itemGameType=='SUBSCRIPTION', 'tipbig' : (vm.gift.info.itemGameType=='TIP' && (vm.gift.value>1000)) }">
		
		<!-- subscription -->
		<div class="subscription-gift" ng-if="vm.gift.info.itemGameType=='SUBSCRIPTION'">
			<span
			class="gbroadcaster thumb"
			ng-style="{ background: 'url({{::vm.thumb}}' + vm.swf.broadcast.userId + '), url({{::vm.noThumb}}) no-repeat', 'background-size': 'cover' }">
				<span class="ynbadge">
					<img ng-src="{{::vm.config.settings.BadgeBaseUrl}}/{{::vm.swf.broadcast.userId}}/1/badge@2x.png" />
				</span>
			</span>
			<span class="gspace thumb" ng-class="{ 'animateSubs ' : vm.gift.animateSubs }"></span>
			<span
			class="guser thumb"
			ng-style="{ background: 'url({{::vm.thumb}}' + vm.gift.userId + '), url({{::vm.noThumb}}) no-repeat', 'background-size': 'cover' }">
			</span>
		</div>
		<!-- animation -->
		<div class="premium-gift animation-gift" ng-if="vm.gift.info.itemGameType=='ANIMATION'">
			<div class="thumb" ng-style="{ background: 'url({{::vm.thumb}}' + vm.gift.userId + '), url({{::vm.noThumb}}) no-repeat', 'background-size': 'cover' }"></div>
			<span class="gift-message">{{vm.gift.comment}}</span>
			<img ng-src="{{::vm.swf.giftsAssetsBaseUrl}}{{vm.swf.giftSkus[vm.gift.giftId]}}/web_animation.gif">
		</div>
		<!-- tip big -->
		<div class="premium-gift" ng-if="vm.gift.info.itemGameType=='TIP' && vm.gift.value>1000">
			<img ng-src="{{vm.gift.imageFilename}}" style="width: auto;height: 230px;margin-left: -77px;margin-top: -94px;margin-bottom: -70px;">
			<div
			class="thumb"
			ng-class="{ 'visibilityhidden' : !vm.isProposalGift(vm.gift.giftId) }"
			ng-style="{ background: 'url({{::vm.thumb}}' + vm.gift.userId + '), url({{::vm.noThumb}}) no-repeat', 'background-size': 'cover' }">
			</div>
		</div>
		<!-- image -->
		<div class="premium-gift" ng-if="(vm.gift.info.itemGameType!='SUBSCRIPTION' && vm.gift.info.itemGameType!='ANIMATION') || (vm.gift.info.itemGameType=='TIP' && vm.gift.value<=1000)">
			<img ng-src="{{::vm.swf.giftsAssetsBaseUrl}}{{vm.swf.giftSkus[vm.gift.giftId]}}/web_overlay.png">
			<div
			class="thumb"
			ng-class="{ 'visibilityhidden' : !vm.isProposalGift(vm.gift.giftId) }"
			ng-style="{ background: 'url({{::vm.thumb}}' + vm.giftUserId_lastingValue + '), url({{::vm.noThumb}}) no-repeat', 'background-size': 'cover' }">
			</div>
		</div>

		<!-- message -->
		<span class="gift-message" ng-if="vm.gift.info.itemGameType!='ANIMATION'">{{vm.gift.comment}}</span>
	</div>
</div>
