.player-overlay {
  position: absolute;
  width: 592px;
  height: 444px;
  /* TRANSITIONS */ }
  .player-overlay .message-overlay {
    position: absolute;
    width: 100%; }
  .player-overlay .drop-broadcast {
    font-size: 22px;
    z-index: 1005;
    color: #ff0000;
    position: absolute;
    left: 14px;
    top: 14px;
    opacity: 0;
    visibility: hidden; }
  .player-overlay .clear-eob {
    z-index: 1025; }
  .player-overlay .btn-important, .player-overlay .guest-actions {
    z-index: 1005;
    position: absolute;
    top: 50px;
    opacity: 0;
    visibility: hidden; }
  .player-overlay .btn-important {
    left: 15px;
    background-color: #f1310f;
    min-width: 54px; }
    .player-overlay .btn-important.cancel {
      top: 14px; }
    .player-overlay .btn-important:hover {
      background-color: #f95725; }
  .player-overlay .guest-actions .btn-primary {
    margin-right: 5px;
    z-index: 0; }
    .player-overlay .guest-actions .btn-primary .ynicon-bc-call {
      font-size: 14px; }
    .player-overlay .guest-actions .btn-primary span {
      vertical-align: top; }
  .player-overlay .guest-actions .btn-important {
    position: static;
    z-index: 0;
    opacity: 1;
    visibility: visible; }
  .player-overlay .drop-guest, .player-overlay .guest-actions {
    right: 15px;
    left: inherit; }
  .player-overlay .live-text, .player-overlay .live-text-guest {
    position: absolute;
    top: 14px;
    color: #fff;
    z-index: 1005;
    font-size: 18px;
    opacity: 0;
    visibility: hidden;
    text-shadow: 0px 0px 15px #000; }
  .player-overlay .live-text {
    left: 15px; }
  .player-overlay .live-text-guest {
    right: 15px;
    max-width: 260px; }
  .player-overlay .mirror-camera {
    font-size: 22px;
    position: absolute;
    right: 15px;
    top: 18px;
    z-index: 1005;
    color: #fff;
    transition: 1s ease-in-out; }
    .player-overlay .mirror-camera.mirrored {
      transform: rotateY(180deg); }
  .player-overlay .drop-broadcast-confirmation {
    position: absolute;
    left: 15px;
    top: 44px;
    height: 39px;
    padding: 6px 6px 6px 10px;
    z-index: 1005;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    color: #fff;
    text-align: center;
    padding: 6px 0;
    opacity: 0;
    visibility: hidden; }
    .player-overlay .drop-broadcast-confirmation.guest {
      right: 15px;
      left: inherit; }
    .player-overlay .drop-broadcast-confirmation .btn, .player-overlay .drop-broadcast-confirmation div {
      display: inline-block; }
    .player-overlay .drop-broadcast-confirmation .btn {
      height: 26px;
      width: 45px;
      color: #fff;
      background-color: #000; }
  .player-overlay .drop-broadcast, .player-overlay .btn-important, .player-overlay .guest-actions, .player-overlay .drop-broadcast-confirmation, .player-overlay .eob-overlay, .player-overlay .live-text, .player-overlay .live-text-guest {
    transition: visibility 0s linear 0.5s, opacity 0.5s linear; }
    .player-overlay .drop-broadcast.active, .player-overlay .btn-important.active, .player-overlay .guest-actions.active, .player-overlay .drop-broadcast-confirmation.active, .player-overlay .eob-overlay.active, .player-overlay .live-text.active, .player-overlay .live-text-guest.active {
      opacity: 1;
      visibility: visible;
      transition-delay: 0s; }
  .player-overlay .eob-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1020;
    text-align: center;
    opacity: 0; }
    .player-overlay .eob-overlay h2 {
      font-size: 22px;
      color: #fff;
      margin: 0 0 15px; }
    .player-overlay .eob-overlay table {
      width: 100%;
      border-spacing: 0;
      border-collapse: separate;
      color: #fff; }
      .player-overlay .eob-overlay table td > * {
        width: 350px;
        margin: 0 auto 6px; }
      .player-overlay .eob-overlay table ul {
        color: #fff;
        margin: 0 auto;
        text-align: left;
        font-size: 14px; }
        .player-overlay .eob-overlay table ul li {
          padding: 5px 0;
          list-style: none;
          margin-left: 0; }
          .player-overlay .eob-overlay table ul li div {
            display: inline; }
          .player-overlay .eob-overlay table ul li div:last-child {
            float: right;
            text-align: right; }
      .player-overlay .eob-overlay table ul.eob-numbered li {
        list-style-type: decimal;
        margin-left: 20px; }
      .player-overlay .eob-overlay table ul.eob-emphasized {
        font-size: 15px;
        font-weight: bold; }
    .player-overlay .eob-overlay .eob-valign {
      height: 100%; }
    .player-overlay .eob-overlay .subearnings-copy {
      margin: 0;
      font-size: 14px;
      color: #ccc; }
      .player-overlay .eob-overlay .subearnings-copy b {
        color: #fff;
        font-weight: normal; }
    .player-overlay .eob-overlay .level-copy {
      text-align: left;
      margin-bottom: 10px; }
    .player-overlay .eob-overlay .level-bar {
      height: 4px;
      background-color: #333; }
      .player-overlay .eob-overlay .level-bar div {
        height: 4px; }
      .player-overlay .eob-overlay .level-bar .total-progress {
        background-color: #61c13e; }
      .player-overlay .eob-overlay .level-bar .last-progress {
        background-color: #f5ab2e; }
    .player-overlay .eob-overlay .partner-copy, .player-overlay .eob-overlay .prepartner-copy, .player-overlay .eob-overlay .partner-copy-important {
      font-size: 13px;
      margin: 20px 0 -20px 0; }
    .player-overlay .eob-overlay .partner-copy {
      color: #666666; }
    .player-overlay .eob-overlay .prepartner-copy {
      font-size: 14px;
      color: #ccc; }
    .player-overlay .eob-overlay .partner-copy-important {
      color: #ff0000; }
    .player-overlay .eob-overlay .btn {
      font-weight: bold;
      min-width: 130px;
      margin-top: 25px; }
  .player-overlay .intro-video-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 1020; }
  .player-overlay video {
    width: 100%;
    height: 100%; }
  .player-overlay .transition-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 1010; }
    .player-overlay .transition-overlay .thumbnail-pulse {
      position: absolute;
      width: 100%;
      height: 100%;
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
    .player-overlay .transition-overlay .thumb {
      width: 60px;
      height: 60px;
      display: inline-block;
      vertical-align: middle;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -30px;
      margin-left: -30px;
      border-radius: 50%; }
    .player-overlay .transition-overlay .user-info {
      font-size: 16px;
      color: #ffffff;
      bottom: 155px; }
    .player-overlay .transition-overlay .transition-text {
      bottom: 130px;
      color: #666; }
    .player-overlay .transition-overlay .user-info, .player-overlay .transition-overlay .transition-text {
      width: 100%;
      text-align: center;
      position: absolute; }
  .player-overlay .system-message.collapse.in {
    padding-top: 10px; }
  .player-overlay .system-message {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    /* W3C */
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 1015; }
    .player-overlay .system-message span {
      font-size: 16px;
      color: #ffffff;
      width: 65%;
      display: block;
      margin: 0 auto;
      word-wrap: break-word;
      line-height: 25px;
      text-shadow: 2px 2px rgba(19, 16, 16, 0.67); }
      .player-overlay .system-message span a {
        text-decoration: none;
        color: #ffffff;
        font-weight: bold; }
    .player-overlay .system-message .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      color: rgba(255, 255, 255, 0.7);
      width: 20px;
      cursor: pointer; }
    .player-overlay .system-message .close-button:hover {
      color: white; }
    .player-overlay .system-message .sys-message {
      margin-top: 10px;
      margin-bottom: 10px; }
    .player-overlay .system-message .cta-button {
      height: 30px;
      border: solid 1px;
      border-radius: 4px;
      border-color: #424242;
      background-color: #424242;
      color: #f7f7f7;
      font-size: 13px;
      display: inline-block;
      margin: 15px 0px;
      margin-top: 0;
      line-height: 18px;
      padding: 6px 20px;
      text-decoration: none; }
    .player-overlay .system-message .cta-button:hover {
      background-color: #666666; }
    .player-overlay .system-message .cta-button:focus {
      background-color: #424242; }
  .player-overlay .premium-small {
    height: 395px !important; }
  .player-overlay .premium-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 59%, rgba(0, 0, 0, 0.2) 69%, rgba(0, 0, 0, 0.8) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#cc000000',GradientType=0 );
    /* IE6-9 */ }
    .player-overlay .premium-overlay .transition-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      color: #fff;
      background: #000;
      padding: 100px;
      text-align: center; }
    .player-overlay .premium-overlay .gift-overlay {
      display: block;
      position: absolute;
      bottom: 3%;
      width: 100%; }
    .player-overlay .premium-overlay .gift-message, .player-overlay .premium-overlay .premium-gift {
      bottom: 6%; }
    .player-overlay .premium-overlay .premium-gift {
      width: 76px;
      margin: 0 auto 6%;
      opacity: 0;
      position: relative; }
      .player-overlay .premium-overlay .premium-gift img:first-child {
        width: 75px;
        height: 66px; }
      .player-overlay .premium-overlay .premium-gift.animation-gift {
        display: block;
        width: auto;
        margin: 0 auto;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center; }
        .player-overlay .premium-overlay .premium-gift.animation-gift > * {
          display: inline-block;
          position: relative;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          vertical-align: middle;
          width: auto;
          height: 50px;
          line-height: 50px; }
        .player-overlay .premium-overlay .premium-gift.animation-gift > .thumb {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin: 15px 15px 10px; }
        .player-overlay .premium-overlay .premium-gift.animation-gift > img {
          width: 100px;
          height: 94px; }
    .player-overlay .premium-overlay .subscription-gift {
      margin: 0 auto;
      position: relative;
      text-align: center; }
      .player-overlay .premium-overlay .subscription-gift .gspace, .player-overlay .premium-overlay .subscription-gift .guser, .player-overlay .premium-overlay .subscription-gift .gbroadcaster {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        margin: 0 -11px 50px 22px; }
        .player-overlay .premium-overlay .subscription-gift .gspace .ynbadge, .player-overlay .premium-overlay .subscription-gift .guser .ynbadge, .player-overlay .premium-overlay .subscription-gift .gbroadcaster .ynbadge {
          color: #76b343;
          display: block;
          position: absolute;
          bottom: -5px;
          right: -5px;
          width: 24px;
          height: 24px; }
          .player-overlay .premium-overlay .subscription-gift .gspace .ynbadge img, .player-overlay .premium-overlay .subscription-gift .guser .ynbadge img, .player-overlay .premium-overlay .subscription-gift .gbroadcaster .ynbadge img {
            height: 100%;
            width: 100%; }
      .player-overlay .premium-overlay .subscription-gift .gspace {
        width: 200px;
        margin: 0;
        transition: width 0.8s ease-in-out; }
        .player-overlay .premium-overlay .subscription-gift .gspace.animateSubs {
          width: 0px; }
    .player-overlay .premium-overlay .gift-message {
      position: absolute;
      width: 100%;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      color: #ffffff;
      opacity: 0;
      display: block; }
    .player-overlay .premium-overlay .subscription-gift-overlay .gift-message {
      color: #fff; }
    .player-overlay .premium-overlay .thumb {
      width: 34px;
      height: 34px;
      position: absolute;
      top: 16px;
      right: 21px;
      border-radius: 4px; }
    .player-overlay .premium-overlay .thumb.ng-hide {
      display: block !important;
      opacity: 0; }
  .player-overlay .overlay-fade {
    opacity: 0;
    z-index: 100;
    visibility: hidden; }
    .player-overlay .overlay-fade .premium-gift, .player-overlay .overlay-fade .gift-message {
      opacity: 0; }
  .player-overlay .overlay-fade-in {
    opacity: 1;
    z-index: 100;
    visibility: visibile; }
    .player-overlay .overlay-fade-in .premium-gift, .player-overlay .overlay-fade-in .gift-message {
      opacity: 1; }
  .player-overlay .premium-overlay, .player-overlay .gift-message, .player-overlay .premium-gift {
    transition: opacity 0.9s linear 0s, visibility 0.9s linear 0s; }
