<div class="row">

	<div class="signin">
		<div ng-if="header.currentUser.name">
			<a href="" ng-if="header.currentUser.name" ng-click="header.logout()">Sign Out</a>
		</div>
		<div ng-if="!header.currentUser.name">
			<a class="btn btn-block btn-social"
				ng-repeat="(providerKey, providerDetails) in header.socialProviders"
				ng-class="'btn-' + providerDetails.name"
				ng-click="header.socialSignin(providerDetails)">
				<i class="fa" ng-class="'fa-' + providerDetails.css"></i> {{providerDetails.label}}
			</a>
		</div>
	</div>

</div>
<ui-view></ui-view>