<!doctype html>
<html>
<head>
	<title><%=process.window.page.emo%></title>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<base href="/">
	<script>
		window.system = <%- '\n'+JSON.stringify(process.window.system,null,'\t') %>;
		window.page = <%- '\n'+JSON.stringify(process.window.page,null,'\t') %>;
	</script>
	<link rel="stylesheet" href="assets/ionicons/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/ionicons/css/ionicons.min.css">
</head>

<body ng-app="mytodoApp">
	<div class="container" ui-view></div>

	<!-- build:js({.tmp,./}) scripts/vendor.js -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-touch/angular-touch.js"></script>
	<script src="bower_components/jquery-ui/jquery-ui.js"></script>
	<script src="bower_components/angular-ui-sortable/sortable.js"></script>
	<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="bower_components/angularbknd-sdk/dist/backand.min.js"></script>
	<!-- endbuild -->

	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src="app.js"></script>
	<script src="views/all/header.js"></script>
	<script src="views/all/list.js"></script>
	<script src="services/auth_service.js"></script>
	<script src="services/todo_service.js"></script>
	<script src="config/interceptors/todo_http_interceptor.js"></script>
	<script src="config/consts.js"></script>
	<!-- endbuild -->

</body>

</html>