.home-container {
    min-width: 995px;

    .homeSection {
        padding: 40px 0 30px 0;
        background:#fff;
        .cta-btn-container {
            width: 100%;
            text-align: center;
        }
        .cta-btn {
        	padding-left:12px;
        	padding-right:12px;
            margin: 40px auto 0 auto;
            display: inline-block;
            min-width: 140px;
            font-size: 20px;
            border: 0px;
            margin-bottom: 20px;
            height: 45px;
            line-height: 34px;
            color:#fff;
        }
        h2 {
            text-align: center;
            margin: 0 0 30px 0;
            font-weight: lighter;
        }
    }
    .homeSection:nth-child(odd) {
	background-color: #f8f8f8;
    }
    .homeSection.newFooter {
    	padding: 28px 0 22px;
    }
    h2 {
        text-align: center;
        margin: 0 0 40px 0;
        font-weight: lighter;
    }
    .inner-container {
        width: 760px;
        margin: 0 auto;
    }
    .search-container {
        position: relative;
        height: 440px;
        z-index: 10;
        padding:0;
        .logo-image {
            color: #fff;
            height: 52px;
            width:auto;
            transform:rotate(0deg); /* actually this helps */
        }
        .search-top {
            z-index: 10;
            position: relative;
            height: 87px;
            padding: 15px;
            line-height: 52px;
            line-height: 30px;
            margin-right: 10px;
        }
        .search-cta {
            > .btn, a {
                margin-left: 20px;
                font-size: 17px;
            }
            .btn-outline {
                min-width: 100px;
            }
            .btn-primary {
                min-width: 128px;
            }
            a {
                color: #fff;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        /* placeholder text styling */

        ::-webkit-input-placeholder {
            /* WebKit browsers */

            color: white;
        }
        :-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */

            color: white;
            opacity: 1;
        }
        ::-moz-placeholder {
            /* Mozilla Firefox 19+ */

            color: white;
            opacity: 1;
        }
        :-ms-input-placeholder {
            /* Internet Explorer 10+ */

            color: white;
        }
        .home-video-container {
            overflow: hidden;
            height: 440px;
            width: 100%;
            position: absolute;
            top:0;
            background-color: #000;
        }

        .home-video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 0;
            height: auto;
            opacity: 0.7;
            margin-top:-130px;
        }
        h1 {
            margin-top: 100px;
            color: #fff;
        }
        h4 {
            color: #fff;
            line-height: 20px;
            padding: 0 270px;
            line-height: 23px;
            max-width: 1326px;
            margin: 0 auto;
        }
        h1,
        h4 {
            position: relative;
            text-align: center;
        }
        .search-box {
            width: 500px;
            height: 50px;
            margin: 0 auto;
            float: none !important;
            margin-top: 20px;

            .btn-primary {
                border-color: #61c13e;
            }

            .search-field {
                height: 50px;
                background-color: rgba(255, 255, 255, 0.5);
                padding: 1px 100px 1px 63px;
                color: #fff;
                font-size: 20px;
                border-radius: 4px;
            }
            .ynicon-search {
                line-height: 40px;
                left: 15px;
                width: 23px;
                color: white;
            }
            .dropdown-menu {
                width: 100% !important;
                left: 0px !important;
                margin-top: 0px !important;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;

                .searchResult-more,
                li:last-child.active {
                    border-bottom-right-radius: 4px !important;
                    border-bottom-left-radius: 4px !important;
                }
            }
        }
    }
    .explore-container {
        background-color: #fff;
        text-align: justify;

		.inner-container {
			max-height: 140px;
			overflow: hidden;
		}

        .tag {
            border: 1px solid transparent;
            border-radius: 20px;
            margin: 5px;
            cursor: pointer;
            font-size: 16px;
            padding: 6px 10px;
            background-color: #3f7dd8;
            color: #fff;
            text-decoration: none;
            line-height: 45px;
            white-space: pre;

            &:hover {
	            background: #5899f9;
            }
        }
    }
    .join-container {
    	.join-content {
		text-align:center;
		margin:0 auto 5px;
	}
	h2 {
		margin:0;
	}
	.cta-btn {
		margin:20px 0 0;
	}
    }
    .trending-bc-container {
        .trending-bcers {
            margin: 0 auto;
            width: 755px;
            height: 470px;
        }
        .trending-bcer {
            margin: 0 10px 45px 10px;
            display: inline-block;
            .trending-desc {
                display: inline-block;
                font-size: 14px;
                text-decoration: none;
                > * {
                    color: #999;
                    display: inline-block;
                    overflow: hidden;
                }
                &:hover {
                    text-decoration: none;
                }
                .short-text {
                    max-width: 100px;
                }
            }
        }
        .trending-tag {
            font-size: 20px;
            margin-top: 15px;
            display: block;
            color: #333;
            text-decoration: none;
            max-width: 140px;
        }
        .thumb {
		width: 168px;
		height: 126px;
            position: relative;
            background-size: cover !important;

            span {
                position: absolute;
                width: 100%;
                bottom: 0;
                color: #fff;
                font-size: 20px;
                padding-left: 10px;
                z-index: 20;
            }
        }
    }
    .mobile-container {
        background-color: #fff;
        padding-bottom: 0;
    }
}


/*
	EXP header
*/
#old_navbar {
	display:none;
	background:#ffffff;
	a {
		color:#61c13e !important;
	}
	.btn-primary {
		margin-left:15px;
	}
	.explore_text {
		display:none;
	}
	.search-box {
		input {
			background:#f2f0f1;
		}
		i {
			color:#fff;
		}

	}
}
.scrolled #old_navbar {
	display:block;
}


/*
	EXP
*/
.home-container.expX {
	.home-video-container {
		overflow: hidden;
		height: 500px;
		width: 100%;
		position: absolute;
		top:0;
		background-color: #000;
	}
	.home-video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 0;
		height: auto;
		opacity: 0.7;
		margin-top:-130px;
	}
	.experiment_app {
		text-align:center;
		font-size:16px;
		span {
			color:#999;
		}
		a {
			padding-left:12px;
			text-decoration:none !important;
		}
	}
	#old_navbar {

		yn-search-bar {
			position:relative;
			display:block;
			margin:inherit;
			width: inherit;
		}

		/* placeholder text styling */
		::-webkit-input-placeholder {
		    /* WebKit browsers */
		    color: #ccc;
		}
		:-moz-placeholder {
		    /* Mozilla Firefox 4 to 18 */
		    color: #ccc;
		    opacity: 1;
		}
		::-moz-placeholder {
		    /* Mozilla Firefox 19+ */
		    color: #ccc;
		    opacity: 1;
		}
		:-ms-input-placeholder {
		    /* Internet Explorer 10+ */
		    color: #ccc;
		}
		.search-box {
		    .btn-primary {
		        border-color: #ccc;
		    }
		    .search-field {
			border: solid 1px #ccc;
			background: none;
		    }
		    .ynicon-search {
		    	color:#ccc;
		    }
		    .dropdown-menu {
		    	margin-top:-2px !important;
		       
		        .searchResult-more,
		        li:last-child.active {
		        }
		    }
		}

	}
}


/*
	EXP B
*/
.home-container.expB {

	/*
		bottom
	*/
	.darkFooter {
		background:rgb(242,242,242);
	}

	.experiment_connect {
		text-align: center;
		font-size: 16px;
		padding: 60px 0;
		color:#999;
		.moreOptions {
			color:#cccccc; 
			.moreOptionsClick {
				color:#cccccc;
			}
		}
		.homeButtons {
			margin:20px auto 30px;
			.moreOptionsClick {
				color:#cccccc;
				&:hover {
					color:#999;
				}
			}
		}
		.experiment_terms {
			text-align:center;
			color:#cccccc;
			a {
				text-decoration:underline;
				color:#cccccc;
				&:hover {
					color:#999;
				}
			}
		}
		.experiment_connect_title {
			color:#666;
			max-width: 600px;
			margin: 0 auto;
		}
	}

	/*
		old navbar
	*/
	.navbar {
		.explore-text {
			display:none;
		}
	}

	/*
		new navbar
	*/
	.logo-image {
	    color: #fff;
	    height: 52px;
	    width:auto;
	    transform:rotate(0deg); /* actually this helps */
	}
	.search-top {
	    z-index: 10;
	    position: relative;
	    height: 87px;
	    padding: 10px 15px;
	    line-height: 52px;
	    line-height: 30px;
	    margin-right: 10px;
	    min-width: 100%;
	}
	yn-search-bar {
		position:relative;
		display:block;
		margin: -50px auto 0 auto;
		width: 250px;
	}
	.search-cta {
	    > .btn, a {
	        margin-left: 20px;
	        font-size: 17px;
	    }
	    .btn-outline {
	        min-width: 100px;
	    }
	    .btn-primary {
	        min-width: 128px;
	    }
	    a {
	        color: #fff;
	        &:hover {
	            text-decoration: none;
	        }
	    }
	}
	/* placeholder text styling */
	::-webkit-input-placeholder {
	    /* WebKit browsers */
	    color: white;
	}
	:-moz-placeholder {
	    /* Mozilla Firefox 4 to 18 */
	    color: white;
	    opacity: 1;
	}
	::-moz-placeholder {
	    /* Mozilla Firefox 19+ */
	    color: white;
	    opacity: 1;
	}
	:-ms-input-placeholder {
	    /* Internet Explorer 10+ */
	    color: white;
	}
	.search-box {
	    .btn-primary {
	        border-color: #fff;
	    }
	    .search-field {
		border: solid 1px #fff;
		background: none;
	    }
	    .ynicon-search {
	    	color:#fff;
	    }
	    .dropdown-menu {
	    	margin-top:-2px !important;
	       
	        .searchResult-more,
	        li:last-child.active {
	        }
	    }
	}

	/*
		top
	*/
	.top-container {
		position: relative;
		min-height: 500px;
		z-index: 10;
		padding:0;
		background-color:#999;
		background-size:cover;
		background-position:center;
		repeat:no-repeat;
    		overflow:hidden;
	}
	.homeTitle {
		margin-top:60px;
		margin-bottom:50px;
		color: #fff;
		text-align:center;
		position:relative;
	}
	.homeSubtitle {
		margin-bottom:25px;
		color: #fff;
		line-height: 20px;
		padding: 0 270px;
		line-height: 23px;
		max-width: 1326px;
		margin: 0 auto;
		position: relative;
		text-align: center;
	}
	.homeButtons {
		margin:33px auto 50px;
		text-align:center;
		.btn {
			line-height: 18px;
			padding-left: 18px;
			padding-right: 18px;
			width: 220px;
			margin: 0 2px;
		}
	}
	.moreOptions {
		margin-top:12px;
		.moreOptionsClick {
			color:rgb(222,222,222);
			cursor:pointer;
		}
	}
	.topTermsLine {
		position:absolute;
		bottom:18px;
		width:100%;
		color:rgb(222,222,222);
		font-size:14px;
		line-height:18px;
		text-align:center;
		a {
			color:#fff;
			// text-decoration:underline;
		}
	}


	/*
		LEFT / RIGHT
	*/
	.trending_things {
		position:relative;
		display:table;
		width:100%;
		max-width:1100px;
		margin:0 auto 45px;
		word-break: break-word;

		> div {
			display:table-cell;
			padding:0 10px;
			.trending_title {
				text-align:left;
				font-size:16px;
				font-weight:bold;
				margin:0 0 20px;
			}
		}

		.trending_topics {
			width:200px;
			.tags_items {
				margin-top:-6px;
				.tags_tag {
					display:block;
					line-height:24px;
				}
			}
			.trending_more {
				display:inline-block;
				color:#61c13e;
				margin:30px 0 0;
			}
		}

		.trending_broadcasters {

			.trending_items {
				margin:22px -3% 0 0;

				.trending_item {
					float: left;
					width: 30%;
					margin:0 3% 30px 0;
					.trending_square {
						height: 0;
						width: 100%;
						padding-top: calc(100% - 10px);
						.trending_content {
							position:relative;
							margin-top:calc(-100% + 10px);

							.thumb_viewers {
								position:absolute;
								bottom:10px;
								left:15px;
								color:#fff;
								font-weight:bold;
								text-shadow: 0 0 5px rgba(0,0,0,0.5);
								white-space: nowrap;
							}

							.trending_image {
								position:relative;
								height:0;
								padding-top:75%;
								.thumb-image-img {
									width:100%;
								}
							}
							.trending_info {
								position: relative;
								display: table;
								width: calc(100% + 1px);
								background: #fff;
								padding: 5px 5px 10px;
								> * {
									display:table-cell !important;
									padding-right:10px;
								}
								.trending_thumb {
									width:1px;
									padding-top:3px;
								}
								.trending_description {
									.trend_left {
										display:block;
										font-weight:bold;
									}
									.trend_right {
										position:absolute;
										right:6px;
									}
									.trend_bottom {
										display:block;
										clear:both;
									}
								}
							}
							.trending_tags {
								display:block;
								clear:both;
							}

						}
					}

					.trending_square.ad_square {
						background:#3f7dd8;
						color:#fff;
						text-align:center;
						cursor:pointer;
						.trending_content {
							margin-top:-73%;
							.title {
								font-size:22px;
							}
							.button {
								display:inline-block;
								font-size:18px;
								padding:6px 0;
								width:70%;
								border:solid 2px #fff;
								border-radius:6px;
								margin:30px auto;
								min-width:100px;
							}
						}
					}

				}

				
			}

		}

	}

	.more-link-container {
		text-align:center;
		.more-link {
			color: #61c13e;
			font-size: 14px;
			margin: 20px 0 0;
			display: block;
		}
	}

}


/*
	EXP C
*/
.home-container.expC {

	/*
		bottom
	*/
	.darkFooter {
		background:rgb(242,242,242);
	}

	.experiment_connect {
		text-align: center;
		font-size: 16px;
		padding: 60px 0;
		color:#999;
		.moreOptions {
			color:#cccccc; 
			.moreOptionsClick {
				color:#cccccc;
			}
		}
		.homeButtons {
			margin:20px auto 30px;
			text-align:center;
			.bigButt {
				background:#61c13e;
				color:#fff;
				font-size:16px;
				padding:11px;
				border-radius:6px;
				display:inline-block;
			}
		}
		.experiment_terms {
			text-align:center;
			color:#cccccc;
			a {
				text-decoration:underline;
				color:#cccccc;
				&:hover {
					color:#999;
				}
			}
		}
		.experiment_connect_title {
			color:#666;
			max-width: 600px;
			margin: 0 auto;
		}
	}

	/*
		old navbar
	*/
	.navbar {
		.explore-text {
			display:none;
		}
	}

	/*
		new navbar
	*/
	.logo-image {
	    color: #fff;
	    height: 52px;
	    width:auto;
	    transform:rotate(0deg); /* actually this helps */
	}
	.search-top {
	    z-index: 10;
	    position: relative;
	    height: 87px;
	    padding: 10px 15px;
	    line-height: 52px;
	    line-height: 30px;
	    margin-right: 10px;
	    min-width: 100%;
	}
	.search-cta {
	    > .btn, a {
	        margin-left: 20px;
	        font-size: 17px;
	    }
	    .btn-outline {
	        min-width: 100px;
	    }
	    .btn-primary {
	        min-width: 128px;
	    }
	    a {
	        color: #fff;
	        &:hover {
	            text-decoration: none;
	        }
	    }
	}

	/*
		top
	*/
	.top-container {
		position: relative;
		z-index: 10;
		padding:0;
		background-color:#999;
		background-size:cover;
		background-position:center;
		repeat:no-repeat;
    		overflow:hidden;

		height: 475px;
    		.home-video-container {
    			height:475px;
    			.home-video {
    				height:475px;
    				position:relative;
    				object-fit:cover;
    				margin-top:0;
    			}
    		}
    		.home-video-lighten {
    			position:absolute;
    			top:0;
    			left:0;
    			width:100%;
    			height:100%;
    			background:rgba(255,255,255,0.2);
    		}
	}
	.homeTitle {
		margin-top:40px;
		margin-bottom:50px;
		color: #fff;
		text-align:center;
		text-shadow:0 0 5px #000;
	}
	.homeSubtitle {
		margin-bottom:25px;
		color: #fff;
		padding: 0 0 20px;
		max-width: 800px;
		line-height: 23px;
		margin: 0 auto;
		position: relative;
		text-align: center;
		text-shadow:0 0 5px #000;
		font-size:22px;
		line-height:28px;
	}
	.homeButtons {
		margin:33px auto 50px;
		text-align:center;
		.btn {
			line-height: 18px;
			padding-left: 18px;
			padding-right: 18px;
			width: 220px;
			margin: 0 2px;
		}
	}
	.moreOptions {
		margin-top:12px;
		.moreOptionsClick {
			color:rgb(222,222,222);
			cursor:pointer;
		}
	}
	.topTermsLine {
		position:absolute;
		bottom:18px;
		width:100%;
		color:rgb(222,222,222);
		font-size:14px;
		line-height:18px;
		text-align:center;
		a {
			color:#fff;
			// text-decoration:underline;
		}
	}


	/*
		LEFT / RIGHT
	*/
	.trending_things {
		position:relative;
		display:table;
		width:100%;
		max-width:1100px;
		margin:0 auto 45px;
		word-break: break-word;

		> div {
			display:table-cell;
			padding:0 10px;
			.trending_title {
				text-align:left;
				font-size:16px;
				font-weight:bold;
				margin:0 0 20px;
			}
		}

		.trending_topics {
			width:200px;
			.tags_items {
				margin-top:-6px;
				.tags_tag {
					display:block;
					line-height:24px;
				}
			}
			.trending_more {
				display:inline-block;
				color:#61c13e;
				margin:30px 0 0;
			}
		}

		.trending_broadcasters {

			.trending_items {
				margin:22px -3% 0 0;

				.trending_item {
					float: left;
					width: 30%;
					margin:0 3% 30px 0;
					.trending_square {
						height: 0;
						width: 100%;
						padding-top: calc(100% - 10px);
						.trending_content {
							position:relative;
							margin-top:calc(-100% + 10px);

							.thumb_viewers {
								position:absolute;
								bottom:10px;
								left:15px;
								color:#fff;
								font-weight:bold;
								text-shadow: 0 0 5px rgba(0,0,0,0.5);
								white-space: nowrap;
							}

							.trending_image {
								position:relative;
								height:0;
								padding-top:75%;
								.thumb-image-img {
									width:100%;
								}
							}
							.trending_info {
								position: relative;
								display: table;
								width: calc(100% + 1px);
								background: #fff;
								padding: 5px 5px 10px;
								> * {
									display:table-cell !important;
									padding-right:10px;
								}
								.trending_thumb {
									width:1px;
									padding-top:3px;
								}
								.trending_description {
									.trend_left {
										display:block;
										font-weight:bold;
									}
									.trend_right {
										position:absolute;
										right:6px;
									}
									.trend_bottom {
										display:block;
										clear:both;
									}
								}
							}
							.trending_tags {
								display:block;
								clear:both;
							}

						}
					}

					.trending_square.ad_square {
						background:#3f7dd8;
						color:#fff;
						text-align:center;
						cursor:pointer;
						.trending_content {
							margin-top:-73%;
							.title {
								font-size:22px;
							}
							.button {
								display:inline-block;
								font-size:18px;
								padding:6px 0;
								width:70%;
								border:solid 2px #fff;
								border-radius:6px;
								margin:30px auto;
								min-width:100px;
							}
						}
					}

				}

				
			}

		}

	}

	.more-link-container {
		text-align:center;
		.more-link {
			color: #61c13e;
			font-size: 14px;
			margin: 20px 0 0;
			display: block;
		}
	}

}

/* IE 10+ */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.top-container .home-video-container video {
		height:auto !important;
	}
}