<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">Options...</h1>
		<button class="button button-clear button-primary" ng-click="vm.closeModals()">X</button>
	</ion-header-bar>
	<ion-content>

		<div class="mobile-options" ng-if="client.isMobile">
			<a href="/" prevent-default ng-click="vm.clearActive(); vm.addList()">
				<span class="uui-icon icon-hipster2"></span> <span class="uui-text">about us / get involved </span>
			</a>
			<a href="/" prevent-default ng-click="vm.clearActive(); vm.addList()">
				<span class="uui-icon icon-link"></span> <span class="uui-text">add / remove a source </span>
			</a>
			<a ng-if="user.displayName" href="/" prevent-default ng-click="vm.logout()">
				<span class="uui-text">welcome, {{ user.displayName }}</span>
			</a>
			<a ng-if="!user.displayName" href="/" prevent-default ng-click="vm.clearActive(); vm.addList()">
				<span class="uui-icon icon-pushpin"></span> <span class="uui-text">login to save your lists </span>
			</a>
		</div>

	</ion-content>
</ion-modal-view>