<!DOCTYPE html>
<html>
<head>

	<!-- meta -->
	<title>&nbsp;ALL EVENTS [in] NYC</title>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<link href="gfx/logo/square.ico" rel="shortcut icon" type="image/x-icon" />

	<!-- cache -->
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />

	<!-- env -->
	<script>
	<%- 'window.env = '+JSON.stringify(process.window.env,null,'\t')+';\n' %>
	</script>
	<script>
	window.loadStart = Date.now();
	</script>

	<!-- lib -->
	<script src="https://drrjhlchpvi7e.cloudfront.net/libs/stamplay-js-sdk/2.0.5/stamplay.min.js"></script>
	<script src="lib/all.js?u=<%- process.window.env.buildVersion; %>"></script>

	<!-- angular_js -->
	<script src="angular_js/all.js?u=<%- process.window.env.buildVersion; %>"></script>

	<!-- css -->
	<link href="css/all.css?u=<%- process.window.env.buildVersion; %>" rel="stylesheet" />
	<link href="gfx/icomoon/style.css?u=<%- process.window.env.buildVersion; %>" rel="stylesheet">

</head>
<body ng-app="ListModule">

	<ui-view></ui-view>
	<div id="stats"></div>
	
</body>
</html>
