<div class="my-modal" ng-class="{ 'isMobile': client.isMobile }" data-tap-disabled="true">
	<div class="modal-backdrop" ng-click="close()">
		<button class="modal-close uui-icon-button">&times;</button>
	</div>
	<div class="modal-content">

		<div class="modal-options modal-links">
			
			<label class="options-options" ng-if="!user.displayName">
				<span class="uui-icon icon-pushpin"></span> <span class="uui-text">login to sync your lists: </span>
				<div class="options-icons">
					<a class="uui-button uui-icon-button ion-social-facebook" href="/" prevent-default ng-click="vm.login('facebook')"></a>
					<a class="uui-button uui-icon-button ion-social-google disabled" href="/" prevent-default ng-click="vm.login('google')"></a>
					<a class="uui-button uui-icon-button ion-social-github disabled" href="/" prevent-default ng-click="vm.login('github')"></a>
				</div>
			</label>

			<a class="uui-button" href="/" prevent-default ng-click="modals.show('angular_html/modals/contribute.html')">
				<span class="uui-icon icon-hipster2"></span> <span class="uui-text">about us / get involved </span>
			</a>
			<a class="uui-button" href="/" prevent-default ng-click="modals.show('angular_html/modals/contribute.html')">
				<span class="uui-icon icon-link"></span> <span class="uui-text">add / remove a source </span>
			</a>
			<a class="uui-button" ng-if="user.displayName" href="/" prevent-default ng-click="vm.logout()">
				<span class="uui-text">logout, {{ user.displayName }}</span>
			</a>
		</div>

	</div>
</div>