 /**
 * App-wide CSS
 */

/* BECAREFUL WITH GLOBAL VARIABLES THESE ARE THE ONLY PERMITTED */
$DEVCDN: 'https://cdn-vpc.younow.com/';
$PRODCDN: 'https://cdn2.younow.com/';


html {
  overflow-y: scroll;
}

body {
  background-color: #f2f0f1;
  margin: 0 auto;

	.coin-sm {
		width: 20px;
	}
}

ul {
	margin: 0;
	padding: 0;
	list-style: none outside none;
}

a, span {
	font-weight: normal;
}

span {
	margin: 0;
	color: #464646;
}

html, body, span, a, select, textarea, button {
	font-family: "Segoe UI", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[prevent-default] {
  color:inherit;
}

panel span {
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

@font-face {
    font-family: Lato;
    src: url($PRODCDN + "angularjsapp/src/assets/fonts/lato/Lato-Regular.ttf");
    src: url($DEVCDN + "angularjsapp/src/assets/fonts/lato/Lato-Regular.ttf");
}

@font-face {
    font-family: Lato-Bold;
    src: url($PRODCDN + "angularjsapp/src/assets/fonts/lato/Lato-Bold.ttf");
    src: url($DEVCDN + "angularjsapp/src/assets/fonts/lato/Lato-Bold.ttf");
}

/*
	RESPONSIVE
*/
[mobile-show] {
	display:none;
}
@media screen and (max-width: 680px) {
	[mobile-show] {
		display:initial; /* NOT IMPORTANT, make sure initial display is also not important! */
	}
	[mobile-hide] {
		display:none !important;
	}
}
@media screen and (min-width: 679px) {
	[mobile-show] {
		display:none !important;
	}
}
