#docs.jobs-page {
	opacity:1;

	#doc-content {
		width: 100%;
	}

	#grnhse_app {
		margin-left: -20px;
		margin-top: -20px;
	}

	@media screen and (max-width: 680px) {
		#grnhse_app {
			margin-left: -50px;
			margin-top: -50px;
		}
	}

}

#docs #doc-header {
    height: 250px;
    width: 100%;
    padding: 0;
    cursor:pointer;
	display: block;

	&:hover {
		text-decoration: none;
	}
}


