#docs.jobs-page {
  opacity: 1; }
  #docs.jobs-page #doc-content {
    width: 100%; }
  #docs.jobs-page #grnhse_app {
    margin-left: -20px;
    margin-top: -20px; }
  @media screen and (max-width: 680px) {
    #docs.jobs-page #grnhse_app {
      margin-left: -50px;
      margin-top: -50px; }
 }

#docs #doc-header {
  height: 250px;
  width: 100%;
  padding: 0;
  cursor: pointer;
  display: block; }
  #docs #doc-header:hover {
    text-decoration: none; }
