.buybars-modal,
.verifications-modal {
	width:520px;
	margin-top: 5%;
	transform:initial !important;
	-moz-transform:initial !important;
	-webkit-transform:initial !important;

	.is-verified,
	.is-not-verified {
		display: none;
	}

	&.verified {
		.is-verified {
			display: block;
		}
	}

	&.verified-failed {
		.is-not-verified {
			display: block;
		}
	}

	.modal-content {
		background-color: transparent;
		border: none;
		box-shadow: none;
	}

	.modal-body {
		padding:15px 30px;
		overflow: hidden;
	  	transition: all 0.4s ease-in-out;
	  	height: 427px;
	  	background:#F0EEEF;
	  	margin-top: -6px;
		margin-bottom: -10px;
		box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
		border-radius: 4px;

		&.large {
			height: 575px;
		}

		&.wide {
			width: 720px;
			left: -20%;
		}

		&.small {
			height: 300px;
		}
	}

	.overlay {
		left: 0;
		top: 0;

		.loader {
			margin-top: 40%;
		}
	}

	.panel-one {
		.token-feedback {
			display: none;
		}

		&.loading-payments {
			.content {
				opacity: 0.5;
				pointer-events: none;
			}

			.token-feedback {
				display: block;
				border-top-color: #2a85d8;
				position: absolute;
				left: 40%;
			}
		}
	}

	.panel-two, .panel-four {
		position: absolute;
		left: -500px;
		top: 5px;
		transition: left .4s ease-in-out;
		background: #f0eeef;
		width: 518px;
		height: 428px;
		padding: 0 30px;

		&.active {
			left: 0;
		}

		.item:hover {
			background: transparent;
			cursor: default;
		}

		.btn-transparent {
			position: absolute;
			left: 8px;
			top: 8px;
			color: #ccc;
		  	z-index: 1;

			&:hover {
				color: #999;
			}
		}
	}

	.panel-three {
		position: fixed;
		left: 0;
		top: 0;
		margin: 0;
	  	background-color: #fff;
		overflow: hidden;
		z-index:10000;

		width: 101vw;
		height: 101vh;
		opacity:0;
		visibility:hidden;
		transition: all 0.6s linear;

		&.active {
			width: 100vw;
			height: 100vh;
			opacity:1;
			visibility:visible;
			transition: all 0.6s linear;
		}

		.btn-transparent {
			position: fixed;
			top: 3vw;
			right: 6vh;
			color: #999999;
			z-index: 100000;
		}

		.item:hover {
			background: transparent;
			cursor: normal;
		}

		.bottom {
			position: absolute;
			bottom: 0;
			width: 100%;
		}

		.content {
			position: relative;
		}
	}

	.panel-four {
		left: -720px;
		width: 720px;
		padding-top: 15px;
		margin-top: -6px;
		border-radius: 12px;
		transition: all .4s ease-in-out;

		.content {
			background: transparent;
			color: #666;
		}

		.animate-in {
			.verification-info,
			.desc,
			.btn-confirm.verify-now-btn,
			.verification-form {
				opacity: 1;
			}
		}

		.heading {
			margin: 0 0 20px 0;
			padding-bottom: 20px;
			width: 100%;
			border-bottom: 1px solid #ccc;
		}

		.subtitle {
			b {
				color: #333;
			}

			.icon img {
				width: 20px;
			}
		}

		.verification-image {
			height: 300px;
			margin-right: 15px;
			position: relative;

			.verification-image-number {
				position: absolute;
				top: 79px;
				right: 26px;
  				font-weight: bold;
  				font-size: 18px;
			}
		}

		.desc {
			font-size: 12px;
			transition: opacity 0.3s linear;

			span {
				color: #666;
			}

			&.verification-sale div:last-child {
				margin: 15px 0 98px 0;
			}
		}

		.verification-info {
			color: #333;
			font-weight: bold;
			width: 400px;
			height: 40px;
			margin: 15px 0 0 200px;
			opacity: 0;
			transition: opacity 0.3s linear;

			.verification-info-copy {
				width: 290px;
				margin-left: 15px;
			}

			.ynicon-icon-verify {
				font-size: 35px;
				line-height: 45px;
			}
		}

		.failed {
			.verification-failed {
				opacity: 1;
			}

			input {
				border-color: #cc0033;
			}
		}

		.verification-failed {
			color: #cc0033;
			font-size: 13px;
			margin: 20px 0;
			opacity: 0;
			transition: opacity 0.3s linear;
		}

		.verification-form {
			height: 45px;
			background-color: #fff;
			border-radius: 4px;
			width: 280px;
			transition: opacity 0.3s linear;
			opacity: 0;

			form {
				text-align: center;
				margin: 4% auto;

				* {
					vertical-align: middle;
				}
			}

			label {
				color: #333;
				margin-right: 5px;
				margin-bottom: 0;
			}

			input {
				width: 60px;
				border: none;
				border-bottom: 1px solid #2a85d8;

				&:focus, &:active {
					outline: 0;
				}
			}
		}

		.btn-confirm {
			margin-left: 20px;
			transition: opacity 0.3s linear;

			&.verify-now-btn {
				opacity: 0;
			}
		}


		.contact-support {
			position: absolute;
			bottom: 13px;

			&, span {
				font-size: 13px;
			}
		}

	}

	.verification-result {
		height: 330px;
		width: 360px;
		margin: 0 auto;
		text-align: center;

		.heading {
			.is-verified {
				padding-top: 69px;
			}

			div.is-not-verified {
				font-size: 23px;
				line-height: normal;
				padding-top: 15px;
			}

			.text-muted {
				font-size: 13px;
				line-height: normal;
				margin-top: 15px;
			}
		}

		.verified-result-icon {
			font-size: 60px;

			&.is-verified {
				margin-bottom: 30px;
			}

			&.is-not-verified {
				margin-bottom: 15px;
			}
		}

		.btn-confirm {
			width: 130px;
			margin: 0 auto;
		}
	}

	.panel-four,
	.verification-result {
		.heading {
			.title {
				font-weight: lighter;
				font-size: 27px;
			}
		}

		.btn-confirm, .btn-cancel {
			height: 45px;
		}

		.btn-cancel {
			background-color: #999;

			&, span {
				color: #fff
			}
		}
	}

	.heading {
		padding:5px 0 10px;
		text-align:center;
		width:94%;
		margin:0 auto;
		.title {
			font-weight:bold;
			font-size: 22px;
			color: #333;
			line-height: 34px;
		}
		.subtitle {
			font-size:13px;
			color:#666;
		}
		.status {
			padding: 5px;
			> * {
				font-weight:bold;
				font-size:16px;
				color:#333;
			}
		}
	}

	.item {
		padding:3px 10px 2px;
		overflow: hidden;
		height: 46px;
		cursor:pointer;

		&:first-child {
			padding-top:4px;
		}
		&:last-child {
			padding-bottom:9px;
		}
		&:hover,
		&.active {
			background:#F7F7F8;
		}

		&.popular {
			background:#e4f0f7;

			.popular-copy {
				display:inline;
				font-size:75%;
				color:#6288a4;
				font-weight:bold;
			}
		}

		.icon {
			padding:0;
			display:inline-block;
			color:#000;
		}
		.name {
			padding:4px;
			display:inline-block;
			color:#000;
		}
		.btn {
			margin:8px 10px 0px 0px;
			display:inline-block;
			float:right;
			background: #2a85d8;
			border:none;
		}
		&:hover .btn {
			background:#3b91e0;
		}
		.btn.active {
			background:#568b08;
		}
		&:hover .btn.active {
			background:#67a40e;
		}

		.sub {
			font-size:inherit;
			line-height:inherit;
			vertical-align: inherit;
			bottom: inherit;
			font-weight:normal;
			color:#999;
		}
	}

	.content {
		background:#fff;
		border-radius:10px;

		#braintree-dropin-iframe {
			border: 0;
			padding-top: 7px;
			transition: height 0.2s linear;
			position:relative;
			z-index:10000;
		}

		#braintree-iframe {
			position: relative;
			width: 100vw;
			height:100vh;
			min-height: 227px;
			margin: 0 auto;
			display: block;
			padding-top: 7px;
			border: 0;
			background-color: #fff;
			z-index:10000;
		}

		#braintree-form {
			background-color: #ffffff;
			padding: 15px;
			border-radius: 4px;

			.btn-confirm {
				display: block;
				margin: 10px auto;
				background-color: #009CDE;
				font-weight: bold;
				height: 35px;
				width: 90px;
				position: relative;

				.spinning-container {
					position: absolute;
					margin: 0;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					line-height: 35px;

					.spinning-loader {
						font-size: 2px;
						display: inline-block;
						margin: 0;
						text-align: center;
						vertical-align: middle;
					}
				}
			}
		}
	}

	.payPal-container {
		background-color: transparent;
	    height: 130px;
	    text-align: center;
	    vertical-align: middle;
	    line-height: 130px;

		.btn-confirm {
			min-width: 200px;
			height: 40px;
			font-size: 17px;
			background-color: #009CDE;
		}
	}

	.bottom {
		text-align:center;
		.copy {
			padding:15px 0;
			width:80%;
			margin:0 auto;
			font-size:12px;
			color:#666;
			a {
				color:#333;
			}
		}
	}
}
