<div class="live_experiment live_experiment_button">
	<div thin-banner></div>
	<div class="live_background" ng-style="::{'background-image': 'url({{::vm.config.settings.ServerCDNBaseUrl}}{{::vm.config.mobileImageUrls.assets}}/images/mobile/background3.jpg)'}">
		<div class="live_logo" ng-click="vm.trackClick(vm.gaAction, vm.config.yozio.yozioLink)">
			<img ng-src="{{::vm.config.settings.ServerCDNBaseUrl}}{{::vm.config.mobileImageUrls.assets}}/images/logo/skewed_white.svg" />
		</div>
		<table class="live_content">
			<tr><td>
				<div class="live_image">
					<img ng-src="{{::vm.thumb}}" ng-click="vm.trackClick(vm.gaAction, vm.config.yozio.yozioLink)" />
				</div>
				<div class="live_blurb">
					{{vm.broadcasterService.broadcaster.profile}}
				</div>
				<div class="live_blurb">
					Watch Live on YouNow
				</div>
				<div ng-click="vm.trackClick(vm.gaAction, vm.config.yozio.yozioLink)">
					<div class="live_button">
						Get the App
					</div>
				</div>
			</td></tr>
		</table>
	</div>
</div>
