<div class="mobile-nonlive ua-{{vm.ua.name}}">

	<div class="nonlive-video" ng-style="{'background-image': 'url('+ vm.broadcasterService.broadcasts[0].media.broadcast.broadcastThumbnail +')'}">
		<div class="video-play" ng-click="vm.trackClick(vm.gaAction, vm.config.yozio.yozioLink)">
			<i class="video-playbutton ynicon ynicon-icon-play2"></i>
		</div>
		<div class="video-logo" ng-click="vm.trackClick(vm.gaAction, vm.config.yozio.yozioLink)"><img class="logo-image" ng-src="{{::vm.config.settings.ServerCDNBaseUrl}}/angularjsapp/src/assets/images/logo/skewed_white.svg" alt="Live Stream Video Chat" /></div>
		<div class="video-openinapp" ng-click="vm.trackClick(vm.gaAction, vm.config.yozio.yozioLink)">Open in App</div>
		<div class="video-live" ng-class="{'isLive':vm.broadcasterService.broadcast.isLive}" ng-click="vm.trackClick(vm.gaAction, vm.config.yozio.yozioLink)"><span class="live-bullet"></span> Live Now</div>
	</div>

	<div class="nonlive-header">
		<div class="header-thumb">
			<a
			class="thumb circle-thumb pull-left"
			ng-style="::({ background: 'url('+vm.thumb+'), url('+vm.noThumb+') no-repeat', 'background-size': 'cover' })"
			ng-href="/{{::vm.broadcasterService.profile}}" prevent-default
			ng-click="vm.trackClick(vm.gaAction, vm.config.yozio.yozioLink)">
				<span class="ynbadge" ng-if="vm.broadcasterService.broadcaster.isSubscribable">
					<img ng-src="{{::vm.config.settings.BadgeBaseUrl}}/{{vm.broadcasterService.broadcaster.userId}}/1/badge@2x.png" />
				</span>
			</a>
		</div>
		<div class="header-text">
			<div class="broadcast-info">
				<a
				class="broadcaster-name ellipsify"
				ng-href="/{{vm.broadcasterService.broadcaster.profile}}" prevent-default
				ng-click="vm.trackClick(vm.gaAction, vm.config.yozio.yozioLink)">
					<i class="ynicon ynicon-level"></i>
					<span>{{vm.broadcasterService.broadcaster.broadcasterlevel}} {{vm.broadcasterService.broadcaster.profile}}</span>
				</a>
				<div class="broadcaster-description line-clamp">
					{{ vm.broadcasterService.broadcaster.description || 'This profile does not have a description' }}
				</div>
				<div class="broadcaster-description line-clamp">
					<a
					ng-href="/explore/{{vm.broadcasterService.broadcast.tag}}" prevent-default
					ng-click="vm.Api.goto('explore/' + vm.broadcasterService.broadcast.tag)">
						#{{vm.broadcasterService.broadcast.tag}}
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="nonlive-gettheapp">

		<div class="gettheapp-text">
			<div>Download the YouNow app </div>
			<div>to interact with Broadcaster </div>
		</div>

		<div class="gettheapp-button" ng-if="::(vm.os.name!='Android')" ng-click="vm.trackClick(vm.gaAction, vm.config.yozio.yozioLink)">
			<i class="ynicon ynicon-icon-logo-apple"></i> <div>Open in App</div>
		</div>

		<div class="gettheapp-button" ng-if="::(vm.os.name=='Android')" ng-click="vm.trackClick(vm.gaAction, vm.config.yozio.yozioLink)">
			<i class="ynicon ynicon-icon-logo-googleplay"></i> <div>Open in App</div>
		</div>

	</div>

</div>