.mobile-download-modal {
	width: 800px;
	margin-top:7%;
	margin-top: calc(50vh - 173px);

    .close {
        right: 20px;
        top: 10px;
    }

    .modal-body {
        padding-bottom: 0;
        padding-top: 25px;
    }
}

.mobile-download-container {
    .mobile-phone {
        height: 336px;
    }
    .download-description {
        width: 445px;
        position: relative;

        h2 {
        	text-align:left !important;
        }

        .success-message {
            font-size: 16px;
            color: #61c13e;
            opacity: 0;
            transition: opacity 0.40s linear;
            z-index: 10;
        }

        .tel-input-wrapper {
            z-index: 20;
            opacity: 0.4;
            pointer-events: none;
            position: relative;
            > * {
            	display:inline-block;
            	vertical-align:top;
            }

            &.active {
                opacity: 1;
                pointer-events: all;
            }
        }

        .success-message {
            transition: opacity 0.40s linear;

            &.active {
                opacity: 1;
            }
        }

        span {
            font-size: 13px;
            color: #ccc;
            display: inline-block;
        }
        p {
            font-size: 14px;
            color: #666;
            margin-bottom: 25px;
        }
        h2 {
            text-align: left;
            margin-bottom: 15px;
            margin-top: 33px;
        }

        .form-control {
            height: 45px;
            font-size: 20px;
            border-right: 0;
            display: inline-block;
        }

        .intl-tel-input {
            margin-bottom: 20px;
            max-width:215px;
        }

        .btn {
            height: 45px;
            margin: 0 0 0 -9px;
            font-size: 20px;
            margin-right:-100px;
            border-top-left-radius:0;
            border-bottom-left-radius:0;
        }

        .selected-flag {
            outline: 0;
        }

    }
}
