.mobile-download-modal {
  width: 800px;
  margin-top: 7%;
  margin-top: calc(50vh - 173px); }
  .mobile-download-modal .close {
    right: 20px;
    top: 10px; }
  .mobile-download-modal .modal-body {
    padding-bottom: 0;
    padding-top: 25px; }

.mobile-download-container .mobile-phone {
  height: 336px; }
.mobile-download-container .download-description {
  width: 445px;
  position: relative; }
  .mobile-download-container .download-description h2 {
    text-align: left !important; }
  .mobile-download-container .download-description .success-message {
    font-size: 16px;
    color: #61c13e;
    opacity: 0;
    transition: opacity 0.4s linear;
    z-index: 10; }
  .mobile-download-container .download-description .tel-input-wrapper {
    z-index: 20;
    opacity: 0.4;
    pointer-events: none;
    position: relative; }
    .mobile-download-container .download-description .tel-input-wrapper > * {
      display: inline-block;
      vertical-align: top; }
    .mobile-download-container .download-description .tel-input-wrapper.active {
      opacity: 1;
      pointer-events: all; }
  .mobile-download-container .download-description .success-message {
    transition: opacity 0.4s linear; }
    .mobile-download-container .download-description .success-message.active {
      opacity: 1; }
  .mobile-download-container .download-description span {
    font-size: 13px;
    color: #ccc;
    display: inline-block; }
  .mobile-download-container .download-description p {
    font-size: 14px;
    color: #666;
    margin-bottom: 25px; }
  .mobile-download-container .download-description h2 {
    text-align: left;
    margin-bottom: 15px;
    margin-top: 33px; }
  .mobile-download-container .download-description .form-control {
    height: 45px;
    font-size: 20px;
    border-right: 0;
    display: inline-block; }
  .mobile-download-container .download-description .intl-tel-input {
    margin-bottom: 20px;
    max-width: 215px; }
  .mobile-download-container .download-description .btn {
    height: 45px;
    margin: 0 0 0 -9px;
    font-size: 20px;
    margin-right: -100px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .mobile-download-container .download-description .selected-flag {
    outline: 0; }
