// @import "../lib/compass-sass-mixins/lib/compass";
/*
	RESET
*/
body {
	margin:0;
}


/*
	GENERAL
*/
a {
	text-decoration:none;
	color:inherit;
}
a, .a {
	&:hover,
	&:hover * {
		color:#00bbff;
		cursor:pointer;
	}
}
[ng-click] {
	cursor:pointer;
}
@font-face {font-family: "Robinson";
    src: url("gfx/fonts/robinson.otf");
    src: url("gfx/fonts/robinson.woff2") format("woff2"),
    url("gfx/fonts/robinson.woff") format("woff"),
    url("gfx/fonts/robinson.ttf") format("truetype"),
    url("gfx/fonts/robinson.svg#Robinson") format("svg");
}
@font-face {font-family: "Bodoni";
    src: url("http://db.onlinewebfonts.com/t/1e129bd49263cbc8354756df5045168f.eot");
    src: url("http://db.onlinewebfonts.com/t/1e129bd49263cbc8354756df5045168f.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/1e129bd49263cbc8354756df5045168f.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/1e129bd49263cbc8354756df5045168f.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/7c4e4fcaeefb49b065a55b7853f4279f.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/1e129bd49263cbc8354756df5045168f.svg#Bodoni") format("svg");
}
body {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
}
.my-content {
	font-family: "Bodoni 72", Bodoni, Times, serif;
}

/*
	SPECIFIC
*/
[scrollable-right],
[scrollable-left] {
	position: absolute;
	top: 0;
	right: 0;
	text-indent:0;
	width:24px;
	overflow:hidden;
	font-size: 155px;
	text-align: left;
	cursor:pointer;
	color:#ff00ff;
	padding:33% 0 22%;
}
[scrollable-left] {
	right:auto;
	left:0;
	text-indent:-63px;
}


/*
	TOP
*/
	/*
		Desktop
	*/
	.my-top {
		position:relative;
		margin: 0 0 15px;
		padding: 15px 20px 18px;
		border-bottom: solid 1px #ccc;
		.top-logo {
			display:block;
			margin: 0 auto;
			width: 50%;
			height: 62px;
			background: url('gfx/logo-desktop.svg') center no-repeat;
			background-size: contain;
			position:relative;
			left: calc(-45px + 5%);
		}
		.top-left {
			position: absolute;
			left: 7px;
			top: 11px;
			label {
				display:block;
				border:none;
				background:transparent;
				color:#ff00ff;
				span:before,
				select,
				input {
					font-size:17px;
					line-height:17px;
					padding:0;
					background:transparent;
					display:inline-block;
					height: 20px;
					overflow: hidden;
					text-transform:uppercase;
					color:#ff00ff;
				}
				&.select-what select {
					font-weight:bold;
					letter-spacing:0.5px;
				}
				&.select-search span:before,
				&.select-search select,
				&.select-search input {
					color:#cccccc;
				}
				input::-webkit-input-placeholder {  
					color:#cccccc;
				}
				input:-moz-placeholder {  
					color:#cccccc;
				}
				input::-moz-placeholder {  
					color:#cccccc;
				}
				input:-ms-input-placeholder {  
					color:#cccccc;
				}

				&:hover span:before,
				&:hover select,
				&:hover input {
					color:#00bbff;
				}
				&:hover input::-webkit-input-placeholder {  
					color:#00bbff;
				}
				&:hover input:-moz-placeholder {  
					color:#00bbff;
				}
				&:hover input::-moz-placeholder {  
					color:#00bbff;
				}
				&:hover input:-ms-input-placeholder {  
					color:#00bbff;
				}

				&.active span:before,
				&.active select,
				&.active input {
					color:#00bbff;
				}
				&.active input::-webkit-input-placeholder {  
					color:#00bbff;
				}
				&.active input:-moz-placeholder {  
					color:#00bbff;
				}
				&.active input::-moz-placeholder {  
					color:#00bbff;
				}
				&.active input:-ms-input-placeholder {  
					color:#00bbff;
				}


			}
		}
		.top-right {
			position:absolute;
			right:2px;
			top:9px;
			text-align:right;
			color:#ccc;
			padding:0 0 0 15px;
			font-size:17px;
			height:23px;
			> a {
				display:block;
			}
		}
	}

		/* 
			Mobile
		*/
		#top-mobile {
			padding: 6px 0 7px;
			.top-logo-options {
				img {
					height: 20px;
					margin:1px auto;
					display:block;
				}
			}
			.top-left {
				font-size:19.5px;
				position: absolute;
				left: 1px;
				top: 5px;
				span:first-child {
					color:#ff00ff;
				}
				.ion-search {
					margin: 0 0 0 -12px;
					font-size: 25px;
					color: #ccc;
				}
				.ion-search:before {
					line-height:1em;
				}
			}
			.top-right {
				font-size:20px;
				position: absolute;
				right: 0px;
				top: 3px;
			}
		}

		#top-mobile-select {
			position: absolute;
			top: 6px;
			left: 1px;
			background: #fff;
			height: 1.75em;
			transition: top 1s;
			width:100%;
			label {
				width: calc(33% - 41px);
				display:inline-block;
				border: 0;
				margin: 0 2px 0 5px;
				vertical-align:middle;
				padding: 0;
				font-size: 100%;
				line-height: 100%;
				span:before {
					font-size: 1.25em;
					line-height: 1.5em;
					background:#fff;
				}
				&.item-select,
				select {
					color:#ff00ff;
					background:#fff;
					text-transform:uppercase;
				}
				&:hover select {
					color:#00bbff;
				}
				&.active select,
				&.active span:before {
					color:#00bbff;
				}
				&.select-search {
					color:#ccc;
				}
			}
			.select-submit {
				color:#ff00ff;
				width:auto;
				.uui-text {
					margin-left: -5px;
				}
			}
			.select-cancel {
				color:#ccc;
				width:auto;
				padding-left:10px;
			}
		}
		#top-mobile-select.hidden {
			top:-30px;
		}

		#top-mobile-options {
			color:#ccc;
			position: absolute;
			top: 6px;
			left: 1px;
			background: #fff;
			height: 1.66em;
			transition: top 1s;
			font-family: Robinson, sans-serif;
			font-size:17px;
			width:100%;
			> a {
				margin: 0 3px 0 1px;
				.uui-text {
					color:#666;
				}
				&:hover .uui-text {
					color:inherit;
				}
			}
			> a:last-child {
				position: absolute;
				right: 0;
				top: 1px;
			}
		}
		#top-mobile-options.hidden {
			top:-30px;
		}


/*
	CONTENT
*/
.my-content {
	position: fixed;
	z-index:1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	> * {
		display:block;
		clear:both;
	}
}


/*
	STYLE
*/
.mylists {
	width: calc( 100% - 48px );
	overflow: auto;
	margin: 0 0 0 25px;
}
.mylis {
	white-space:nowrap;
}
.myli {
	display:inline-block;
	vertical-align:top;
	white-space:normal;
	padding:0 4px 0 6px;
	height:calc(100vh - 120px);
	.myli-header {
		font-size:19px;
		margin:5px 0 10px;
		color:#ff00ff;
		text-transform:uppercase;
		.active {
			color:#00bbff;
		}
	}
	.myli-buttons {
		float: right;
		margin: 1px 6px;
		display: none;
	}
}


/*
	COLUMNS
*/
$c1-upto: 500px;
$c2-upto: 800px;
$c3-upto: 1280px;
$c4-upto: 10000px;

$media-one:  "(min-width:0px) and (max-width:#{$c1-upto})" !default;
$media-two: "(min-width:#{$c1-upto + 1}) and (max-width:#{$c2-upto})" !default;
$media-three: "(min-width:#{$c2-upto + 1}) and (max-width:#{$c3-upto})" !default;
$media-all: "(min-width:#{$c3-upto + 1})" !default;

@media #{$media-one} {
	.myli {
		width:100%;
	}
}
@media #{$media-two} {
	.myli {
		width:50%;
	}
}
@media #{$media-three} {
	.myli {
		width:33.33%;
	}
}
@media #{$media-all} {
	.myli {
		width:25%;
	}
}


/*
	EVENT
*/
.events {
	font-family:serif;
	.events-timestamp {
		font-weight:bold;
		text-transform: uppercase;
	}
	.events-event {
		font-weight:normal;
		text-transform:lowercase;
		margin: 5px 0;
	}
}