/*
	RESET
*/
body {
	margin:0;
}
a {
	text-decoration:none;
	color:inherit;
}
a, .a {
	&:hover,
	&:hover * {
		color:#00bbff;
		cursor:pointer;
	}
}
@import "../lib/compass-sass-mixins/lib/compass";


// @font-face {font-family: "ambroise-francois-demi";
//     src: url("http://db.onlinewebfonts.com/t/7c4e4fcaeefb49b065a55b7853f4279f.eot");
//     src: url("http://db.onlinewebfonts.com/t/7c4e4fcaeefb49b065a55b7853f4279f.eot?#iefix") format("embedded-opentype"),
//     url("http://db.onlinewebfonts.com/t/7c4e4fcaeefb49b065a55b7853f4279f.woff2") format("woff2"),
//     url("http://db.onlinewebfonts.com/t/7c4e4fcaeefb49b065a55b7853f4279f.woff") format("woff"),
//     url("http://db.onlinewebfonts.com/t/7c4e4fcaeefb49b065a55b7853f4279f.ttf") format("truetype"),
//     url("http://db.onlinewebfonts.com/t/7c4e4fcaeefb49b065a55b7853f4279f.svg#Ambroise Francois") format("svg");
// }	
//    url("http://db.onlinewebfonts.com/t/1e129bd49263cbc8354756df5045168f.ttf") format("truetype"),
@font-face {font-family: "bodoni";
    src: url("http://db.onlinewebfonts.com/t/1e129bd49263cbc8354756df5045168f.eot");
    src: url("http://db.onlinewebfonts.com/t/1e129bd49263cbc8354756df5045168f.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/1e129bd49263cbc8354756df5045168f.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/1e129bd49263cbc8354756df5045168f.woff") format("woff"),
    url("http://www.myfontfree.com/data/543/b/bodoniboldbt/bodoni bold bt.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/1e129bd49263cbc8354756df5045168f.svg#Bodoni") format("svg");
}


/*
	GENERAL
*/
body {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
}
.my-content {
	font-family: "Bodoni 72", Times, serif;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 125dpi){ 
	.my-content {
		font-family: bodoni, "Bodoni 72", Times, serif;
	}
}


/*
	NAV
*/
.my-top {
	position:relative;
	z-index:10000;
	margin: 0 0 15px;
	padding: 15px 20px 18px;
	border-bottom: solid 1px #ccc;
	.top-logo {
		display:block;
		margin: 0 auto;
		width: 50%;
		height: 62px;
		background: url('/gfx/logo-desktop.svg') center no-repeat;
		background-size: contain;
		position:relative;
		left: calc(-50px + 5%);
	}
	.top-left {
		position: absolute;
		left: 7px;
		top: 11px;
		label {
			display:block;
			border:none;
			background:transparent;
			span:before,
			select,
			input {
				font-size:17px;
				line-height:17px;
				padding:0;
				background:transparent;
				display:inline-block;
				height: 20px;
				overflow: hidden;
				color:#ff00ff;
				text-transform:uppercase;
			}
			&.select-what select {
				font-weight:bold;
				letter-spacing:0.5px;
			}
			&.select-search span:before,
			&.select-search select,
			&.select-search input {
				color:#cccccc;
			}
			input::-webkit-input-placeholder {  
				color:#cccccc;
			}
			input:-moz-placeholder {  
				color:#cccccc;
			}
			input::-moz-placeholder {  
				color:#cccccc;
			}
			input:-ms-input-placeholder {  
				color:#cccccc;
			}

			&:hover span:before,
			&:hover select,
			&:hover input {
				color:#00bbff;
			}
			&:hover input::-webkit-input-placeholder {  
				color:#00bbff;
			}
			&:hover input:-moz-placeholder {  
				color:#00bbff;
			}
			&:hover input::-moz-placeholder {  
				color:#00bbff;
			}
			&:hover input:-ms-input-placeholder {  
				color:#00bbff;
			}

			&.active span:before,
			&.active select,
			&.active input {
				color:#00bbff;
			}
			&.active input::-webkit-input-placeholder {  
				color:#00bbff;
			}
			&.active input:-moz-placeholder {  
				color:#00bbff;
			}
			&.active input::-moz-placeholder {  
				color:#00bbff;
			}
			&.active input:-ms-input-placeholder {  
				color:#00bbff;
			}


		}
	}
	.top-right {
		position:absolute;
		right:2px;
		top:9px;
		text-align:right;
		color:#ccc;
		padding:0 0 0 15px;
		@include background(linear-gradient(to right, rgba(255,255,255,0) 0, rgba(255,255,255,1) 15px));
		> * {
			display:block;
			font-size:17px;
			height:23px;
		}
	}
}
[scrollable-right],
[scrollable-left] {
	position: absolute;
	top: 0;
	right: 0;
	text-indent:0;
	width:24px;
	overflow:hidden;
	font-size: 155px;
	text-align: left;
	z-index:1000;
	cursor:pointer;
	color:#ff00ff;
	padding:50% 0;
}
[scrollable-left] {
	right:auto;
	left:0;
	text-indent:-63px;
}


/*
	CONTENT
*/
.my-content {
	position: fixed;
	z-index:1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	> * {
		display:block;
		clear:both;
	}
	.my-content-title {
	}
}

.my-lists {
	margin:10px;
	.my-list {
		margin:10px;
		.my-list-header {
			margin:0 -3px 6px;
			.my-list-title {
				text-transform:capitalize;
				font-weight:bold;
				letter-spacing:0.5px;
			}
		}
	}
}

$c1-upto: 500px;
$c2-upto: 800px;
$c3-upto: 1280px;
$c4-upto: 10000px;
// $range-three: {lower601px, 1024px];
// $range-all: [1025px, 10000px];

$media-one:  "(min-width:0px) and (max-width:#{$c1-upto})" !default;
$media-two: "(min-width:#{$c1-upto + 1}) and (max-width:#{$c2-upto})" !default;
$media-three: "(min-width:#{$c2-upto + 1}) and (max-width:#{$c3-upto})" !default;
$media-all: "(min-width:#{$c3-upto + 1})" !default;

.mylists {
	width: calc( 100% - 48px );
	overflow: auto;
	margin: 0 0 0 25px;
}
.mylis {
	white-space:nowrap;
}
.myli {
	display:inline-block;
	vertical-align:top;
	white-space:normal;
	padding:0 5px;
	.myli-header {
		font-size:19px;
		margin:5px 0 10px;
		color:#ff00ff;
		text-transform:uppercase;
	}
	.myli-buttons {
		float: right;
		margin: 1px 6px;
		display: none;
	}
}
@media #{$media-one} {
	.myli {
		width:100%;
	}
}
@media #{$media-two} {
	.myli {
		width:50%;
	}
}
@media #{$media-three} {
	.myli {
		width:33.33%;
	}
}
@media #{$media-all}{
	.myli {
		width:25%;
	}
}