#leftsidebar {
  width: 147px;
  padding-right: 0;
  margin-left: 10px;
  position: relative;
  font-size: 14px; }
  #leftsidebar .panel-title, #leftsidebar .panel-title span {
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 5px;
    color: #333333;
    cursor: pointer; }
  #leftsidebar .panel-title span {
    display: inline; }
  #leftsidebar .mobile-title {
    cursor: default !important; }
  #leftsidebar .mobile-link {
    margin-top: 5px;
    display: block; }
  #leftsidebar .arrow {
    display: inline-block;
    cursor: pointer; }
  #leftsidebar .ynicon-carrot-dwn, #leftsidebar .ynicon-carrot-rgt {
    color: #b0afaf;
    font-size: 12px; }
  #leftsidebar .trending-tags-list {
    max-height: 210px;
    margin-bottom: 20px; }
    #leftsidebar .trending-tags-list a {
      line-height: 13px;
      height: 21px;
      vertical-align: middle;
      cursor: pointer;
      display: block; }
      #leftsidebar .trending-tags-list a:hover {
        background-color: #E4E4E4; }
  #leftsidebar .trending-users {
    max-height: 150px;
    padding-right: 4px; }
    #leftsidebar .trending-users:hover {
      overflow-y: auto; }
    #leftsidebar .trending-users a {
      line-height: 15px;
      cursor: pointer;
      display: block;
      margin-right: -5px;
      padding-right: 5px;
      display: block; }
      #leftsidebar .trending-users a:hover {
        background-color: #E4E4E4; }
      #leftsidebar .trending-users a span {
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
        white-space: nowrap;
        margin-top: 3px;
        max-width: 99px; }
      #leftsidebar .trending-users a span:last-child {
        float: right; }
  #leftsidebar .trending-tag, #leftsidebar .trending-user, #leftsidebar .viewerCount {
    font-size: 13px;
    color: #666666; }
  #leftsidebar .trending-tag {
    margin-top: 5px;
    display: inline-block; }
  #leftsidebar .trending-people-more {
    cursor: pointer;
    color: #999999;
    font-size: 13px;
    padding: 5px 0; }
    #leftsidebar .trending-people-more:hover {
      text-decoration: underline; }
  #leftsidebar .scroll-pane {
    height: auto;
    width: 100%;
    overflow: auto; }
  #leftsidebar .editorial-promo {
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: height 0.6s ease-in-out; }
    #leftsidebar .editorial-promo.open {
      height: 0px; }
  #leftsidebar .left-panel {
    margin: 0 0 15px 0; }
  #leftsidebar .panel-body {
    padding: 0px; }

#get-app-subtext {
  font-size: 12px !important;
  color: #999; }
