<div class="container">

	<div class="userearningswelcome">
		<div class="userearningsowenothumb">
			<div class="userearningstitlecongrats">Congrats {{vm.getUsername()}}</div>
			<div class="userearningsowenumnothumb">You're In!</div>
		</div>
	</div>

	<hr />

	<div class="body">
		<p>As a Partner you can now earn revenue by broadcasting.<br />Check your estimated earnings at anytime from the header!</p>
	</div>

	<div class="image">
		<img ng-src="{{::vm.config.settings.ServerCDNBaseUrl}}/images/partners/image_welcome_menu.jpg" width="438" height="162">
	</div>


	<div class="apply">
		<p><a href="/partners/earnings" class="btn" translate="earnings_goto"></a></p>
	</div>

</div>
