<div class="intro">
	<div class="container">

		<div class="info">
			<h1 class="orange">YouNow Partner Program</h1>
			<p>Are you an exceptionally talented broadcaster, personality or influencer?
				<br /> Interested in leveraging the YouNow platform to earn actual income?
				<br /> With our Partner Program now you can!</p>
			<p>
				<br />Learn more below to see if you qualify.</p>
		</div>

	</div>
</div>


<div class="features">
	<div class="container">

		<div class="preamble twelve columns offset-by-two">
			<h9>MAKING MONEY ON YOUNOW IS SIMPLE:
				<br>
			</h9>
		</div>

		<div class="columns">
			<div class="column3 column">
				<img src="images/partners/simple1.png">
				<h5>CREATE ENGAGING CONTENT</h5>
				<p>Make an impact with your live broadcasts! Be inspiring and interactive. Keep your audience wanting more.</p>
			</div>

			<div class="column3 column">
				<img src="images/partners/simple2.png">
				<h5>BUILD YOUR FAN BASE</h5>
				<p>Connect with your fans, grow a loyal audience, and get exposed to more and more new fans every day.</p>
			</div>

			<div class="column3 column">
				<img src="images/partners/simple3.png">
				<h5>MAKE $$$</h5>
				<p>Earn instantly during each broadcast! <br />Finally, it pays to be a top-of-the-line YouNower.</p>
			</div>
		</div>

	</div>
</div>


<div class="tour tour-easy">
	<div class="container">
		<div class="info">
			<h9>HOW DOES IT WORK? IT'S EASY!</h9>
			<ul class="list-features">
				<li>Broadcast awesome live content on YouNow</li>
				<li>Fans love you and engage with your broadcast</li>
				<li>The more viewers, audience interaction and gifts you get, <br />the more revenue you earn!</li>
			</ul>
		</div>
	</div>
</div>


<div class="tour tour-anyone">
	<div class="container">
		<div class="info">
			<h9>CAN ANYONE BE A YOUNOW PARTNER?</h9>
			<p>The YouNow Partner Program is geared exclusively to qualified content creators. To qualify as a YouNow Partner, we look for:</p>
			<ul class="list-features">
				<li>Average concurrent viewership of 500+ (not just a one-time peak)</li>
				<li>Regular broadcasts of at least 2 times a week</li>
				<li>Content that conforms to our <a href="/policy/en/terms" target="_blank">Terms of Service</a> and <a href="/partner/agreement.php" target="_blank">DMCA Guidelines</a></li>
			</ul>
			<p>
				Once you're a Partner, we ask that you follow our <a href="/policy/en/partners" target="_blank">Partner guidelines</a>.
			</p>
			<p>
				If you create content elsewhere (for example, on YouTube, Vine, Twitter or Instagram) you should still apply! Multi-platform audiences will only serve to increase your earning potential. We look for:
			</p>
			<ul class="list-features">
				<li>Average views per video: 25,000+</li>
				<li>Subscribers / Followers: 75,000+</li>
			</ul>
			<p>THE ABOVE REQUIREMENTS SERVE AS GENERAL GUIDELINES. WE MAY DENY ANY APPLICATION THAT CONFORMS TO THESE GUIDELINES, OR MAKE EXCEPTIONS FOR OUTSTANDING TALENT, AT OUR DISCRETION.
			</p>
		</div>
	</div>
</div>


<div class="apply">
	<a class="btn" href="https://younow.wufoo.com/forms/younow-partner-program-application/">Apply Now</a>
</div>
