.activity-panel.activity-panel-module, [activity-panel].activity-panel-module {
  margin: 0; }

.activity-panel, [activity-panel] {
  margin: 5px 0;
  display: block; }
  .activity-panel .friends-list, [activity-panel] .friends-list {
    max-height: 220px; }
  .activity-panel .no-friends-msg, [activity-panel] .no-friends-msg {
    color: #999999;
    font-size: 13px;
    display: block; }
  .activity-panel .profile-img, [activity-panel] .profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    margin-top: 1px; }
    .activity-panel .profile-img .thumb-image, [activity-panel] .profile-img .thumb-image {
      border-radius: 50%;
      overflow: hidden; }
  .activity-panel .activity, [activity-panel] .activity {
    padding: 1px 0px;
    clear: both;
    height: 46px;
    position: relative;
    display: block; }
  .activity-panel .activity:hover, [activity-panel] .activity:hover {
    cursor: pointer;
    background-color: #e4e4e4; }
  .activity-panel .status, [activity-panel] .status {
    display: inline-block;
    max-width: 80px;
    font-size: 12px;
    position: absolute;
    top: 5px; }
    .activity-panel .status span, [activity-panel] .status span {
      color: #666666;
      width: 95px;
      display: block; }
    .activity-panel .status .name, [activity-panel] .status .name {
      max-width: 110px; }
    .activity-panel .status .current-activity, [activity-panel] .status .current-activity {
      color: #999999; }
    .activity-panel .status .current-activity:nth-child(2), [activity-panel] .status .current-activity:nth-child(2) {
      margin-top: -3px; }
  .activity-panel .bars-text, [activity-panel] .bars-text {
    color: #777; }
