#settinguppanel {
	height: 100%;
	width: 100%;
	background-color: #fff;
	border-radius: 4px;
	position: absolute;
	top: 0;

	.golive_buttons {
		position:absolute;
		bottom:-20px;
		left:0;
		width:100%;
		.btn {
			margin:0 auto;
		}
	}

	.ynicon-icon-check {
		position: absolute;
		right: 10px;
		top: 12px;
		color: #568b08;
		opacity: 0;
		transition: opacity 0.50s linear;

		&.active {
			opacity: 1;
		}
	}

	.heading {
		margin-top: 20px;
	}

	.sub-title {
		margin-bottom: 10px;
		padding-left: 0 !important;
	}

	.tag-input {
		box-shadow: none;
		padding: 0 12px 0 22px;
	}

	.hash-label {
		position: absolute;
		line-height: 36px;
		margin-left: 14px;
		opacity: 0;
		transition: opacity 0.50s linear;

		&.active {
			opacity: 1;
		}
	}

	.typeahead-container {
		padding: 0 0 200px 0!important;
		position: relative;

		&.open {
			.dropdown-menu {
				opacity: 1;
			}
		}

		.dropdown-menu {
			margin-top: 0 !important;
			width: 100% !important;
			max-height: 203px;
			box-shadow: none;
			background-color: #fff;
			border: none;
			color: #666;
			padding: 10px 0 !important;
			top: 34px;
			overflow: hidden;
			opacity: 0;
			transition: opacity 0.50s linear;

			&:hover {
				overflow-y:auto;
				overflow-y:overlay;
			}
			&::-webkit-scrollbar {
			  width: 6px;
			}
			&::-webkit-scrollbar-thumb {
			  background: #cdcccc;
			}

			.active .tag {
				background-color: #3b91e0;
			}
		}

		.divider {
			width: 100%;
			margin: 0;
			background-color: #fff;
			padding-top: 6px;
			border-bottom: 1px dashed #6c99da;
			display: inline-block;
		}
	}

	.tag {
		background-color: #2a85d8;
		color: #fff;

		&:hover {
			background-color: #3b91e0;
		}
	}

	.ep-tag {
		color: #568b08;
	  background-color: #e5f2d2;

	  .ynicon-level {
	  	margin-right: -5px;
	  }

	  &:hover {
			background-color: #D2F1A5;
		}
	}

	.tag,
	.ep-tag {
		border: 1px solid transparent;
		border-radius: 12px;
		margin: 5px 5px 0 0;
		cursor: pointer;
		font-size: 13px;
		display: block;
		padding: 3px 8px;
	}

	.typeahead-defaults {
		color: #666;
		padding: 10px 0 !important;
		border-top: none;
		max-height: 201px;
		opacity: 0;
		transition: opacity 0.50s linear;
		overflow-y: auto;
		transform: translateZ(0);

		&.active {
			opacity: 1;
		}
	}

	.snapshot {
		width: 100px;
		height: 75px;
		background-color: #ccc;
		text-align: center;
		padding: 0 !important;
		position: relative;

		.btn-transparent {
			top: 30%;
			left: 30%;
			position: absolute;
			opacity: 0.7;

			&:hover {
				opacity: 1;
			}
		}

		.ynicon-camera {
			font-size: 26px;
			color: #fff;
		}

		img {
			width: 100%;
		}
	}

	.snapshot-description {
		padding-right: 0 !important;
		width: 260px;

		input {
			box-shadow: none;
		}

		.btn-transparent {
			font-size: 20px;
			margin-top: 15px;
			margin-left: 5px;
			width: 26px;
		}

		.ynicon-icon-share-tw,
		.ynicon-social-tm,
		.ynicon-icon-share-fb,
		.ynicon-icon-share-yt {
			color: #ccc;
		}

		.ynicon-icon-share-tw-on {
			color: #01aff6;
		}

		.ynicon-icon-share-fb-on {
			color: #3759bd;
		}

		.ynicon-icon-share-tm-on {
			color: #36465d;
		}
	}

	.btn-primary {
		min-width: 170px;
		font-size: 18px;
		margin: 130px auto 0 auto;
		display: block;

		&:focus {
			box-shadow: 0px 0px 1px 1px #6AAA0B !important;
		}
	}
}
