.main-content.explore-content {

	.main-content-left {
		width: 700px;
		min-height:100vh;
		float: left;
		margin-left: 0px;
	}
	.main-content-right {
		width: 300px;
		float: right;
		margin-right: 5px;
		overflow: hidden;
	}

	.explore_header {
		margin:0 0 15px;
	}

	.result {
		float:left;
		margin-right:4px;
		height: 179px;
		overflow:hidden;
		.result-text {
			position:relative;
			display:block;
			overflow:hidden;
			max-width: 169px;
			&.text2 {
				margin-left:3px;
			}
		}

		.box-thumb {
			width: 168px;
			height: 126px;
			cursor: pointer;
			position: relative;
			display: block;
		}

		.user-profile {
			height: 100%;
			display: block;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}

		.user-tag {
			bottom: 0;
			color: #FFFFFF;
			padding-left: 5px;
			padding-bottom: 8px;
			padding-top: 5px;
			width: 122px;
			font-size: 18px;
			font-weight: 100;

			z-index: 100;
			display: block;
			bottom: 0;
			position: absolute;

			&:hover {
				text-decoration: underline;
			}
		}

		.name {
			font-weight: bold;
			font-size: 13px;
		  	margin-top: 7px;
		  	cursor: pointer;

		  	&:hover {
			  	text-decoration: underline;
		  	}
		}

		.ynicon-broadcast {
			color: #61c13e;
			margin-right: 5px;
		}

		.user-viewers,
		.user-fans,
		.user-status {
			color:#999999;
			font-size:12px;
			margin-bottom: 10px;
		}

		.user-status {
			margin-right: 5px;
		}

	}


	.explore_results {
		margin:0 0 40px;
		.explore_header {
		}
		.explore_items {
		}
		.explore_more {
			background:#fff;
			margin:0 14px 55px 0;
			padding:8px;
			border-radius:5px;
			color:#2782d4;
			text-align:center;
			cursor:pointer;
		}
	}
	.explore_results.tag {
		.result {
			position:relative;
			border:solid 1px #ccc;
			border-radius:4px;
			background:#fff;
			margin:0 6px 9px 0;
			width:225px;
			height:303px;
			.box-thumb {
				width: 100%;
				height: 126px;
				margin: 0;
			}
			.tagged-thumb {
				display:block;
				position: absolute;
				top: 108px;
				width: 55px;
				height: 55px;
				left: 6px;
				.circle-thumb {
					width: 55px;
					height: 55px;
					z-index:100;
				}
			}
			.tagged-text {
				position:relative;
				.tagged-title {
					margin-left:70px;
					width:152px;
				}
				.tagged-fans {
					margin-left:73px;
				}
				.tagged-desc {
					margin:0 2px 0 7px;
				}
			}
			.tagged-button {
				position: absolute;
				bottom: 10px;
				left: 8px;
			}
			.wide_button_container {
				width: 207px;
				.btn-fan {
					width:100%;
					font-size: 14px;
					height: 30px;
				}
			}
		}
	}



	.side-column {
		position: relative;
		transition: margin-top 0.60s linear;
		margin-left: 30px;
	}

	.mini-player {
		margin-bottom: 20px;

		.broadcast-info {
			margin-bottom: 13px;

			&, .name {
				font-size: 14px;
			}
		}

		.name:hover {
			text-decoration: none;
		}
	}

	.column-list {
		width: 300px;
		margin-bottom: 20px;

		.title {
			margin-bottom: 10px;
			font-weight: bold;
		}

		.column-scroll {

			.list-item {
				margin-top: 5px;
				position:relative;

				.circle-thumb {
					cursor: pointer;
				}

				.description  {
					width: 138px;
					height: 42px;
					vertical-align: middle;
					display: inline-block;
					line-height: 42px;
					padding-left: 20px;
					font-size: 13px;
					font-weight: bold;
				}

				.fan-button-placeholder {
					position: absolute;
					right: 0px;
					top: 11px;

					.btn-to-fan {
						background-color: transparent;
					}
				}
			}
		}
	}
}
