.partner-agreement-modal {
  width: 348px;
  height: 168px; }
  .partner-agreement-modal .agreement-title {
    text-align: center;
    font-weight: bold; }
  .partner-agreement-modal .agreement-message {
    font-size: 13px;
    width: 251px;
    text-align: center;
    margin: 0 auto;
    padding: 5px 0 25px 0;
    line-height: 13px; }
  .partner-agreement-modal .actions {
    text-align: center; }
  .partner-agreement-modal .btn-primary, .partner-agreement-modal .btn-cancel {
    width: 100px;
    height: 30px; }
