<div>
<div class="m-wrapper yn-green">
	<div class="m-head">
		<img ng-src="{{::thankyou.config.settings.ServerCDNBaseUrl}}/angularmobile/src/assets/images/now-logo.png">
		Live Streaming & Video Chat
	</div>


		<div id="thankyou-holder">

			<div id="thankyou">
				Now you have the App you<br>can find amazing broadcasts!
			</div>

			<a href="younow://default" class="m-button yn-blue open-app" ng-click="thankyou.trackClick('ExploreYounow', 'younow://default')">
				Explore YouNow
			</a>

		</div>

	<a ng-href="{{::thankyou.config.yozio.yozioLink}}" ng-click="thankyou.trackClick('ThankYouGetTheApp', live.config.yozio.yozioLink)" id="footer">
		<div class="center-text bottom-text">Didn't get the App? <div class="text-underline">Download it now</div></div>
	</a>
</div>

	    <img ng-src="{{::thankyou.config.yozio.yozioImpression}}" width="1px" style="display:none">
</div>