.thankyou-holder {
    font-size:17px !important;
    background-color: #8ABA0F;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:90%;
    text-align: center;
    vertical-align: middle;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.yn-green {
    background-color: #8ABA0F;
}

#now-logo {
    background: url("now-logo.png") no-repeat fixed center;
}

#thankyou {
    margin:0 15px 0 15px;
    margin-top: 120px;
    text-align:center;
}

.center-text {
    text-align: center;
    color: #fff;
}

.text-underline {
    text-decoration: underline;
}

#footer {
    position:fixed;
    bottom:0;
    width:100%;
}

.bottom-text {
    text-align: center;
    padding: 20px;
}

.center-element {
    position:fixed;
    top:35%;
    width:100%;
    padding-bottom:40px;
}

.m-button {
    margin:0 auto;
    text-align: center;
    padding:20px;
    margin-top:30px;
    width:70%;
    color: white;
    border-radius: 5px;
    font-size: 22px;
    display: block;
    color: #fff!important;
}

a {
    text-decoration: none;
    color: white;
}

.yn-blue {
    background-color:#2B84D9;
}

.open-the-app {

}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 680px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    #thankyou {
        margin-top:120px;
    }
 
    .open-app {

    }
}