<div class="root_experiment root_experiment_button">
<div thin-banner></div>
<table class="root_content" style="background:#fbfbfb;padding:0;">
	<tr><td class="root_logo root_background" ng-style="::{'background-image':'url('+vm.config.mobileImageUrls.assetsMobile+'/landing_search.jpg)'}">
		
		<img class="logo_image" ng-src="{{::vm.config.settings.ServerCDNBaseUrl}}{{::vm.config.mobileImageUrls.assets}}/images/logo/skewed_white.svg" />
		<div class="logo_title">
			Live Stream Video Chat
		</div>
		<div class="logo_subtitle">
			Discover talented broadcasters &amp; chat live with people from around the world for free.
		</div>

	</tr></td>
	<tr><td>

		<div class="livenow_search_container livenow_butt_container">
			<div>Search for a broadcaster</div>
			<table class="livenow_search livenow_butt" ng-click="vm.trackClick('Home_Search', vm.config.yozio.yozioLink)"><tr>
			<td width="1">
				<i class="ynicon ynicon-search"></i>
			</td>
			<td>
				
			</td>
			<td width="1">
				OK
			</td>
			</tr></table>
		</div>
		<div class="livenow_button_container livenow_butt_container">
			<div>or download YouNow App</div>
			<button class="livenow_button livenow_butt" ng-click="vm.trackClick('Home_GetTheApp', vm.config.yozio.yozioLink)"><div>Get the App</div></button>
		</div>

	</tr></td>
</table>
</div>
