.root_experiment {
  /* root_b = trending*/
  /* root_c = search */
  font-family: arial, sans-serfi;
  color: #fff; }
  .root_experiment .watchlive_above {
    margin: 14px auto 21px;
    padding: 0; }
    .root_experiment .watchlive_above h2 {
      margin: 0 0 5px;
      padding: 0;
      font-size: 28px; }
  .root_experiment .watchlive_below {
    margin: 21px auto 28px auto;
    padding: 0; }
  .root_experiment .live_image {
    margin-bottom: 7px;
    margin-top: 35px; }
  .root_experiment .watchlive_button {
    margin-bottom: 42px; }
  .root_experiment .logo_image {
    padding-top: 10px; }
  .root_experiment .logo_title {
    font-size: 26px;
    padding: 15px 0 30px; }
  .root_experiment .logo_subtitle {
    font-size: 18px;
    padding: 0 15px 24px; }
  .root_experiment .livenow_butt_container {
    width: 88%;
    max-width: 400px;
    min-wight: 240px;
    margin: 0 auto;
    color: #999; }
    .root_experiment .livenow_butt_container > div {
      padding: 25px 0 15px;
      text-align: center;
      font-size: 19px; }
    .root_experiment .livenow_butt_container .livenow_butt {
      width: 100%;
      color: #fff;
      background: #61c03e;
      border-radius: 5px;
      overflow: hidden;
      border: solid 1px #999; }
      .root_experiment .livenow_butt_container .livenow_butt i {
        color: #999; }
  .root_experiment table.livenow_search {
    padding: 0;
    margin: 0;
    border-spacing: 0;
    font-size: 18px;
    line-height: 100%; }
    .root_experiment table.livenow_search td {
      padding: 12px 10px; }
    .root_experiment table.livenow_search td:first-child {
      background: #fff; }
    .root_experiment table.livenow_search td:nth-child(2) {
      background: #fff; }
  .root_experiment .livenow_button_container .livenow_button {
    font-size: 22px;
    border-color: #61c03e;
    margin-bottom: 100px; }
    .root_experiment .livenow_button_container .livenow_button > div {
      padding: 6px; }
  .root_experiment .root_background {
    background-size: cover;
    background-position: center 25%;
    background-repeat: no-repeat;
    background-color: #3399cc; }
  .root_experiment .root_content {
    height: calc(100vh - 100px);
    width: 100vw; }
  .root_experiment.root_experiment_button .root_content {
    height: 100vh;
    padding: 0; }
  .root_experiment.root_experiment_banner_top .root_content {
    padding: 0 0 15px; }
    .root_experiment.root_experiment_banner_top .root_content .root_logo img {
      margin: -5vh; }
  .root_experiment.root_experiment_banner_bottom {
    padding-bottom: 100px; }
    .root_experiment.root_experiment_banner_bottom .root_content {
      padding: 0 0 30px; }
      .root_experiment.root_experiment_banner_bottom .root_content .root_logo img {
        margin: -2.5vh -5vh -5vh; }
    .root_experiment.root_experiment_banner_bottom .banner_bottom {
      position: fixed;
      bottom: 0;
      width: 100%; }
  .root_experiment .root_logo {
    color: #fff;
    text-align: center; }
    .root_experiment .root_logo img {
      width: 40%;
      height: auto;
      display: inline-block;
      margin: -10px auto; }
  .root_experiment .root_blurb {
    color: #fff;
    text-align: center;
    font-size: 125%;
    line-height: 125%;
    margin: 0 auto auto;
    font-weight: 100;
    width: 70%;
    max-width: 480px; }
  .root_experiment .root_button {
    background: #85D855;
    border-radius: 10px;
    width: 70%;
    margin: 10px auto 60px; }
    .root_experiment .root_button table {
      margin: 0 auto; }
    .root_experiment .root_button td {
      padding-top: 8px;
      padding-bottom: 5px; }
    .root_experiment .root_button .button_logo img {
      display: inline-block;
      height: 40px;
      width: auto; }
    .root_experiment .root_button .button_text {
      font-size: 15px;
      line-height: 18px; }
      .root_experiment .root_button .button_text img {
        display: inline-block;
        height: 25px; }
  .root_experiment.root_experiment_banner .root_logo {
    color: #fff;
    text-align: center; }
    .root_experiment.root_experiment_banner .root_logo img {
      width: 33%;
      height: auto;
      display: inline-block; }
  .root_experiment.root_experiment_banner .root_title {
    color: #fff;
    text-align: center;
    font-size: 150%;
    margin: 8% 10%;
    font-weight: 100; }
  .root_experiment.root_experiment_banner .root_blurb {
    color: #fff;
    text-align: center;
    font-size: 120%;
    margin: auto;
    font-weight: 100; }
  .root_experiment.root_experiment_banner .root_banner {
    background: #fff;
    color: #666;
    height: 100px;
    cursor: pointer;
    min-height: 95px; }
    .root_experiment.root_experiment_banner .root_banner table {
      width: 100%;
      margin: 0 auto; }
    .root_experiment.root_experiment_banner .root_banner table .td_top {
      vertical-align: top;
      padding-top: 5px; }
    .root_experiment.root_experiment_banner .root_banner table .td_bottom {
      vertical-align: bottom;
      padding-bottom: 10px; }
    .root_experiment.root_experiment_banner .root_banner .banner_logo img {
      background: #56b836;
      border-radius: 10px;
      display: inline-block;
      margin: 10px 15px 0;
      width: 70px;
      height: 70px; }
    .root_experiment.root_experiment_banner .root_banner .banner_logo.an_logo {
      margin: 9px 7px 0px 9px; }
      .root_experiment.root_experiment_banner .root_banner .banner_logo.an_logo img {
        display: inline-block;
        padding: 4px;
        margin: 1px;
        border-radius: 50%;
        width: 30px;
        height: 30px; }
    .root_experiment.root_experiment_banner .root_banner .banner_title {
      font-weight: bold; }
      .root_experiment.root_experiment_banner .root_banner .banner_title.an_title {
        margin-top: 8px; }
    .root_experiment.root_experiment_banner .root_banner .banner_subtitle {
      color: #999;
      font-size: 75%; }
    .root_experiment.root_experiment_banner .root_banner .banner_stars img {
      height: 12px; }
    .root_experiment.root_experiment_banner .root_banner .banner_get {
      font-weight: bold;
      font-size: 80%; }
      .root_experiment.root_experiment_banner .root_banner .banner_get.an_get {
        float: right;
        margin: 5px 0 0 -3px; }
        .root_experiment.root_experiment_banner .root_banner .banner_get.an_get img {
          height: 18px;
          vertical-align: middle; }
    .root_experiment.root_experiment_banner .root_banner .banner_view {
      text-align: right; }
      .root_experiment.root_experiment_banner .root_banner .banner_view.ap_view {
        padding: 15px; }
        .root_experiment.root_experiment_banner .root_banner .banner_view.ap_view a {
          color: #298cda; }
      .root_experiment.root_experiment_banner .root_banner .banner_view.an_view {
        float: right;
        padding: 5px 15px 0; }
        .root_experiment.root_experiment_banner .root_banner .banner_view.an_view a {
          color: #fff;
          background: #7b9b37;
          padding: 7px 21px;
          font-weight: 100;
          font-size: 90%;
          border-radius: 2px; }

@media only screen and (max-device-width: 414px) {
  .banner_get.an_get {
    padding-top: 10px;
    padding-right: 15px; }
 }

@media only screen and (max-device-width: 330px) {
  .root_banner .ap_logo img {
    margin-right: 10px; }
  .root_banner .banner_iText {
    font-size: 90%;
    padding-top: 8px;
    line-height: 120%; }
    .root_banner .banner_iText .banner_title {
      margin-right: -20px; }
  .root_banner .banner_view.app_view {
    padding-top: 22px; }
 }

@media all and (orientation: landscape) {
  .root_experiment .watchlive_blurbs {
    position: fixed;
    top: 6vh;
    right: 0;
    width: 220px; }
  .root_experiment .watchlive_below br {
    display: none; }
 }
