.btn-fan, .btn-subscribe {
  border: solid 1px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 13px;
  outline: 0 !important;
  box-shadow: none;
  text-shadow: none;
  line-height: 100%;
  padding: 0px 7px;
  margin: 0;
  color: #2782d4;
  background-color: #ffffff;
  border-color: #2782d4;
  min-width: 82px; }
  .btn-fan .text_wide, .btn-subscribe .text_wide {
    display: none; }
  .btn-fan:hover, .btn-fan:focus, .btn-subscribe:hover, .btn-subscribe:focus {
    color: #54a3eb;
    background-color: #ffffff;
    border-color: #54a3eb; }
  .btn-fan span, .btn-subscribe span {
    color: inherit;
    font-weight: inherit; }

.btn-fan.wide .text_regular {
  display: none !important; }
.btn-fan.wide .text_wide {
  display: inline !important; }

.btn.btn-subscribe {
  margin: 0 0 0 7px; }

.btn-fanned, .btn-fanned:focus {
  color: #ffffff;
  background-color: #2a85d8;
  border-color: #2a85d8; }
  .btn-fanned:hover, .btn-fanned:focus, .btn-fanned:focus:hover, .btn-fanned:focus:focus {
    color: #ffffff;
    background-color: #54a3eb;
    border-color: #54a3eb; }

.btn.btn-subscribed {
  color: #666;
  background-color: transparent;
  border-color: transparent;
  font-weight: bold;
  padding-left: 0;
  cursor: default; }
  .btn.btn-subscribed:hover, .btn.btn-subscribed:focus {
    color: #666;
    background-color: #fff;
    border-color: #fff; }

/*
	TWEAKS
*/
li.fan .fan-cont .fan-button-placeholder {
  margin-top: 5px; }

.fullscreen .btn-fan, .fullscreen .btn-subscribe {
  font-size: 14px;
  background-color: transparent !important;
  border-color: transparent !important; }
  .fullscreen .btn-fan span, .fullscreen .btn-fan i, .fullscreen .btn-subscribe span, .fullscreen .btn-subscribe i {
    color: #fff;
    font-weight: bold; }

.fullscreen .btn-fanned {
  display: none !important; }

.fullscreen .btn-subscribed {
  background-color: transparent !important;
  border-color: transparent !important; }
  .fullscreen .btn-subscribed span, .fullscreen .btn-subscribed i {
    color: rgba(255, 255, 255, 0.6);
    font-weight: normal; }
