.ep-modal {
  margin-top: 10%; }
  .ep-modal .modal-content {
    width: 430px;
    height: 350px;
    margin: 0 auto; }
  .ep-modal .panel-one {
    z-index: 10; }
  .ep-modal .panel-two {
    z-index: 20;
    position: absolute;
    top: 0;
    right: 500px;
    width: 100%;
    height: 95%;
    background-color: #fff;
    border-radius: 4px;
    transition: right 0.8s ease-in; }
    .ep-modal .panel-two.active {
      right: 0; }
    .ep-modal .panel-two .ep-badge {
      width: 120px;
      margin-top: 5px;
      margin-bottom: 5px; }
    .ep-modal .panel-two .bottom {
      padding: 5px;
      margin-top: 60px; }
  .ep-modal .modal-body {
    padding-top: 30px;
    overflow: hidden; }
  .ep-modal .circle-thumb {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    z-index: 10; }
  .ep-modal .ep-thumb {
    width: 120px;
    margin: 0 auto; }
    .ep-modal .ep-thumb .ep-badge {
      margin-top: -5px; }
  .ep-modal .ep-tag {
    margin-top: 30px;
    text-align: center; }
  .ep-modal .title {
    font-weight: 300; }
  .ep-modal .sub-title {
    text-align: center;
    font-size: 13px;
    margin-top: -10px;
    margin-bottom: 10px; }
  .ep-modal .ep-desc {
    width: 350px;
    margin: 0 auto;
    font-size: 13px;
    text-align: center; }
  .ep-modal .ep-list {
    list-style-type: disc;
    width: 330px;
    margin: 0 auto;
    font-size: 13px; }
    .ep-modal .ep-list li {
      margin-bottom: 7px; }
  .ep-modal .bottom {
    text-align: center;
    padding: 15px;
    margin-top: 45px; }

.ep-expired .bottom {
  margin-top: 10px; }
