/*
	RESET
*/
body {
  margin: 0; }

a {
  text-decoration: none; }

@font-face {
  font-family: "bodoni";
  src: url("http://db.onlinewebfonts.com/t/1e129bd49263cbc8354756df5045168f.eot");
  src: url("http://db.onlinewebfonts.com/t/1e129bd49263cbc8354756df5045168f.eot?#iefix") format("embedded-opentype"), url("http://db.onlinewebfonts.com/t/1e129bd49263cbc8354756df5045168f.woff2") format("woff2"), url("http://db.onlinewebfonts.com/t/1e129bd49263cbc8354756df5045168f.woff") format("woff"), url("http://www.myfontfree.com/data/543/b/bodoniboldbt/bodoni bold bt.ttf") format("truetype"), url("http://db.onlinewebfonts.com/t/1e129bd49263cbc8354756df5045168f.svg#Bodoni") format("svg"); }

/*
	GENERAL
*/
body {
  font-family: Arial, Helvetica, sans-serif; }

.my-content {
  font-family: Times, serif; }

@media (-webkit-min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.3020833333333333), (min-resolution: 125dpi) {
  .my-content {
    font-family: bodoni, "Bodoni 72", Times, serif; } }

/*
	NAV
*/
.my-top {
  position: relative;
  z-index: 10;
  padding: 10px 20px; }
  .my-top .my-nav {
    text-align: right; }

/*
	CONTENT
*/
.my-content {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto; }
  .my-content > * {
    position: relative;
    display: block;
    clear: both; }

.my-lists {
  margin: 10px; }
  .my-lists .my-list {
    margin: 10px; }
    .my-lists .my-list .my-list-header {
      margin: 0 -3px 6px; }
      .my-lists .my-list .my-list-header .my-list-title {
        text-transform: capitalize; }

.mylists {
  width: calc( 100% - 38px);
  overflow: auto;
  margin: 19px; }

.mylis {
  white-space: nowrap; }

.myli {
  display: inline-block;
  vertical-align: top;
  white-space: normal; }

@media (min-width: 0px) and (max-width: 480px) {
  .myli {
    background: yellow;
    width: 100%; } }

@media (min-width: 481px) and (max-width: 600px) {
  .myli {
    background: green;
    width: 50%; } }

@media (min-width: 601px) and (max-width: 1024px) {
  .myli {
    background: blue;
    width: 33.33%; } }

@media (min-width: 1025px) {
  .myli {
    background: violet;
    width: 25%; } }
