/*
	RESET
*/
body {
  margin: 0; }

/*
	GENERAL
*/
a {
  text-decoration: none;
  color: inherit; }

a:hover,
a:hover *, .a:hover,
.a:hover * {
  color: #00bbff;
  cursor: pointer; }

[ng-click] {
  cursor: pointer; }

@font-face {
  font-family: "Robinson";
  src: url("gfx/fonts/robinson.otf");
  src: url("gfx/fonts/robinson.woff2") format("woff2"), url("gfx/fonts/robinson.woff") format("woff"), url("gfx/fonts/robinson.ttf") format("truetype"), url("gfx/fonts/robinson.svg#Robinson") format("svg"); }

@font-face {
  font-family: "Bodoni";
  src: url("http://db.onlinewebfonts.com/t/1e129bd49263cbc8354756df5045168f.eot");
  src: url("http://db.onlinewebfonts.com/t/1e129bd49263cbc8354756df5045168f.eot?#iefix") format("embedded-opentype"), url("http://db.onlinewebfonts.com/t/1e129bd49263cbc8354756df5045168f.woff2") format("woff2"), url("http://db.onlinewebfonts.com/t/1e129bd49263cbc8354756df5045168f.woff") format("woff"), url("http://db.onlinewebfonts.com/t/7c4e4fcaeefb49b065a55b7853f4279f.ttf") format("truetype"), url("http://db.onlinewebfonts.com/t/1e129bd49263cbc8354756df5045168f.svg#Bodoni") format("svg"); }

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #666; }

.my-content {
  font-family: "Bodoni 72", Bodoni, Times, serif; }

/*
	SPECIFIC
*/
[scrollable-right],
[scrollable-left] {
  position: absolute;
  top: 0;
  right: 0;
  text-indent: 0;
  width: 24px;
  overflow: hidden;
  font-size: 155px;
  text-align: left;
  cursor: pointer;
  color: #ff00ff;
  padding: 33% 0 22%; }

[scrollable-left] {
  right: auto;
  left: 0;
  text-indent: -63px; }

/*
	TOP
*/
/*
		Desktop
	*/
.my-top {
  position: relative;
  margin: 0 0 15px;
  padding: 15px 20px 18px;
  border-bottom: solid 1px #ccc; }
  .my-top .top-logo {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 62px;
    background: url("gfx/logo-desktop.svg") center no-repeat;
    background-size: contain;
    position: relative;
    left: calc(-45px + 5%); }
  .my-top .top-left {
    position: absolute;
    left: 7px;
    top: 11px; }
    .my-top .top-left label {
      display: block;
      border: none;
      background: transparent;
      color: #ff00ff; }
      .my-top .top-left label span:before,
      .my-top .top-left label select,
      .my-top .top-left label input {
        font-size: 17px;
        line-height: 17px;
        padding: 0;
        background: transparent;
        display: inline-block;
        height: 20px;
        overflow: hidden;
        text-transform: uppercase;
        color: #ff00ff; }
      .my-top .top-left label.select-what select {
        font-weight: bold;
        letter-spacing: 0.5px; }
      .my-top .top-left label.select-search span:before,
      .my-top .top-left label.select-search select,
      .my-top .top-left label.select-search input {
        color: #cccccc; }
      .my-top .top-left label input::-webkit-input-placeholder {
        color: #cccccc; }
      .my-top .top-left label input:-moz-placeholder {
        color: #cccccc; }
      .my-top .top-left label input::-moz-placeholder {
        color: #cccccc; }
      .my-top .top-left label input:-ms-input-placeholder {
        color: #cccccc; }
      .my-top .top-left label:hover span:before,
      .my-top .top-left label:hover select,
      .my-top .top-left label:hover input {
        color: #00bbff; }
      .my-top .top-left label:hover input::-webkit-input-placeholder {
        color: #00bbff; }
      .my-top .top-left label:hover input:-moz-placeholder {
        color: #00bbff; }
      .my-top .top-left label:hover input::-moz-placeholder {
        color: #00bbff; }
      .my-top .top-left label:hover input:-ms-input-placeholder {
        color: #00bbff; }
      .my-top .top-left label.active span:before,
      .my-top .top-left label.active select,
      .my-top .top-left label.active input {
        color: #00bbff; }
      .my-top .top-left label.active input::-webkit-input-placeholder {
        color: #00bbff; }
      .my-top .top-left label.active input:-moz-placeholder {
        color: #00bbff; }
      .my-top .top-left label.active input::-moz-placeholder {
        color: #00bbff; }
      .my-top .top-left label.active input:-ms-input-placeholder {
        color: #00bbff; }
  .my-top .top-right {
    position: absolute;
    right: 2px;
    top: 9px;
    text-align: right;
    color: #ccc;
    padding: 0 0 0 15px;
    font-size: 17px;
    height: 23px; }
    .my-top .top-right > a {
      display: block; }

/* 
			Mobile
		*/
.top-mobile {
  padding: 6px 0 7px;
  border-bottom: solid 1px #ccc; }
  .top-mobile .top-logo-options img {
    height: 20px;
    margin: 1px auto;
    display: block; }
  .top-mobile .top-left {
    font-size: 19.5px;
    position: absolute;
    left: 1px;
    top: 5px; }
    .top-mobile .top-left span:first-child {
      color: #ff00ff; }
    .top-mobile .top-left .ion-search {
      margin: 0 0 0 -12px;
      font-size: 25px;
      color: #ccc; }
    .top-mobile .top-left .ion-search:before {
      line-height: 1em; }
  .top-mobile .top-right {
    font-size: 20px;
    position: absolute;
    right: 0px;
    top: 3px; }

.top-mobile.mobile-options {
  color: #ccc;
  position: absolute;
  background: #fff;
  transition: top 1s;
  font-family: Robinson, sans-serif;
  font-size: 17px;
  width: 100%;
  padding: 5px 1px 4px;
  top: 0;
  left: 0; }
  .top-mobile.mobile-options > a {
    margin: 0 3px 0 1px; }
    .top-mobile.mobile-options > a .uui-text {
      color: #666; }
    .top-mobile.mobile-options > a:hover .uui-text {
      color: inherit; }
  .top-mobile.mobile-options > a:last-child {
    float: right;
    padding: 2px 0; }

.top-mobile.mobile-options.hidden {
  top: -45px; }

.top-mobile.mobile-select label {
  width: calc(33% - 41px);
  display: inline-block;
  border: 0;
  margin: 0 2px 0 5px;
  vertical-align: middle;
  padding: 0;
  font-size: 100%;
  line-height: 100%; }
  .top-mobile.mobile-select label span:before {
    font-size: 1.25em;
    line-height: 1.5em;
    background: #fff; }
  .top-mobile.mobile-select label.item-select,
  .top-mobile.mobile-select label select {
    color: #ff00ff;
    background: #fff;
    text-transform: uppercase; }
  .top-mobile.mobile-select label:hover select {
    color: #00bbff; }
  .top-mobile.mobile-select label.active select,
  .top-mobile.mobile-select label.active span:before {
    color: #00bbff; }
  .top-mobile.mobile-select label.select-search {
    color: #ccc; }

.top-mobile.mobile-select .select-submit {
  color: #ff00ff;
  width: auto; }
  .top-mobile.mobile-select .select-submit .uui-text {
    margin-left: -5px; }

.top-mobile.mobile-select .select-cancel {
  color: #ccc;
  width: auto;
  padding-left: 10px; }

/*
	CONTENT
*/
.my-content {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto; }
  .my-content > * {
    display: block;
    clear: both; }

/*
	STYLE
*/
.mylists {
  width: calc( 100% - 48px);
  overflow: auto;
  margin: 0 0 0 25px; }

.mylis {
  white-space: nowrap; }

.myli {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  padding: 0 4px 0 6px;
  height: calc(100vh - 120px); }
  .myli .myli-header {
    font-size: 19px;
    margin: 5px 0 10px;
    color: #ff00ff;
    text-transform: uppercase; }
    .myli .myli-header .active {
      color: #00bbff; }
  .myli .myli-buttons {
    float: right;
    margin: 1px 6px;
    display: none; }

/*
	COLUMNS
*/
@media (min-width: 0px) and (max-width: 500px) {
  .myli {
    width: 100%; } }

@media (min-width: 501px) and (max-width: 800px) {
  .myli {
    width: 50%; } }

@media (min-width: 801px) and (max-width: 1280px) {
  .myli {
    width: 33.33%; } }

@media (min-width: 1281px) {
  .myli {
    width: 25%; } }

/*
	EVENT
*/
.events {
  font-family: serif; }
  .events .events-timestamp {
    font-weight: bold;
    text-transform: uppercase; }
  .events .events-event {
    font-weight: normal;
    text-transform: lowercase;
    margin: 5px 0; }
