/*
	UI
*/
[class^="uui-"],
[class*=" uui-"] {
  position: relative;
  height: 24px;
  font-size: 18px;
  display: inline-block;
  vertical-align: middle; }

.uui-title {
  position: relative;
  height: 24px;
  line-height: 24px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  color: #333; }

.uui-text {
  position: relative;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  color: #333; }

.uui-icon,
.uui-button {
  width: 24px;
  padding: 0;
  text-align: center; }

.uui-icon {
  border: none;
  background: transparent; }

.uui-button {
  border: none;
  background: transparent; }
  .uui-button.uui-circle {
    border-radius: 50%; }
  .uui-button.uui-square {
    border-radius: 2px; }

.uui-icon:before,
.uui-button:before {
  vertical-align: top;
  position: relative;
  font-size: 90%;
  color: #666; }

.uui-icon[class^="ion-"]:before, .uui-icon[class*=" ion-"]:before,
.uui-button[class^="ion-"]:before,
.uui-button[class*=" ion-"]:before {
  font-size: 100%; }

a.uui-icon:before {
  vertical-align: middle;
  top: 0; }

.uui-hollow:before {
  text-shadow: 0 0 1px #000;
  color: #fff; }

.uui-hollow:hover:before {
  text-shadow: #fff;
  color: #000; }

.uui-hover-yellow:hover:before {
  color: #fbbc05;
  text-shadow: none; }
